<h1>フォロワー
  {% if query %}
  <section class="messages_search">「{{ query }}」の検索結果「{{ count }}」件</section>
  {% endif %}
</h1>

{% if user.is_authenticated %}
<div class="follow_button">
  <a href="{% url 'myus:follow_list' %}" class="btn btn-primary btn-sm pjax_button" role="button">フォロー</a>
  <span>フォロワー数：{{ user.mypage.follower_num }}</span>
</div>

<article class="main_article">
  {% include 'parts/article_follower.html' %}
</article>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}
