{% extends 'chat/chat_detail.html' %}

{% block content %}
{% include 'chat/json_script_chat.html' %}
<main class="main_contents">
  <article class="article_detail_chat">
  {% if object.publish %}
    <div class="chat_section">
      <input type="checkbox" class="comment_aria_check" checked>
      {% include 'chat/chat_section/chat_section_header.html' %}
      {% include 'chat/chat_section/chat_section_main.html' %}
      {% include 'chat/chat_section/chat_section_thread.html' %}
    </div>
  {% else %}
  <h2 class="unpublished">非公開に設定されてます!</h2>
  {% endif %}
  </article>
</main>
{% endblock content %}
