{% extends 'base.html' %}
{% block title %}<title>MyUsログイン</title>{% endblock title %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main">
  <form method="POST" action="" class="form_account">
    {% csrf_token %}
    <h1 class="login_h1">MyUsへようこそ</h1>
    <!-- <h1 class="myus_h1">MyUsへようこそ</h1> -->

    {% if messages %}
    <ul class="messages_login">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <input type="text" name="username" placeholder="ユーザー名 or メールアドレス" class="input mb_16" required autofocus>
    <input type="password" name="password" placeholder="パスワード" minlength="8" maxlength="16" class="input mb_16" required>

    <div class="password_reset">
      <a href="{% url 'myus:password_reset' %}">パスワードをリセット</a>
    </div>

    <button type="submit" class="button blue xl w_full mb_24">ログイン</button>
    <button type="button" onclick="location.href='{% url 'myus:signup' %}'" class="button green xl w_full mb_24">アカウント登録</button>
  </form>
</main>
{% endblock content %}
