.select {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  appearance: none;
  font-size: 14px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;

  &:focus-visible {
    outline: 1px auto rgb(40, 130, 250);
  }
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  color: rgb(50, 50, 50);
}
