{% extends 'base2.html' %}
{% block title %}<title>MyUsピクチャー</title>{% endblock title %}
{% load static %}
{% load humanize %}

{% block content %}
<main class="main_contents">
  <article class="article_detail">
    {% if object.publish %}
    <div class="main-image-color">
      <a href="{{ object.images.url }}" data-lightbox="group">
        <figure class="main-image">
          <img src="{{ object.images.url }}">
        </figure>
      </a>
    </div>

    <div class="article_detail_section_side">
      <div class="article_detail_section_1">
        {% include 'parts/common/common.html' %}
      </div>
      <div class="article_detail_section_2">
        {% include 'parts/article_picture_detail.html' %}
      </div>
    </div>
    {% else %}
    <h2 class="unpublished">非公開に設定されてます!</h2>
    {% endif %}
  </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax_comment.js' %}"></script>
{% endblock extrajs %}
