{% if reply.author_id == user_id %}
<div class="edit_button_reply">
  <div comment-id="{{ reply.id }}" class="edit_button">
    <a name="update" class="edit_button_update">編集</a>
    <a name="delete" class="edit_button_delete">削除</a>
    <div id="modal_content_{{ reply.id }}" class="modal_content">
      <h2 class="modal_content_header">メッセージの削除</h2>

      <span class="modal_content_body_span">このメッセージを削除しますか？</span>

      <div class="modal_content_body">
        <div class="comment_aria_list">
          <a href="{% url 'myus:userpage' reply.author.nickname %}" data="{{ reply.author.nickname }}" class="pjax_button_userpage">
            <img src="{{ reply.author.image }}" title="{{ reply.author.nickname }}" class="profile_image_comment">
          </a>
          <div class="comment_aria_list_1">
            <p>{{ reply.author.nickname }}</p>
            <time>{{ reply.created|date:'Y/m/d H:i' }}</time>
          </div>
          <div id="modal_comment_{{ reply.id }}" class="comment_aria_list_2">{{ reply.text|linebreaksbr|urlize }}</div>
        </div>
      </div>

      <form method="POST" action="" obj-id="{{ obj_id }}" path="{{ obj_path }}" comment-id="{{ reply.id }}" parent-id="{{ reply.parent.id }}" csrf="{{ csrf_token }}" class="modal_content_footer">
        <button type="button" name="cancel" class="button s modal_cancel">キャンセル</button>
        <button type="button" name="delete" class="button red s edit_delete">削除</button>
      </form>
    </div>
    <div id="mask_{{ reply.id }}" class="mask modal_cancel"></div>
  </div>
</div>
{% endif %}
