{% load static %}

<form method="POST" action="" id="comment_aria_list_reply_{{ comment.id }}" obj-id="{{ obj_id }}" path="{{ obj_path }}" comment-id="{{ comment.id }}" csrf="{{ csrf_token }}" class="comment_aria_list_4">
  <div class="reply_input">
    {% if user.is_authenticated %}
    <a href="{% url 'myus:userpage' user.nickname %}" data="{{ user.nickname }}" class="pjax_button_userpage">
      <img src="{{ user.image }}" title="{{ user.nickname }}" class="profile_image_reply">
    </a>
    <textarea name="reply" rows="1" placeholder="返信コメント入力" id="reply_{{ comment.id }}" class="textarea_br reply_area"></textarea>
    <div class="reply_button_group">
      <button type="button" name="cancel" class="button xs reply_cancel_button">キャンセル</button>
      <button type="button" name="reply_form" id="reply_button_{{ comment.id }}" class="button blue xs reply_form form_button" disabled>コメント</button>
    </div>
    {% else %}
    <img src="{% static 'img/user_icon.png' %}" title="Anonymous" class="profile_image_reply">
    <textarea name="reply" rows="1" placeholder="返信コメントするにはログインが必要です!" class="textarea_br" disabled></textarea>
    <div class="reply_button_group">
      <button type="button" name="cancel" class="button xs reply_cancel_button">キャンセル</button>
      <button type="button" name="reply_form" class="button blue xs" disabled>コメント</button>
    </div>
    {% endif %}
  </div>
</form>
