.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 6px 12px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  transition: border-color 0.2s, background 0.2s;
  user-select: none;
  cursor: pointer;

  .label {
    font-size: 14px;
    color: rgb(50, 50, 50);
  }

  .toggle {
    display: flex;
    align-items: center;
    color: rgb(0, 40, 80);
  }

  &.active {
    border-color: rgb(40, 130, 250);
    background: rgb(245, 250, 255);

    .toggle {
      color: rgb(10, 110, 250);
    }
  }

  &.disable {
    opacity: 0.5;
    cursor: default;
  }
}
