{% extends 'base2.html' %}
{% block title %}<title>MyUsマイページ設定</title>{% endblock title %}

{% block content %}
<main class="main_contents">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <article class="main_profile">
            <h1>Myページ設定</h1>
            {% if messages %}
            <ul class="messages_profile">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li><br>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="btn-column">
                <div class="btn-column1">
                    <input type="submit" value="登録" id="submit" class="btn btn-success btn-sm">
                </div>
                <div class="btn-column2">
                    <a href="{% url 'myus:mypage' %}" path="{% url 'myus:pjax' %}" class="btn btn-primary btn-sm pjax_button" role="button">戻る</a>
                </div>
            </div>

            <table>
                <thead>
                    <tr><th class="td-color td-header">バナー画像</th>
                        <th valign="baseline">
                            <label for="account_image_input" class="update_account_image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="3.5em" height="3.5em" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                                </svg>
                                <input type="file" name="mypage_image" accept="image/*" id="account_image_input" class="custom-file-input">
                            </label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td class="td-color">投稿者名</td><td class="td-indent">{{ user.nickname }}</td></tr>
                    <tr><td class="td-color">メールアドレス</td><td><input type="text" name="mypage_email" value="{{ user.mypage_email }}" placeholder="メールアドレス" maxlength="120" class="form-control"></td></tr>
                    <tr><td class="td-color">フォロー数</td><td class="td-indent">{{ user.following_count }}</td></tr>
                    <tr><td class="td-color">フォロワー数</td><td class="td-indent">{{ user.follower_count }}</td></tr>
                    <tr><td class="td-color">料金プラン</td><td class="td-indent">{{ user.get_rate_plan_display }}</td></tr>
                </tbody>
                <tfoot>
                    <tr><td class="td-color td-footer">概要</td><td class="td-footer"><textarea name="content" rows="1" placeholder="ユーザページ概要" class="form-control textarea">{{ user.content }}</textarea></td></tr>
                </tfoot>
            </table>

            {% include 'parts/footer-myus.html' %}
        </article>
    </form>
</main>
{% endblock content %}
