{% extends 'base2.html' %}
{% block title %}<title>MyUsマイページ設定</title>{% endblock title %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">
{% endblock customcss %}

{% block content %}
<main class="main_contents">
    <article class="main_profile">
        <h1>Myページ設定</h1>
        {% if user.is_authenticated %}
        
        <div class="btn-column">
            <div class="btn-column1">
                <a href="{% url 'myus:mypage_update' %}" class="btn btn-success btn-sm" role="button">編集</a>
            </div>
            <div class="btn-column2">
                <a href="{% url 'myus:userpage' user.nickname %}" class="btn btn-success btn-sm" role="button">ユーザページ</a>
            </div>
        </div>

        <table border="1" bordercolor="green">
            <thead>
                <tr><th class="td-color">バナー画像</th>
                    <th>
                        <label for="account_image_input" class="mypage_image">
                            <a href="{{ user.mypage_image.url }}" data-lightbox="group"><img src="{{ user.mypage_image.url }}" title="{{ user.nickname }}" width="270px" height="56xp" data-lightbox="group"></a>
                        </label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr><td class="td-color">投稿者名</td><td class="td-indent">{{ user.nickname }}</td></tr>
                <tr><td class="td-color">メールアドレス</td><td class="td-indent">{{ user.mypage_email }}</td></tr>
                <tr><td class="td-color">フォロー数</td><td class="td-indent">{{ user.following_count }}</td></tr>
                <tr><td class="td-color">フォロワー数</td><td class="td-indent">{{ user.follower_count }}</td></tr>
            </tbody>
            <tfoot>
                <tr><td class="td-color">内容</td><td class="td-indent">{{ user.content|linebreaksbr|urlize }}</td></tr>
            </tfoot>
        </table>
        
        {% include 'parts/footer-profile.html' %}
        
        {% else %}
        <h2 class="login_required">ログインしてください</h2>
        {% endif %}
    </article>
</main>
{% endblock content %}
