<article class="main_profile">
  <h1>アカウント設定</h1>
  {% if user.is_authenticated %}
  <div class="btn-column">
    <div class="btn-column1">
      <a href="{% url 'myus:profile_update' %}" class="btn btn-success btn-sm" role="button">編集</a>
    </div>
    <div class="btn-column2">
      <a href="{% url 'password_change' %}" class="btn btn-success btn-sm" role="button">パスワード変更</a>
    </div>
  </div>

  <table>
    <tbody>
      <tr><td class="td-color td-header">アカウント画像
        <td>
          <label for="account_image_input" class="account_image">
            <a href="{{ user.user_image.url }}" data-lightbox="group">
              <img src="{{ user.user_image.url }}" title="{{ user.nickname }}" width="56px" height="56xp" data-lightbox="group">
            </a>
          </label>
        </td>
      </tr>
      <tr><td class="td-color">ユーザー名<td class="td-indent">{{ user.username }}
      <tr><td class="td-color">メールアドレス<td class="td-indent">{{ user.email }}
      <tr><td class="td-color">投稿者名<td class="td-indent">{{ user.nickname }}
      <tr><td class="td-color">名前<td class="td-indent">{{ user.get_fullname }}
      <tr><td class="td-color">生年月日<td class="td-indent">{{ user.get_year }}年{{ user.get_month }}月{{ user.get_day }}日
      <tr><td class="td-color">年齢<td class="td-indent">{{ user.get_age }}歳
      <tr><td class="td-color">性別<td class="td-indent">{{ user.get_gender_display }}
      <tr><td class="td-color">電話<td class="td-indent">{{ user.phone }}
      <tr><td class="td-color">住所<td class="td-indent">{{ user.location }}
      <tr><td class="td-color">自己紹介<td class="td-indent">{{ user.introduction|linebreaksbr|urlize }}
    </tbody>
  </table>

  {% include 'parts/footer-myus.html' %}
  {% else %}
  <h2 class="login_required">ログインしてください</h2>
  {% endif %}
</article>
