{% extends 'base2.html' %}
{% block title %}<title>MyUs UserPage {{ author_name }}</title>{% endblock title %}

{% load static %}

{% block content %}
<main class="main_contents">
    {% for item in user_list %}
        <div class="userpage_banner">
            <figure class="userpage_banner_image">
                <img src="{{ item.mypage_image.url }}" title="{{ item.nickname }}">
            </figure>
        </div>

        <object class="userpage_author">
            <object class="author_space">
                <figure>
                    <img src="{{ item.user_image.url }}" title="{{ item.nickname }}" class="userpage_image">
                </figure>
            </object>
            <span class="userpage_content_1" title="{{ item.nickname }}">{{ item.nickname }}</span>
            <span class="userpage_content_2">フォロワー数
                <span class="follower_count">{{ item.follower_count }}</span>
            </span>
            <span class="userpage_content_3">フォロー数 {{ item.following_count }}</span>
        </object>
        
        <span>
            {% if user.nickname == item.nickname %}
            <button class="btn btn-secondary btn-sm" disabled>フォローする</button>
            {% elif user.is_authenticated %}
            <form method="POST" action="{% url 'myus:follow_create' item.nickname %}" class="follow_form">{% csrf_token %}
                {% if followed %}
                <button type="submit" name="following_id" value="{{ item.nickname }}" class="btn btn-danger btn-sm followchange">解除する</button>
                {% else %}
                <button type="submit" name="following_id" value="{{ item.nickname }}" class="btn btn-success btn-sm followchange">フォローする</button>
                {% endif %}
            </form>
            {% else %}
            <button class="btn btn-secondary btn-sm" disabled>フォローする</button>
            {% endif %}
        </span>
        <a href="{% url 'myus:userpage' item.nickname %}" class="">投稿</a>
        <a href="{% url 'myus:userpage' item.nickname %}" class="">情報</a>
    {% endfor %}

    <hr class="userpage_hr">

    <article class="main_article_index">
        <h2>Video
            {% if query %}
            <section class="messages_search">「{{ query }}」の検索結果「{{ count }}」件</section>
            {% endif %}
        </h2>
        {% if query %}
            {% include "search/search_video.html" %}
        {% else %}
            {% include "parts/article_video.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Live</h2>
        {% if query %}
            {% include "search/search_live.html" %}
        {% else %}
            {% include "parts/article_live.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Music</h2>
        {% if query %}
            {% include "search/search_music.html" %}
        {% else %}
            {% include "parts/article_music.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Picture</h2>
        {% if query %}
            {% include "search/search_picture.html" %}
        {% else %}
            {% include "parts/article_picture.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Blog</h2>
        {% if query %}
            {% include "search/search_blog.html" %}
        {% else %}
            {% include "parts/article_blog.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Chat</h2>
        {% if query %}
            {% include "search/search_chat.html" %}
        {% else %}
            {% include "parts/article_chat.html" %}
        {% endif %}
    </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock extrajs %}