{% extends 'base2.html' %}
{% block title %}<title>MyUs UserPage{{ author_name }}</title>{% endblock title %}

{% load static %}

{% block content %}
<main class="main_contents">
    {% for item in user_list %}
    <div class="userpage_banner">
        <div class="userpage_banner_image">
            <img src="{{ item.mypage_image.url }}" title="{{ author_name }}">
        </div>
    </div>

    <object class="userpage_author">
        <object class="author_space">
            <object>
                <img src="{{ item.user_image.url }}" title="{{ item.nickname }}" class="userpage_image">
            </object>
        </object>
        <span class="userpage_content_1" title="{{ item.nickname }}">{{ item.nickname }}</span>
        <span class="userpage_content_2">フォロワー数：{{ follower_count }}</span>
        <span class="userpage_content_3">フォロー数　：{{ following_count }}</span>
    </object>
    <a href="{% url 'myus:userpage' item.nickname %}" class="">投稿</a>
    <a href="{% url 'myus:userpage_about' item.nickname %}" class="">情報</a>
    {% endfor %}
    <hr class="userpage_hr">

    <article class="main_article_index">
        <h2>Video</h2>
        {% include "parts/article_video.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Live</h2>
        {% include "parts/article_live.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Music</h2>
        {% include "parts/article_music.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Picture</h2>
        {% include "parts/article_picture.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Blog</h2>
        {% include "parts/article_blog.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Chat</h2>
        {% include "parts/article_chat.html" %}
    </article>
</main>
{% endblock content %}