{% extends 'base2.html' %}
{% block title %}<title>MyUs UserPage{{ author_name }}</title>{% endblock title %}

{% load static %}

{% block content %}
<main class="main_contents">
    {% for item in user_list %}
    <div class="mypage_banner">
        <div class="mypage_banner_image">
            <img src="{{ item.mypage_image.url }}" title="{{ author_name }}">
        </div>
    </div>
    {% endfor %}

    <h1>UserPage<span>{{ author_name }}</span></h1>
    <hr>

    <article class="main_article_index">
        <h2>Video</h2>
        {% include "parts/article_video.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Live</h2>
        {% include "parts/article_live.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Music</h2>
        {% include "parts/article_music.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Picture</h2>
        {% include "parts/article_picture.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Blog</h2>
        {% include "parts/article_blog.html" %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Chat</h2>
        {% include "parts/article_chat.html" %}
    </article>
</main>
{% endblock content %}