{% extends 'base2.html' %}
{% block title %}<title>MyUs退会処理</title>{% endblock title %}

{% block content %}
<main class="main_contents">
    <article class="main_pass">
        <h1>MyUs退会</h1>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'myus:withdrawal' %}" class="form-signup">
            {% csrf_token %}
            <p style="color: red;">本当に退会しますか？</p>

            <p><input type="password" name="password2" placeholder="パスワード" minlength="8" maxlength="16" class="form-control" required></p>

            <p><input type="submit" value="退会する" id="submit" class="btn btn-lg btn-danger btn-block submit"></p>

            <p><a href="{% url 'myus:withdrawal' %}" class="btn btn-lg btn-primary btn-block" role="button" aria-disabled="true">戻る</a></p>
        </form>
        {% include 'parts/footer-myus.html' %}
        {% else %}
        <h2 class="login_required">ログインしてください</h2>
        {% endif %}
    </article>
</main>
{% endblock content %}
