{% extends 'base2.html' %}
{% block title %}<title>MyUsコラボ</title>{% endblock title %}

{% load humanize %}

{% block content %}
<main class="main_contents">
    <h1>Collabo
        {% if query %}
        <section class="messages_search">「{{ query }}」の検索結果「{{ count }}」件</section>
        {% endif %}
    </h1>

    <article class="main_article">
        {% for item in collabo_list %}
        <section class="main_content">
            <div class="main_decolation">
                <a href="{% url 'myus:collabo_detail' item.pk item.title %}" class="author_space">
                    {% include 'parts/author_space.html' %}
                    {% include 'parts/content_title.html' %}
                </a>
            </div>
        </section>
        {% endfor %}
    </article>
</main>
{% endblock content %}
