{% extends 'base2.html' %}
{% block title %}<title>MyUsコラボ</title>{% endblock title %} 

{% load static %}
{% load humanize %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main_contents">
    <article class="article_detail">
        {% if object.publish %}
        <div class="article_detail_section">
            <div class="article_detail_section_1">
                <div class="article_detail_aria">
                    <h1 title="{{ object.title }}">{{ object.title }}</h1>
                
                    <time class="article_detail_aria_1">{{ object.created|date:'Y/m/d H:i' }}</time>
                
                    <div class="article_detail_aria_2">
                        <div class="read">
                            <i class="bi bi-caret-right-square icon-font" title="閲覧数"></i>
                            {{ object.read|intcomma }}
                        </div>
                        {% if user.is_authenticated %}
                            <form method="POST" action="{% url 'myus:collabo_like' %}">{% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="collabomodel_id" value="{{ object.id }}" class="like_form like_fill">
                                    <i class="bi bi-hand-thumbs-up-fill icon-font like_color" title="いいね"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="collabomodel_id" value="{{ object.id }}" class="like_form like_no">
                                    <i class="bi bi-hand-thumbs-up icon-font like_color" title="いいね"></i>
                                </button>
                                {% endif %}
                                <span class="like_count">{{ total_like|intcomma }}</span>
                            </form>
                        {% else %}
                            <a href="{% url 'myus:login' %}" role="button" aria-disabled="true" class="like_link">
                                <i class="bi bi-hand-thumbs-up icon-font" title="いいね"></i>
                            </a>
                            <span>{{ total_like|intcomma }}</span>
                        {% endif %}
                    </div>
                
                    <div class="article_detail_aria_3">
                        {% include 'parts/tag.html' %}
                    </div>
                </div>
                <hr>
                {% include 'parts/detail_common.html' %}
            </div>

            <div class="article_detail_section_2">
                {% include 'parts/article_picture.html' %}
            </div>
        </div>
        {% else %}
        <h2 class="unpublished">非公開に設定されてます！</h2>
        {% endif %}
    </article>
</main>
{% endblock content %}