.toggle {
  width: max-content;
  color: rgb(0, 40, 80);

  &:hover {
    cursor: pointer;
  }

  &.disable {
    cursor: default;
  }

  &.active {
    color: rgb(10, 110, 250);

    &.disable {
      color: rgb(70, 150, 250);
    }
  }
}
