.avatar {
  position: absolute;
  margin: 6px;
}

.link {
  width: 100%;
  text-decoration: none;
}

.media_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 42px;
  margin: -3px 0 0 0;
  font-size: 14px;
  color: rgb(3, 3, 3);
  overflow: hidden;
  word-break: break-all;
}

.content {
  width: 100%;
  white-space: nowrap;

  .font {
    height: 16px;
    font-size: 13px;
    color: rgb(40, 70, 150);
  }

  .nickname {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
    overflow: hidden;
  }

  .margin {
    margin: 0 8px 3px 0;
  }
}
