/* プロフィール */
.article_table {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 42px auto;
  margin: 14px 0 20px 0;
}

.article_table h1 {
  display: flex;
  max-height: 2em;
  margin: 0;
  font-size: 24px;
}

.article_table .login_required,
.article_pass .login_required {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: -1px 0 0 0;
  color: rgb(255, 0, 0);
  font-size: 16px;
}

.messages_profile {
  grid-column: 1/-1;
  grid-row: 2/3;
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  height: 0.8em;
  padding: 0;
  margin: -18px 0 0 0;
}

.button_group {
  grid-column: 2/3;
  justify-self: end;
}

.button_group button {
  margin: 0 0 0 6.5px;
}

/* table */
.table {
  display: block;
  grid-column: 1/-1;
  grid-row: 3/4;
  border-spacing: 0px;
  border-collapse: collapse;
  font-size: 15px;
  overflow-y: auto;
}

.table td {
  height: 39px;
  width: 100%;
  min-width: 125px;
  border: 1px solid rgb(0, 125, 0);
  vertical-align: middle;
}

td.td_color {
  width: 125px;
  padding: 0 0 0 8px;
  background: rgb(190, 250, 210);
}

.td_indent {
  padding: 0 0 0 8px;
  white-space: nowrap;
}

.table_header {
  height: 59px;
}

.account_image {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 15px;
}

.account_image img {
  border: 4px solid rgb(200, 200, 200);
  border-radius: 15%;
}

.account_image img:hover {
  border: 4px solid rgb(100, 220, 150);
}

.update_account_image {
  width: 56px;
  color: rgb(200, 200, 200);
}

.update_account_image:hover {
  color: rgb(100, 220, 150);
  cursor: pointer;
}

.update_account_image input {
  display: none;
}

.mypage_image {
  display: block;
  width: 270px;
  height: 56px;
}

.mypage_image img {
  border: 4px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.mypage_image img:hover {
  border: 4px solid rgb(100, 220, 150);
}

.td_name {
  display: grid;
  grid-template-columns: minmax(3em, 1fr) minmax(3em, 1fr);
  column-gap: 2px;
}

.td_birthday {
  display: grid;
  grid-template-columns: minmax(74px, 1fr) minmax(74px, 1fr) minmax(74px, 1fr);
  height: 36px;
  column-gap: 2px;
}

.td_gender {
  padding: 0 0 0 8px;
}

.td_gender .gender {
  display: inline;
}

td.td_location {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-rows: 38px 38px;
  min-height: 76px;
  column-gap: 2px;
  border: none;
  border-right: 1px solid rgb(0, 125, 0);
}

td .textarea_margin {
  margin: 0 0 -5.5px 0;
}

/* パスワード変更 */
.article_pass {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  margin: 14px 0 0 0;
}

.messages_password_change {
  grid-column: 1/2;
  grid-row: 2/3;
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  height: 0.8em;
  padding: 0 0 50px 0;
}

.messages_password_done {
  font-size: 14px;
  color: rgb(255, 0, 0);
  margin: 0 0 10px 0;
}

.password_done {
  padding: 50px 15px;
}

.submit {
  margin: 40px 0 24px 0;
}

.withdrawal {
  margin: 0 0 24px 0;
}

.form_signup {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
}

.form_signup .checkbox {
  font-weight: 400;
}
