<form method="POST" action="" id="reply_form" comment-id="{{ comment_id }}">
    {% csrf_token %}
    {% if is_period %}
    <textarea name="reply" rows="1" placeholder="チャット期間が過ぎています!" class="textarea_br" disabled="disabled"></textarea>
    <div class="comment_input_chat">
        <button type="submit" title="送信" class="btn btn-secondary btn-sm" disabled>
            <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
        </button>
    </div>
    {% elif user.is_authenticated %}
    <textarea name="reply" rows="1" placeholder="スレッド返信" id="reply_form_area" class="textarea_br"></textarea>
    <div class="comment_input_chat">
        <button type="submit" title="送信" id="reply_form_button" class="btn btn-primary btn-sm form_button" disabled>
            <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
        </button>
    </div>
    {% else %}
    <textarea name="reply" rows="1" placeholder="チャットするにはログインが必要です!" class="textarea_br" disabled="disabled"></textarea>
    <div class="comment_input_chat">
        <button type="submit" title="送信" class="btn btn-secondary btn-sm" disabled>
            <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
        </button>
    </div>
    {% endif %}
</form>
