<form method="POST" action="{% url 'myus:chat_message_update' reply.id %}" class="edit_update_chat">
    {% csrf_token %}
    <a href="{% url 'myus:userpage' reply.author.nickname %}">
        <img src="{{ reply.author.user_image.url }}" title="{{ reply.author.nickname }}" class="profile_image_comment">
    </a>
    <div class="edit_textarea_caht">
        <textarea name="update_text" rows="1" placeholder="メッセージ入力" id="comment_form_update_{{ reply.id }}" class="textarea_br" required>{{ reply.text }}</textarea>
        <div class="chat_frame"></div>
        <div class="comment_input_chat"></div>
        <div class="edit_update_footer">
            <button type="button" name="cancel" comment-id="{{ reply.id }}" class="btn btn-light btn-xs edit_update_cancel">キャンセル</button>
            <button type="button" name="update" comment-id="{{ reply.id }}" class="btn btn-success btn-xs edit_update_chat_button">更新</button>
        </div>
    </div>
</form>
