.tabs {
  display: flex;
  justify-content: center;
  gap: 4px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 24px;
    font-size: 14px;
    color: rgb(150, 150, 150);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 20ms 0s ease;
    cursor: pointer;

    &:hover {
      color: rgb(100, 100, 100);
      border-bottom: 2px solid rgb(150, 150, 150);
    }

    &.active {
      color: rgb(50, 50, 50);
      border-bottom: 2px solid rgb(40, 130, 255);
    }
  }
}
