{% extends 'base2.html' %}
{% block title %}<title>MyUsピクチャー</title>{% endblock title %}
{% load static %}
{% load humanize %}

{% include 'parts/google_tag_user.html' %}

{% block content %}
<main class="main">
  <article class="media_detail">
    {% if object.publish %}
    <div class="media_detail_picture">
      <a href="{{ object.image.url }}" data-lightbox="group">
        <figure class="media_detail_contents">
          <img src="{{ object.image.url }}">
        </figure>
      </a>
    </div>

    <div class="media_detail_grid">
      <div class="media_detail_grid_1">
        {% include 'parts/common/common.html' %}
      </div>
      <div class="media_detail_grid_2">
        {% include 'media/picture/picture_article_detail.html' %}
      </div>
    </div>
    {% else %}
    <h2 class="unpublished">非公開に設定されてます!</h2>
    {% endif %}
  </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax_comment.js' %}"></script>
{% endblock extrajs %}
