{% load static %}
{% load humanize %}

<form method="POST" action="{% url 'myus:comment_form' %}" id="comment_form" obj-id="{{ obj_id }}" path="{{ request.path }}">
    {% csrf_token %}
    <div class="comment_input">
        <p>コメント総数
            <span id="comment_count">{{ object.comment_count|intcomma }}</span>
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'myus:userpage' user.nickname %}">
            <img src="{{ user.user_image.url }}" title="{{ user.nickname }}" class="profile_image_comment">
        </a>
        <textarea name="text" rows="1" placeholder="コメント入力" id="comment_form_area" class="textarea_br"></textarea>
        <button type="submit" title="送信" id="comment_form_button" class="btn btn-primary btn-sm form_button" disabled>コメント</button>
        {% else %}
        <img src="{% static 'img/user_icon.png' %}" title="匿名" class="profile_image_comment">
        <textarea name="text" rows="1" placeholder="コメントするにはログインが必要です!" class="textarea_br" disabled></textarea>
        <button type="submit" title="送信" class="btn btn-secondary btn-sm" disabled>コメント</button>
        {% endif %}
    </div>
</form>
