.media_detail_music {
  margin: 0 0 16px 0;

  .player {
    border-radius: 5px;
  }
}

.speed {
  display: inline-block;
  width: 320px;
  height: 40px;
  padding: 0 16px;
  margin: 16px 16px 0 0;
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-shadow: 1px 1px 0 rgb(0, 0, 0);
  border: 1px solid rgb(0, 135, 180);
  border-radius: 5px;
  background: rgb(0, 135, 180);

  .range {
    appearance: none;
    width: 200px;
    height: 9px;
    margin: 14px 8px;
    border-radius: 20px;
    background: rgb(225, 240, 255);
  }
}

.download {
  color: rgb(120, 120, 120);
  text-decoration: none;

  &:hover {
    color: rgb(0, 100, 255);
    cursor: pointer;
  }

  svg {
    margin: 12px 0 0 0;
  }
}

.lyric {
  display: block;
  height: 285px;
  font-size: 15px;
  overflow-y: auto;
  white-space: pre-wrap;

  &.active {
    min-height: 285px;
    height: fit-content;
  }
}
