.media_detail_music {
  margin: 0 0 16px 0;

  .player {
    border-radius: 5px;
  }
}

.download {
  color: rgb(120, 120, 120);
  text-decoration: none;

  &:hover {
    color: rgb(0, 100, 255);
    cursor: pointer;
  }
}

.lyric {
  display: block;
  height: 285px;
  font-size: 15px;
  overflow-y: auto;
  white-space: pre-wrap;

  &.active {
    min-height: 285px;
    height: fit-content;
  }
}
