<form method="POST" action="" id="comment_form">
  {% csrf_token %}
  {% if is_period %}
  <textarea name="text" rows="1" placeholder="チャット期間が過ぎています!" class="textarea_br" disabled="disabled"></textarea>
  <div class="comment_input_chat">
    <button type="submit" title="送信" class="btn btn-secondary btn-sm" disabled>
      <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
    </button>
  </div>
  {% elif user.is_authenticated %}
  <textarea name="text" rows="1" placeholder="メッセージ入力" id="comment_form_area" class="textarea_br"></textarea>
  <div class="comment_input_chat">
    <button type="submit" title="送信" id="comment_form_button" class="btn btn-primary btn-sm form_button" disabled>
      <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
    </button>
  </div>
  {% else %}
  <textarea name="text" rows="1" placeholder="チャットするにはログインが必要です!" class="textarea_br" disabled="disabled"></textarea>
  <div class="comment_input_chat">
    <button type="submit" title="送信" class="btn btn-secondary btn-sm" disabled>
      <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
    </button>
  </div>
  {% endif %}
</form>
