.table {
  width: 100%;
  font-size: 15px;
  border: 1px solid rgb(0, 125, 0);
  border-radius: 5px;
  border-collapse: collapse;
  overflow-y: hidden;

  tr {
    &:not(:first-child) {
      border-top: 1px solid rgb(0, 125, 0);
    }
  }

  td {
    height: 39px;
  }

  .label {
    width: 125px;
    min-width: 125px;
    padding: 8px;
    vertical-align: top;
    background: rgb(190, 250, 210);
    border-right: 1px solid rgb(0, 125, 0);
  }

  .indent {
    padding-left: 8px;
    white-space: nowrap;
  }
}
