{% load static %}
{% load humanize %}

<form method="POST" action="" id="comment_form" obj-id="{{ obj_id }}" path="{{ request.path }}" csrf="{{ csrf_token }}">
  <div class="comment_input">
    <p>コメント総数
      <span id="comment_count">{{ object.comment_count|intcomma }}</span>
    </p>
    {% if user.is_authenticated %}
    <a href="{% url 'myus:userpage' user.nickname %}" data="{{ user.nickname }}" class="pjax_button_userpage">
      <img src="{{ user.image }}" title="{{ user.nickname }}" class="profile_image_comment">
    </a>
    <textarea name="text" rows="1" placeholder="コメント入力" id="comment_form_area" class="textarea_br"></textarea>
    <button type="submit" title="送信" id="comment_button" class="button blue xs form_button" disabled>コメント</button>
    {% else %}
    <img src="{% static 'img/user_icon.png' %}" title="Anonymous" class="profile_image_comment">
    <textarea name="text" rows="1" placeholder="コメントするにはログインが必要です!" class="textarea_br" disabled></textarea>
    <button type="submit" title="送信" class="button blue xs" disabled>コメント</button>
    {% endif %}
  </div>
</form>
