.zoom {
  display: flex;
  color: rgb(120, 120, 120);
  cursor: pointer;

  &:hover,
  &.active {
    color: rgb(0, 100, 255);
  }

  &.s {
    font-size: 12px;
  }

  &.m {
    font-size: 13px;
  }

  &.l {
    font-size: 14px;
  }

  .icon {
    display: flex;
    margin-right: 1px;
    align-items: center;
    opacity: 0.8;
  }
}
