{% if message.author_id == user_id and is_period is False %}
<div id="edit_button_{{ message.id }}" message-id="{{ message.id }}" class="edit_button">
  <a type="button" name="update" class="edit_button_update">編集</a>
  <a type="button" name="delete" class="edit_button_delete">削除</a>
  <div id="modal_content_{{ message.id }}" class="modal_content">
    <h2 class="modal_content_header">メッセージの削除</h2>

    <span class="modal_content_body_span">このメッセージを削除しますか？</span>
    <div class="modal_content_body">
      <div class="message_aria_list">
        <a href="{% url 'myus:userpage' message.author.nickname %}" data="{{ message.author.nickname }}" class="pjax_button_userpage">
          <img src="{{ message.author.image }}" title="{{ message.author.nickname }}" class="profile_image_message">
        </a>
        <div class="message_aria_list_1">
          <p>{{ message.author.nickname }}</p>
          <time>{{ message.created|date:'Y/m/d H:i' }}</time>
        </div>
        <div class="message_aria_list_2">{{ message.text|safe }}</div>
      </div>
    </div>

    <form method="POST" action="" class="modal_content_footer">
      <button type="button" name="cancel" class="btn btn-light modal_cancel">キャンセル</button>
      <button type="button" name="delete" class="btn btn-danger edit_delete_message">削除</button>
    </form>
  </div>
  <div id="mask_{{ message.id }}" class="mask modal_cancel"></div>
</div>
{% endif %}
