.userpage {
  .banner {
    position: relative;
    width: 100%;
    padding-top: 16.12%;
    overflow: hidden;
    margin: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .author {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    gap: 16px;

    .avatar {
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      background: rgb(200, 200, 200);
      border-radius: 50%;
    }

    .author_info {
      display: flex;
      flex-direction: column;

      .nickname {
        height: 32px;
        font-size: 22px;
        white-space: nowrap;
      }

      .follower,
      .following {
        height: 22px;
        font-size: 14px;
        white-space: nowrap;
      }
    }

    .follow_button {
      display: flex;
      flex-shrink: 0;
      align-items: center;

      button {
        width: 122px;
        margin-top: 4px;
      }
    }
  }

  .hr {
    margin: 0 0 16px 0;
  }
}

.channel {
  flex-shrink: 0;
  width: 200px;
  margin: 10px;
}

.information {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  .info_label {
    margin: 24px 0 8px 0;
  }

  .info_content {
    margin: 0 0 50px 0;
  }
}
