@use '../scrollbar';

.chat_section_nav {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 52px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  .nav_toggle {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 29px;
    padding: 0 18px;
    color: rgb(100, 100, 100);
    cursor: pointer;

    &:hover {
      color: rgb(0, 100, 255);
      background: rgba(240, 248, 255, 0.8);
    }
  }

  .nav_area {
    flex: 1;
    overflow-y: auto;
    @include scrollbar.scrollbar;

    .nav_item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 6px;

      > :first-child {
        flex-shrink: 0;
        min-width: 40px;
      }

      &:hover {
        background: rgb(240, 245, 255, 0.8);
      }

      a {
        text-decoration: none;
        min-width: 0;
      }

      .nav_title {
        font-size: 14px;
        font-weight: 400;
        color: rgb(50, 50, 50);
        padding: 3px 0;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .nav_resize {
    position: absolute;
    top: 0;
    right: -1px;
    width: 2px;
    height: 100%;
    z-index: 10;
    cursor: col-resize;

    &:hover {
      background: rgb(30, 140, 210);
    }
  }
}
