@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgb(130, 130, 130);
  }

  /* スクロールバー firefox */
  * {
    scrollbar-width: thin; /* 細さ */
    scrollbar-color: rgb(255, 255, 255) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
  }

  *:hover {
    scrollbar-color: rgb(180, 180, 180) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
  }

  *:active {
    scrollbar-color: rgb(120, 120, 120) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
  }

  * {
    box-sizing: border-box;
  }
}
