.label {
  display: block;
  margin-bottom: 4px;
}

.error_text {
  padding-top: 2px;
  text-indent: 4px;
  font-size: 12px;
  color: rgb(255, 0, 0);
}

.error {
  > div > div {
    color: rgb(0, 0, 0);
    background: rgb(255, 240, 240);
  }
}
