.card {
  width: 272px;
  height: 250px;
  border: 1px solid rgba(0, 130, 255, 0.5);

  &:hover {
    background: rgba(200, 230, 255, 0.1);
  }

  .box {
    display: block;
    height: 250px;
    padding: 6px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;

    .image {
      width: 56px;
      height: 56px;
      border-radius: 50%;
    }

    .introduction {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 9;
      max-width: 272px;
      font-size: 13px;
      padding: 6px;
      overflow: hidden;
      word-break: break-all;
    }
  }
}
