.media {
  max-width: 272px;
  height: 265px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 8px;
  box-shadow: 0 0.06rem 0 0 rgba(25, 25, 25, 0.07);
}

.media_music {
  max-width: 272px;
  height: 160px;
}

.media_chat {
  max-width: 272px;
  height: 150px;
}

.thumbnail {
  border-radius: 8px 8px 0 0;
}

.decolation {
  a {
    text-decoration: none;
  }
}
