.media {
  width: 272px;
  height: 265px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
  box-shadow: 0 0.06rem 0 0 rgba(25, 25, 25, 0.07);
  cursor: pointer;
}

.media_music {
  width: 272px;
  height: 152px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
  box-shadow: 0 0.06rem 0 0 rgba(25, 25, 25, 0.07);
}

.media_chat {
  width: 272px;
  height: 132px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
  box-shadow: 0 0.06rem 0 0 rgba(25, 25, 25, 0.07);
}

.media_content {
  margin-top: -5px;
}

.thumbnail {
  border-radius: 6px 6px 0 0;
}
