.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 480px;
  padding: 40px 16px;
  margin: 24px auto;
  text-align: center;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: rgb(50, 50, 50);
  }

  .message {
    font-size: 14px;
    color: rgb(80, 80, 80);
  }
}
