{% load static %}
{% load humanize %}

{% for item in advertise_list %}
<section class="section">
  <div class="main_decolation">
    <video class="video-js vjs-big-play-centered vjs-16-9" controls controlsList="nodownload" oncontextmenu="return false;" width="272" height="153" poster="{{ item.image.url }}" data-setup='{"controlBar": {"pictureInPictureToggle": false}}'>
      <source src="{{ item.video.url }}" type="video/mp4">
      <p>動画を再生するには、videoタグをサポートしたブラウザが必要です!</p>
      <track kind="captions" src="{% static 'vtt/captions.ja.vtt' %}" srclang="en" label="English">
      <track kind="subtitles" src="{% static 'vtt/captions.ja.vtt' %}" srclang="en" label="English">
      <p class="vjs-no-js">この動画を見るには、JavaScriptを有効にしてください!
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
    <form method="POST" action="" advertise-id="{{ item.id }}" csrf="{{ csrf_token }}">
      <a href="{{ item.url }}" class="author_space advertise_anker">
        {% include 'parts/author_space.html' %}
        <div title="{{ item.title }}" class="content_title">{{ item.title }}</div>
        <span class="view_good">
          <div class="view_good_font content_nickname">{{ item.author.nickname }}</div>
          <div class="view_good_font view_good_inline">
            <i title="閲覧数" class="bi bi-caret-right-square view_good_space"></i>
            <span class="advertise_read">{{ item.read|intcomma }}</span>
          </div>
        </span>
      </a>
    </form>
  </div>
</section>
{% endfor %}
