<table id="notification_table" csrf="{{ csrf_token }}" class="table">
  <tbody>
    <tr><td class="td_color">通知設定</td><td class="td_indent">フォローしているユーザの投稿通知などを設定</td></tr>
    <tr><td class="td_color">Video通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_video }}" notification-type="video">
        {% if notification_setting.is_video %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">Music通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_music }}" notification-type="music">
        {% if notification_setting.is_music %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">Comic通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_comic }}" notification-type="comic">
        {% if notification_setting.is_comic %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">Picture通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_picture }}"  notification-type="picture">
        {% if notification_setting.is_picture %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">Blog通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_blog }}" notification-type="blog">
        {% if notification_setting.is_blog %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">Chat通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_chat }}" notification-type="chat">
        {% if notification_setting.is_chat %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">フォロー通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_follow }}" notification-type="follow">
        {% if notification_setting.is_follow %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">返信通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_reply }}" notification-type="reply">
        {% if notification_setting.is_reply %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">いいね通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_like }}" notification-type="like">
        {% if notification_setting.is_like %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
    <tr><td class="td_color">閲覧数通知</td><td class="td_indent">
      <form method="POST" action="" notification="{{ notification_setting.is_views }}" notification-type="views">
        {% if notification_setting.is_views %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-on toggle_button" viewBox="0 0 16 16">
          <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-toggle-off toggle_button" viewBox="0 0 16 16">
          <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
        </svg>
        {% endif %}
      </form>
    </td></tr>
  </tbody>
</table>
