{% for notification in notification_list %}
<div id="notification_aria_link_{{ notification.id }}" class="drop_menu_item">
  <object notification-id="{{ notification.id }}" csrf="{{ csrf_token }}" class="notification_aria_list">
    <a href="{% url 'myus:userpage' notification.user_from.nickname %}" data="{{ notification.user_from.nickname }}" class="pjax_button_userpage">
      <img src="{{ notification.user_from.image }}" title="{{ notification.user_from.nickname }}" class="profile_image">
    </a>
    {% if notification.user_confirmed %}
    <span></span>
    {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-circle" viewBox="0 0 2 2">
      <circle cx="1" cy="1" r="1"></circle>
    </svg>
    {% endif %}

    {% if notification.type_name == 'video' %}
    <a href="{% url 'myus:video_detail' notification.content_object.id notification.content_object.title %}" class="notification_aria_anker">
    {% elif notification.type_name == 'music' %}
    <a href="{% url 'myus:music_detail' notification.content_object.id notification.content_object.title %}" class="notification_aria_anker">
    {% elif notification.type_name == 'picture' %}
    <a href="{% url 'myus:picture_detail' notification.content_object.id notification.content_object.title %}" class="notification_aria_anker">
    {% elif notification.type_name == 'blog' %}
    <a href="{% url 'myus:blog_detail' notification.content_object.id notification.content_object.title %}" class="notification_aria_anker">
    {% elif notification.type_name == 'chat' %}
    <a href="{% url 'myus:chat_detail' notification.content_object.id %}" class="notification_aria_anker">
    {% elif notification.type_name == 'collabo' %}
    <a href="{% url 'myus:collabo_detail' notification.content_object.id notification.content_object.title %}" class="notification_aria_anker">
    {% elif notification.type_no >= 7 and notification.type_no <= 9 %}
    <a href="{% url 'myus:userpage' notification.user_from.nickname %}" data="{{ notification.user_from.nickname }}" class="notification_aria_anker pjax_button_userpage">
    {% endif %}
      {% if notification.type_no >= 1 and notification.type_no <= 6 %}
      <div class="notification_aria_list_1" title="{{ notification.user_from.nickname }}さんが{{ notification.content_object.title }}を投稿しました">
        {{ notification.content_object.title }}
      </div>
      {% elif notification.type_no == 7 %}
      <div class="notification_aria_list_1" title="{{ notification.user_from.nickname }}さんにフォローされました">
        {{ notification.user_from.nickname }}さんにフォローされました
      </div>
      {% elif notification.type_no == 8 %}
      <div class="notification_aria_list_1" title="{{ notification.content_object.text }}が{{ notification.user_from.nickname }}さんにいいねされました">
        {{ notification.content_object.text }}が{{ notification.user_from.nickname }}さんにいいねされました
      </div>
      {% elif notification.type_no == 9 %}
      <div class="notification_aria_list_1" title="{{ notification.user_from.nickname }}さんから返信がありました {{ notification.content_object.text|safe }}">
        {{ notification.content_object.text|safe }}
      </div>
      {% elif notification.type_no == 10 %}
        {% if notification.content_object.read >= 1000000000 %}
        <div class="notification_aria_list_1" title="{{ notification.content_object.title }}が10億回閲覧されました">
          {{ notification.content_object.title }}が10億回閲覧されました
        </div>
        {% elif notification.content_object.read >= 100000000 %}
        <div class="notification_aria_list_1" title="{{ notification.content_object.title }}が1億回閲覧されました">
          {{ notification.content_object.title }}が1億回閲覧されました
        </div>
        {% elif notification.content_object.read >= 10000000 %}
        <div class="notification_aria_list_1" title="{{ notification.content_object.title }}が1000万回閲覧されました">
          {{ notification.content_object.title }}が1000万回閲覧されました
        </div>
        {% elif notification.content_object.read >= 1000000 %}
        <div class="notification_aria_list_1" title="{{ notification.content_object.title }}が100万回閲覧されました">
          {{ notification.content_object.title }}が100万回閲覧されました
        </div>
        {% elif notification.content_object.read >= 100000 %}
        <div class="notification_aria_list_1" title="{{ notification.content_object.title }}が10万回閲覧されました">
          {{ notification.content_object.title }}が10万回閲覧されました
        </div>
        {% elif notification.content_object.read >= 10000 %}
        <div class="notification_aria_list_1" title="{{ notification.content_object.title }}が1万回閲覧されました">
          {{ notification.content_object.title }}が1万回閲覧されました
        </div>
        {% endif %}
      {% endif %}
    </a>

    <form method="POST" action="">
      <i title="閉じる" class="bi-x notification_aria_list_2" style="font-size: 1.41em;"></i>
    </form>
  </object>
</div>
{% endfor %}
