/* スクロールバー */
body {
    overflow: hidden;
}

.textarea_br::-webkit-scrollbar,
.chat_section_nav_area::-webkit-scrollbar,
.chat_section_main_area::-webkit-scrollbar,
.chat_section_thread::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.chat_section_nav_area::-webkit-scrollbar-track,
.chat_section_main_area::-webkit-scrollbar-track,
.chat_section_thread::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

.textarea_br:hover::-webkit-scrollbar-thumb,
.chat_section_nav_area::-webkit-scrollbar-thumb,
.chat_section_main_area::-webkit-scrollbar-thumb,
.chat_section_thread::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.textarea_br:hover::-webkit-scrollbar-thumb,
.chat_section_nav_area:hover::-webkit-scrollbar-thumb,
.chat_section_main_area:hover::-webkit-scrollbar-thumb,
.chat_section_thread:hover::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
}

.textarea_br::-webkit-scrollbar-thumb:hover,
.chat_section_nav_area::-webkit-scrollbar-thumb:hover,
.chat_section_main_area::-webkit-scrollbar-thumb:hover,
.chat_section_thread::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
}

.textarea_br::-webkit-scrollbar-thumb:active,
.chat_section_nav_area::-webkit-scrollbar-thumb:active,
.chat_section_main_area::-webkit-scrollbar-thumb:active,
.chat_section_thread::-webkit-scrollbar-thumb:active {
    background: rgb(120, 120, 120);
}

.main_contents {
    grid-column: 2/-1;
    grid-row: 3/-1;
    height: 100vh;
    margin: -12px 0 2px 0;
}

.article_detail_chat {
    padding: 0;
    margin: 12px 0 0 0;
}

/* chat_section */
.chat_section {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
    overflow-y: hidden;
}

hr {
    margin: 2px 0 0 0;
}

.tag_list {
    display: inline;
}

/* chat_section_header */
.chat_section_header {
    grid-column: 1/-1;
    grid-row: 1/2;
    min-height: 80px;
    height: fit-content;
    padding: 5px 0 5px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.article_detail_aria_2 {
    font-size: 14px;
    overflow: hidden;
}

.comment_aria_check:checked ~ .chat_section_header {
    grid-column: 1/3;
}

.chat_section_header h1 {
    font-size: 16px;
    height: fit-content;
    margin: 0;
}

.article_detail_aria_2 time {
    height: fit-content;
    margin: 0 0 -5px 0;
}

.chat_section_header_cross {
    display: none;
}

.comment_aria_check:checked ~ .chat_section_header_cross {
    display: block;
    grid-column: 3/-1;
    grid-row: 1/2;
    padding: 5px 0 5px 8px;
    color: rgb(100, 100, 100);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat_section_header_cross h2 {
    height: fit-content;
    margin: 0;
    font-size: 16px;
    color: rgb(33,37,41);
    white-space: nowrap;
}

.chat_section_header_cross a {
    position: fixed;
    top: 72px;
    right: 0;
    max-width: 30px;
    text-decoration: none;
    color: rgb(100, 100, 100);
}

/* 390pxまでの幅の場合に適応される  */
@media screen and (max-width:390px) {
    .chat_section_header_cross a {
        display: none;
    }
}

.bi-x:hover,
.chat_content_label:hover,
.chat_section_nav_label:hover {
    cursor: pointer;
    color: rgb(0, 100, 255);
}

/* chat_section_content */
.chat_section_content {
    display: inline;
    color: rgb(100, 100, 100);
    font-size: 14px;
}

.chat_content_check {
    display: none;
}

.chat_content {
    display: none;
    z-index: 10;
}

.chat_content_check:checked ~ .chat_content {
    display: block;
    position: fixed;
    top: 160px;
    left: 72px;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    background-color: rgb(250, 250, 250);
    color: rgb(33,37,41);
    overflow-y: hidden;
}

.bi-file-text {
    display: inline;
    margin: 0;
}

.chat_content_list {
    display: grid;
    grid-template-columns: 40px auto auto;
    grid-template-rows: 20px 20px auto;
    position: relative;
    grid-gap: 0 10px;
    height: fit-content;
    padding: 5px 8px 5px 6px;
    overflow: hidden;
    white-space: nowrap
}

.chat_content_list_1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.chat_content_list_1 p {
    display: inline;
    font-size: 14px;
    margin: 0;
}

.chat_content_list_1 time {
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.chat_content_list_2 {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.chat_content_list_3 {
    grid-column: 3/-1;
    grid-row: 1/3;
    margin: 0 4px 0 4px;
}

.chat_content_list_3 button {
    width: 102px;
    height: 31px;
}

.chat_content_list_4 {
    grid-column: 2/-1;
    grid-row: 3/-1;
    margin: 4px 0;
    font-size: 14px;
}

/* chat_section_nav */
.chat_section_nav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 29px auto;
    grid-column: 1/2;
    grid-row: 2/-1;
    width: 52px;
    height: calc(100vh - 161px);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.chat_section_nav_area {
    grid-column: 1/-1;
    grid-row: 2/-1;
    overflow: hidden;
}

.chat_section_nav_check {
    display: none;
}

.chat_section_nav_check:checked ~ .chat_section_nav {
    width: 46vw;
}

.chat_section_nav_check:checked ~ .chat_section_nav .chat_section_nav_area:hover {
    overflow-y: scroll;
}

.bi-arrow-left-right {
    margin: 0 18px;
}

.chat_section_nav_label {
    grid-column: 1/-1;
    grid-row: 1/2;
    color: rgb(100, 100, 100);
}

.chat_section_nav_list {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 40px;
    gap: 0 10px;
    padding: 5px 6px;
}

.chat_section_nav_label:hover,
.chat_section_nav_list:hover {
    background-color: rgb(240, 245, 255);
}

.chat_section_nav img {
    grid-column: 1/2;
    grid-row: 1/2;
}

.chat_section_nav h3 {
    display: inline-block;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 13px;
    color: rgb(33,37,41);
    text-decoration: none;
    padding: 12px 0 13px 0;
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;
}

/* chat_section_main */
.chat_section_main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
    grid-column: 2/-1;
    grid-row: 2/-1;
    width: 100%;
    margin: 0;
    height: 100%;
    height: calc(100vh - 161px);
}

.comment_aria_check:checked ~ .chat_section_main {
    grid-column: 2/3;
    grid-row: 2/-1;
}

.comment_aria_check {
    display: none;
}

.chat_section_main_area {
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 100%;
    overflow-y: scroll;
}

.comment_aria_list {
    height: fit-content;
    padding: 8px 8px 8px 16px;
    margin: 0;
    overflow: hidden;
}

.comment_aria_thread {
    display: block;
    grid-column: 2/3;
    grid-row: 3/4;
    min-width: 200px;
    max-width: 50%;
    height: 24px;
    padding: 2px 0 2px 4px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(40, 140, 255);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: border 0.1s;
    transition: background 0.1s;
}

.comment_aria_thread:hover {
    color: rgb(40, 140, 255);
    border: 1px solid rgba(170, 210, 255, 0.8);
    background: rgb(255, 255, 255);
}

.comment_aria_thread span {
    color: rgb(110, 110, 110);
    font-weight: normal;
    margin: 0 0 0 8px;
}

/* chat_section_thread */
.chat_section_thread {
    display: none;
    height: calc(100vh - 161px);
    padding: 0 0 86px 0;
    overflow-y: scroll;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.comment_aria_check:checked ~ .chat_section_thread {
    display: block;
    grid-column: 3/-1;
    grid-row: 2/-1;
}

/* chat_footer */
.chat_footer_main {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0 16px 5px 16px;
    z-index: 50;
    background-color: rgb(255, 255, 255);
}

.comment_aria_check:checked ~ .chat_footer_main {
    grid-column: 2/3;
}

.chat_footer_thread {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin: 0;
    padding: 16px 7px 0 16px;
    min-height: 80px;
    background-color: rgb(255, 255, 255);
}

.chat_footer_main .btn-sm,
.chat_footer_thread .btn-sm {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: end;
    border-radius: 5px;
}

.textarea_br {
    grid-column: 1/-1;
    grid-row: 1/2;
    min-height: 28px;
    max-height: 356px;
    width: 100%;
    padding: 9px 9px 0 9px;
    font-size: 14px;
    vertical-align: middle;
    outline: none;
    resize: none;
    overflow: hidden;
    border: 1px solid rgb(100, 100, 100);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.textarea_br:focus {
    border-bottom: 0px solid rgb(100, 100, 100);
}

.chat_frame {
    display: block;
    height: 9px;
    margin: 0;
    border: 1px solid rgb(100, 100, 100);
    border-top: none;
    border-bottom: none;
    background-color: rgb(255, 255, 255);
}

.chat_frame_color {
    background: rgba(239, 239, 239, 0.4)
}

.comment_input_chat {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 38px;
    grid-column: 1/-1;
    grid-row: 2/3;
    border: 1px solid rgb(100, 100, 100);
    border-top: 1px solid rgb(220, 220, 220);
    border-radius: 0 0 5px 5px;
    background-color: rgb(255, 255, 255);
}

.textarea_br:focus ~ .comment_input_chat {
    background-color: rgb(235, 240, 255);
}

.bi-caret-right-fill::before {
    line-height: 1.2;
}
