.video-js .vjs-big-play-button {
	display: none;
	top: 50%;
	left: 50%;
	margin-left: -1em;
	margin-top: -1em;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border: 0 solid #fff; /* none → 0.06666em solid #fff */
	border-radius: 50%;
	font-size: 2.5em;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0); /* #cc181e → rgba(0, 105, 255, 0) */
	color: rgba(255, 255, 255, 0);
	-webkit-transition: border-color .4s,outline .4s,background-color .4s;
	-moz-transition: border-color .4s,outline .4s,background-color .4s;
	-ms-transition: border-color .4s,outline .4s,background-color .4s;
	-o-transition: border-color .4s,outline .4s,background-color .4s;
	transition: border-color .4s,outline .4s,background-color .4s;
}

@import "bourbon";
.video-js {
  background-color: rgb(0, 0, 0) !important;
}

.vjs-control-bar {
  display: none !important;
}
