.vertical {
  display: flex;
  flex-direction: column;

  &.full > * {
    width: 100%;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.start {
    align-items: flex-start;
  }

  &.center {
    align-items: center;
  }

  &.end {
    align-items: flex-end;
  }

  &.baseline {
    align-items: baseline;
  }

  &.stretch {
    align-items: stretch;
  }
}
