.vertical {
  display: flex;
  flex-direction: column;

  &.align_start {
    align-content: flex-start;
  }

  &.align_center {
    align-content: center;
  }

  &.align_end {
    align-content: flex-end;
  }

  &.align_around {
    align-content: space-around;
  }

  &.align_between {
    align-content: space-between;
  }

  &.align_evenly {
    align-content: space-evenly;
  }
}
