.avatar {
  min-width: 36px;
  min-height: 36px;
  background: rgb(200, 200, 200);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
