.count {
  display: flex;

  .on {
    margin-right: 8px;
    fill: rgb(255, 220, 0);
    cursor: pointer;
  }

  .off {
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      fill: rgb(255, 220, 0);
    }
  }

  .icon {
    margin-top: -2px;
  }
}
