.comment_area {
  padding: 12px;
  border-radius: 8px;

  &:hover {
    background: rgb(240, 240, 240);
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(200, 200, 200);
  }

  .comment_info {
    margin-bottom: 3px;
    line-height: 1;
    white-space: nowrap;

    span {
      font-size: 13px;
      white-space: nowrap;
    }

    time {
      font-size: 12px;
      color: rgb(120, 120, 120);
    }
  }

  .comment {
    font-size: 14px;
    overflow: hidden;
    overflow-wrap: break-word;
  }
}
