{% extends 'base2.html' %}
{% block title %}<title>MyUs UserPage {{ author_name }}</title>{% endblock title %}

{% load static %}

{% block content %}
<main class="main_contents">
    {% include 'userpage/userpage_common.html' %}

    <article class="main_article_index">
        <h2>Video
            {% if query %}
            <section class="messages_search">「{{ query }}」の検索結果「{{ count }}」件</section>
            {% endif %}
        </h2>
        {% if query %}
            {% include "search/search_video.html" %}
        {% else %}
            {% include "parts/article_video.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Live</h2>
        {% if query %}
            {% include "search/search_live.html" %}
        {% else %}
            {% include "parts/article_live.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Music</h2>
        {% if query %}
            {% include "search/search_music.html" %}
        {% else %}
            {% include "parts/article_music.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Picture</h2>
        {% if query %}
            {% include "search/search_picture.html" %}
        {% else %}
            {% include "parts/article_picture.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Blog</h2>
        {% if query %}
            {% include "search/search_blog.html" %}
        {% else %}
            {% include "parts/article_blog.html" %}
        {% endif %}
    </article>
    <hr>

    <article class="main_article_index">
        <h2>Chat</h2>
        {% if query %}
            {% include "search/search_chat.html" %}
        {% else %}
            {% include "parts/article_chat.html" %}
        {% endif %}
    </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock extrajs %}
