{% load static %}

<h1>Video</h1>
{% if user.is_authenticated %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <p><label for="title">タイトル</label></p>
  <p><input type="text" name="title" id="title" class="form-control" required></p>

  <p><label for="content">内容</label></p>
  <p><textarea name="content" cols="100" rows="1" id="content" class="form-control textarea" required></textarea></p>

  <p><label for="custom_file_1">サムネイル</label></p>
  <p>
    <input type="file" name="image" accept="image/*" id="custom_file_1" class="form-control" style="display:none" required>
    <div class="input-group">
      <input type="text" id="file_1" class="form-control" placeholder="ファイル選択..." onclick="$('input[id=custom_file_1]').click();">
    </div>
  </p>

  <p><label for="custom_file_2">動画</label></p>
  <p>
    <input type="file" name="video" accept="video/*" id="custom_file_2" class="form-control" style="display:none" required>
    <div class="input-group">
      <input type="text" id="file_2" class="form-control" placeholder="ファイル選択..." onclick="$('input[id=custom_file_2]').click();">
    </div>
  </p><br>

  <p><input type="submit" value="作成する" class="btn btn-success btn-sm"></p>
</form>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="{% static 'js/attachment_name.js' %}"></script>
{% endblock extrajs %}
