{% load static %}

<h1>Music</h1>
{% if user.is_authenticated %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <p><label for="title">タイトル</label></p>
  <p><input type="text" name="title" id="title" class="form-control" required></p>

  <p><label for="content">内容</label></p>
  <p><textarea name="content" cols="100" rows="1" id="content" class="form-control textarea" required></textarea></p>

  <p><label for="lyrics">歌詞</label></p>
  <p><textarea name="lyrics" cols="100" rows="1" id="lyrics" class="form-control textarea"></textarea></p>

  <p><label for="custom_file_1">音楽</label></p>
  <div class="form-check">
    <label for="download" class="form-check-label">ダウンロード許可</label>
    <input type="checkbox" name="download" id="download" class="form-check-input" checked>
  </div>
  <p>
    <input type="file" name="musics" accept="audio/*" id="custom_file_1" class="form-control" style="display:none" required>
    <div class="input-group">
      <input type="text" id="file_1" class="form-control" placeholder="ファイル選択..." onclick="$('input[id=custom_file_1]').click();">
    </div>
  </p>
  <br>

  <p><input type="submit" value="作成する" class="btn btn-success btn-sm"></p>
</form>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="{% static 'js/attachment_name.js' %}"></script>
{% endblock extrajs %}
