{% extends 'base2.html' %}
{% block title %}<title>MyUsミュージック</title>{% endblock title %}

{% load static %}
{% load humanize %}

{% block content %}
<main class="main_contents">
    <article class="article_detail">
        {% if object.publish %}
        <audio controls controlslist="nodownload">
            <source src="{{ object.musics.url }}">
            <p>ブラウザがaudioに対応しておりません</p>
        </audio>

        <input type="checkbox" id="article_detail_lyric_check" class="article_detail_lyric_check">
        <label for="article_detail_lyric_check" class="article_detail_lyric_check_label1">拡大表示</label>
        <label for="article_detail_lyric_check" class="article_detail_lyric_check_label2">縮小表示</label>
        <div class="article_detail_lyric">{{ object.lyrics|linebreaksbr }}</div>

        <div class="article_detail_section">
            <div class="article_detail_section_1">
                {% include 'parts/common/common.html' %}
            </div>
            <div class="article_detail_section_2">
                {% include 'parts/article_music.html' %}
            </div>
        </div>
        {% else %}
        <h2 class="unpublished">非公開に設定されてます！</h2>
        {% endif %}
    </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax.js' %}"></script>
<script src="{% static 'js/shortcut.js' %}"></script>
<script src="{% static 'js/shortcut_myus.js' %}"></script>
<script src="{% static 'js/textarea-auto-height.js' %}"></script>
{% endblock extrajs %}
