{% load static %}

<h1>Chat</h1>
{% if user.is_authenticated %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <p class="margin">タイトル</p>
  <input name="title" class="input" required>

  <p class="margin">内容</p>
  <textarea name="content" rows="1" class="textarea" required></textarea>

  <p class="margin">期間</p>
  <input name="period" placeholder="2021-12-31" class="input" required>

  <button type="submit" class="button green button_margin">作成する</button>
</form>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}


{% block extrajs %}
<script src="{% static 'js/textarea.js' %}"></script>
{% endblock extrajs %}
