{% extends 'base2.html' %}
{% block title %}<title>MyUsチャット</title>{% endblock title %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}" class="chat_remove">
{% endblock extracss %}

{% block content %}
{% include 'media/chat/json_script_chat.html' %}
<main class="main">
  <article class="article_detail_chat quill_content">
  {% if object.publish %}
    <div class="chat_section">
      <input type="checkbox" class="message_aria_check">
      {% include 'media/chat/chat_section/chat_section_header.html' %}
      {% include 'media/chat/chat_section/chat_section_main.html' %}
      {% include 'media/chat/chat_section/chat_section_thread.html' %}
    </div>
  {% else %}
  <h2 class="unpublished">非公開に設定されてます!</h2>
  {% endif %}
  </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script src="{% static 'js/websocket_chat.js' %}"></script>
{% endblock extrajs %}
