{% load static %}

<div class="main_header">
  <h1>Chat</h1>
  {% if user.is_authenticated %}
  <div className="main_button_area">
    <button type="submit" class="button green s">作成する</button>
  </div>
  {% endif %}
</div>

{% if user.is_authenticated %}
<article class="main_article">
  <form method="POST" action="" enctype="multipart/form-data"  class="create_grid">
    {% csrf_token %}
    <div>
      <p class="mb_4">タイトル</p>
      <input name="title" class="input" required>
    </div>

    <div>
      <p class="mb_4">内容</p>
      <textarea name="content" rows="1" class="textarea" required></textarea>
    </div>

    <div>
      <p class="mb_4">期間</p>
      <input name="period" placeholder="{% now 'Y' %}-12-31" class="input" required>
    </div>
  </form>
</article>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="{% static 'js/textarea.js' %}"></script>
{% endblock extrajs %}
