{% load static %}
{% load humanize %}

<h1>料金プラン</h1>
{% if user.is_authenticated %}
<article class="article_list">
  {% for payment in payment_list %}
  <section class="section_plan">
    <div class="main_decolation_payment">
      <div class="payment_img">
        <img src="{% static 'img/MyUs.png' %}" width="40px" height="40px" class="myus_img">
        <span class="payment_title">{{ payment.name }}</span>
      </div>
    </div>
    <div class="content_title">【料金】{{ payment.price|intcomma }}円</div>
    <div class="content_description">
      {{ payment.description|linebreaksbr }}
    </div>
    <button value="{{ payment.stripe_api_id }}" csrf="{{ csrf_token }}" class="button purple s mh_8 checkout">購入する</button>
  </section>
  {% endfor %}

  <section class="section_plan">
    <div class="main_decolation_payment">
      <div class="payment_img">
        <img src="{% static 'img/MyUs.png' %}" width="40px" height="40px" class="myus_img">
        <span class="payment_title">プラン変更</span>
      </div>
    </div>
    <div class="content_title">【料金】</div>
    <div class="content_description">
      現在のプランを変更
    </div>
    <button onclick="location.href='{% url 'app:chage_plan' %}'" class="button purple s">変更する</button>
  </section>
</article>

{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/payment.js' %}"></script>
{% endblock extrajs %}
