{% extends 'base2.html' %}
{% block title %}<title>MyUsToDo</title>{% endblock title %}

{% block content %}
<main class="main_contents">
  <h1>ToDo削除</h1>
  {% if user.is_authenticated %}
  <p>タイトル：{{ object.title }}</p>

  <p>優先度：{{ object.get_priority_display }}</p>

  <p>進捗度：{{ object.get_progress_display }}</p>

  <p>期日：{{ todo.duedate|date:'Y-m-j' }}</p>

  <p>内容：{{ todo.content }}</p>

  <br>

  <form method="POST" action="">
    {% csrf_token %}
    <p><input type="submit" value="削除する" class="btn btn-danger btn-sm"></p>
  </form>
  {% else %}
  <h2 class="login_required">ログインしてください</h2>
  {% endif %}
</main>
{% endblock content %}
