.chat_section_header {
  flex-shrink: 0;
  min-width: 0;
  min-height: 55px;
  height: fit-content;
  padding: 5px 0 5px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  white-space: nowrap;

  h1 {
    display: inline;
    height: fit-content;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    pointer-events: auto;
  }

  .content_toggle {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: rgb(100, 100, 100);
    cursor: pointer;

    &:hover {
      color: rgb(0, 100, 255);
    }

    .content_icon {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
    }
  }

  .media_detail_aria {
    font-size: 14px;
  }
}
