.view {
  display: flex;
  width: fit-content;
  cursor: pointer;

  &.s {
    font-size: 12px;
  }

  &.m {
    font-size: 13px;
  }

  &.l {
    font-size: 14px;
  }

  &.light {
    color: rgb(120, 120, 120);


    &:hover,
    &.active {
      color: rgb(0, 100, 255);
    }
  }

  &.grey {
    color: rgb(100, 100, 100);

    &:hover,
    &.active {
      color: rgb(0, 100, 255);
    }
  }

  .icon {
    display: flex;
    margin-right: 1px;
    align-items: center;
    opacity: 0.8;
  }
}
