.reply {
  display: flex;
  color: rgb(100, 100, 100);
  cursor: pointer;

  &:hover {
    color: rgb(0, 100, 255);
  }

  .icon {
    display: flex;
    margin-right: 1px;
    align-items: center;
  }
}
