{% load static %}

<h1>Music</h1>
{% if user.is_authenticated %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <p class="mv_16">タイトル</p>
  <input name="title" class="input" required>

  <p class="mv_16">内容</p>
  <textarea name="content" rows="1" class="textarea" required></textarea>

  <p class="mv_16">歌詞</p>
  <textarea name="lyric" rows="1" class="textarea"></textarea>

  <p class="mt_16">音楽</p>
  <div class="check_group check_margin">
    <input type="checkbox" name="download" id="download" class="checkbox" checked>
    <label for="download">ダウンロード許可</label>
  </div>
  <input type="file" name="music" accept="audio/*" class="input file_1" hidden required>
  <input placeholder="ファイル選択..." id="file_1" class="input" onclick="$('input.file_1').click()">

  <button type="submit" class="button green mt_32">作成する</button>
</form>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/textarea.js' %}"></script>
<script src="{% static 'js/filename.js' %}"></script>
{% endblock extrajs %}
