.spinner {
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;

  &.white {
    border: 2px solid rgb(250, 250, 250);
    border-bottom-color: transparent;
  }

  &.gray {
    border: 2px solid rgb(170, 170, 170);
    border-bottom-color: transparent;
  }

  &.blue {
    border: 2px solid rgb(20, 120, 250);
    border-bottom-color: transparent;
  }

  &.s {
    width: 16px;
    height: 16px;
  }

  &.m {
    width: 24px;
    height: 24px;
  }

  &.l {
    width: 32px;
    height: 32px;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
