.media {
  width: 272px;
  height: 160px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
  box-shadow: 0 0.06rem 0 0 rgba(25, 25, 25, 0.07);

  .player {
    border-radius: 5px 5px 0 0;
  }
}
