@use 'styles/global/mixin/scrollbar';

.drop_open {
  display: block;
  margin: 0;
  transition: all 0.01s;
  cursor: pointer;
}

.drop_menu {
  position: fixed;
  top: 3.5em;
  right: -250px;
  width: 250px;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(255, 230, 200);
  border-right: none;
  color: rgb(50, 50, 50);
  background: rgb(255, 250, 245);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.2s;
  z-index: 80;

  &.active {
    right: 0;
  }

  .item {
    position: relative;
    padding: 12px 0;
    margin: 0;
    text-align: start;

    &:hover {
      color: rgb(250, 130, 0);
      background: rgb(255, 230, 200);
    }

    svg {
      color: rgb(240, 130, 0);
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  svg {
    float: left;
    margin: 0 16px;
  }
}

.drop_menu_notice {
  height: 337px;
  @include scrollbar.scrollbar;
}

.notice_item {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 0 0 11px;

  &:hover {
    background: rgb(255, 230, 200);
  }

  a {
    color: rgb(33, 37, 41);
    text-decoration: none;
  }

  .circle {
    align-self: flex-start;
    margin-top: 4px;
    margin-left: -2px;
    fill: rgb(255, 100, 100);
  }

  .anker {
    flex: 1;
    align-self: flex-start;
    min-width: 0;
    padding-top: 6px;
    cursor: pointer;
  }

  .content {
    display: -webkit-box;
    width: 100%;
    font-size: 12px;
    line-height: 1.4;
    text-align: left;
    overflow: hidden;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    visibility: hidden;
    cursor: pointer;

    .close_icon {
      float: none;
      margin: 0;
      fill: rgb(120, 120, 120);
    }

    &:hover .close_icon {
      fill: rgb(0, 100, 255);
    }
  }

  &:hover .close,
  .close:hover {
    visibility: visible;
  }
}
