{% extends 'base2.html' %}
{% block title %}<title>MyUsToDo</title>{% endblock title %}

{% block content %}
<main class="main_contents">
    <h1>ToDo削除</h1>
    {% if user.is_authenticated %}
    <br>

    <p>{{ object.title }}</p>
    <form action="" method="POST">{% csrf_token %}
        <p><input type="submit" class="btn btn-danger btn-sm" value="削除する"></p>
    </form>
    
    {% else %}
    <h2 class="login_required_todo">ログインしてください</h2>
    {% endif %}
</main>
{% endblock content %}
