{% extends 'base2.html' %}
{% block title %}<title>MyUsToDo</title>{% endblock title %}

{% load humanize %}

{% block content %}
<main class="main_contents">
    <h1>ToDo
        {% if query %}
        <section class="messages_search">「{{ query }}」の検索結果「{{ count }}」件</section>
        {% endif %}
    </h1>

    {% if user.is_authenticated %}
    <div class="todo_create">
        <a href="{% url 'myus:todo_create' %}" class="btn btn-primary btn-sm" role="button">ToDo作成</a>
    </div>

    <article class="main_article">
        {% include 'parts/article_todo.html' %}
    </article>
    {% else %}
    <h2 class="login_required">ログインしてください</h2>
    {% endif %}
</main>
{% endblock content %}
