{% extends 'base2.html' %}
{% block title %}<title>MyUsビデオ</title>{% endblock title %}

{% block content %}
<main class="main_contents">
    <h1>Video
        {% if messages %}
        <ul class="messages_search">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </h1>

    <article class="main_article">
        {% include 'parts/article_video.html' %}
    </article>
</main>
{% endblock content %}