{% extends 'base2.html' %}
{% block title %}<title>MyUsブログ</title>{% endblock title %}

{% load static %}
{% load humanize %}

{% block content %}
<main class="main_contents">
    <article class="article_detail">
        {% if object.publish %}
        <div class="main-image-blog">
            <p>{{ object.richtext|safe }}</p>
        </div>
        <hr>
        
        <div class="article_detail_section">
            <div class="article_detail_section_1">
                {% include 'parts/detail_common.html' %}
            </div>
            <div class="article_detail_section_2">
                {% include 'parts/article_blog.html' %}
            </div>
        </div>
        {% else %}
        <h2 class="unpublished">非公開に設定されてます！</h2>
        {% endif %}
    </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock extrajs %}