{% extends 'base2.html' %}
{% block title %}<title>MyUsチャット</title>{% endblock title %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock customcss %}

{% block content %}
{% include 'chat/json_script_chat.html' %}
<main class="main_contents">
    <article class="article_detail_chat">
    {% if object.publish %}
        <div class="chat_section">
            {% include 'chat/chat_section/chat_section_header.html' %}
            {% include 'chat/chat_section/chat_section_main.html' %}
        </div>
    {% else %}
    <h2 class="unpublished">非公開に設定されてます！</h2>
    {% endif %}
    </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script src="{% static 'js/websocket_chat.js' %}"></script>
{% endblock extrajs %}
