{% extends 'base2.html' %}
{% block title %}<title>MyUsチャット</title>{% endblock title %}

{% load static %}
{% load humanize %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main_contents">
    <article class="article_detail_chat">
    {% if object.publish %}
        <div class="chat_section">
            <input type="checkbox" id="comment_aria_check_id" class="comment_aria_check">
            <div class="chat_section_header">
                <h1 title="{{ object.title }}">{{ object.title }}</h1>

                <div class="article_detail_aria_2">
                    <div class="view_good_inline">
                        <i class="bi bi-caret-right-square" title="閲覧数"></i>
                        <span>{{ object.read|intcomma }}</span>
                    </div>

                    <div class="view_good_inline">
                        <i class="bi bi-person" title="参加数"></i>
                        <span id="user_count">{{ object.user_count|intcomma }}</span>
                    </div>

                    <div class="view_good_inline">
                        <i class="bi bi-chat-dots" title="投稿数"></i>
                        <span id="comment_count">{{ object.comment_count|intcomma }}</span>
                    </div>

                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'myus:like_form' %}" class="view_good_inline char_like" path="{{ request.path }}">{% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="chatmodel_id" value="{{ object.id }}" class="like_form like_fill">
                                <i class="bi bi-hand-thumbs-up-fill like_color" title="いいね"></i>
                            </button>
                            {% else %}
                            <button type="submit" name="chatmodel_id" value="{{ object.id }}" class="like_form like_no">
                                <i class="bi bi-hand-thumbs-up like_color" title="いいね"></i>
                            </button>
                            {% endif %}
                            <span class="like_count">{{ object.total_like|intcomma }}</span>
                        </form>
                    {% else %}
                    <div class="view_good_inline">
                        <i class="bi bi-hand-thumbs-up" title="いいね"></i>
                        <span>{{ object.total_like|intcomma }}</span>
                    </div>
                    {% endif %}
                </div>
                
                <div class="chat_section_content">
                    <input type="checkbox" id="chat_content_check_id" class="chat_content_check">

                    <label for="chat_content_check_id" class="chat_content_label1">
                        <i class="bi bi-file-text" title="内容"></i>
                    </label>

                    <div class="chat_content">
                        <div class="chat_content_list">
                            <a href="{% url 'myus:userpage' object.author.nickname %}">
                                <img src="{{ object.author.user_image.url }}" title="{{ object.author.nickname }}" class="profile_image_comment">
                            </a>
                            <div class="chat_content_list_1">
                                <p>{{ object.author.nickname }}</p>
                                <time>{{ object.created|date:'Y/m/d H:i' }}</time>
                            </div>
                            <div class="chat_content_list_2">登録者数
                                <span class="follower_count">{{ object.author.follower_count }}</span>
                            </div>
                            <div class="chat_content_list_3">
                                {% if user.nickname == object.author.nickname %}
                                <button class="btn btn-secondary btn-sm" disabled>フォローする</button>
                                {% elif user.is_authenticated %}
                                <form method="POST" action="{% url 'myus:follow_create' object.author.nickname %}" class="follow_form">{% csrf_token %}
                                    {% if followed %}
                                    <button type="submit" name="following_id" value="{{ object.author.nickname }}" class="btn btn-danger btn-sm followchange">解除する</button>
                                    {% else %}
                                    <button type="submit" name="following_id" value="{{ object.author.nickname }}" class="btn btn-success btn-sm followchange">フォローする</button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <button class="btn btn-secondary btn-sm" disabled>フォローする</button>
                                {% endif %}
                            </div>
                            <div class="chat_content_list_4">{{ object.content|linebreaksbr }}</div>
                        </div>
                    </div>
                </div>
                {% include 'parts/tag.html' %}
            </div>

            <div class="chat_section_header_cross">
                <h3>スレッド</h3>
                <label for="comment_aria_check_id" class="chat_section_header_cross_check">
                    <i class="bi bi-x" style="font-size: 1.7em;" title="閉じる"></i>
                </label>
            </div>

            <input type="checkbox" id="chat_section_nav_check_id" class="chat_section_nav_check">
            <div class="chat_section_nav">
                <label for="chat_section_nav_check_id" class="chat_section_nav_label1">
                    <i class="bi bi-arrow-left-right" title="開閉"></i>
                </label>
                {% for item in chat_list %}
                <div class="chat_section_nav_list">
                    <a href="{% url 'myus:userpage' item.author.nickname %}">
                        <img src="{{ item.author.user_image.url }}" title="{{ item.author.nickname }}" class="profile_image_comment">
                    </a>
                    <a  href="{% url 'myus:chat_detail' item.pk %}">
                        <h3 title="{{ item.title }}">{{ item.title }}</h3>
                    </a>
                </div>
                {% endfor %}
            </div>

            <div class="chat_section_main">
                {% for comment in comment_list %}
                <label for="comment_aria_check_id" class="comment_aria_list">
                    <a href="{% url 'myus:userpage' comment.author.nickname %}">
                        <img src="{{ comment.author.user_image.url }}" title="{{ comment.author.nickname }}" class="profile_image_comment">
                    </a>
                    <div class="comment_aria_list_1">
                        <p>{{ comment.author.nickname }}</p>
                        <time>{{ comment.created|naturaltime }}</time>
                    </div>
                    <div class="comment_aria_list_2">{{ comment.text|urlize|linebreaks }}</div>
                </label>
                {% endfor %}

                <div id="comment_aria_add"></div>
            </div>

            <div class="chat_section_method">
                {% for reply in reply_list %}
                <div class="comment_aria_list">
                    <a href="{% url 'myus:userpage' reply.author.nickname %}">
                        <img src="{{ reply.author.user_image.url }}" title="{{ reply.author.nickname }}" class="profile_image_comment">
                    </a>
                    <div class="comment_aria_list_1">
                        <p>{{ reply.author.nickname }}</p>
                        <time>{{ reply.created|naturaltime }}</time>
                    </div>
                    <div class="comment_aria_list_2">{{ reply.text|urlize|linebreaks }}</div>
                </div>
                {% endfor %}
            </div>
            
            <footer class="chat_footer">
                <form method="POST" action="{% url 'myus:chat_message' %}" id="comment_form" obj-id="{{ object.id }}">{% csrf_token %}
                    {% if user.is_authenticated %}
                    <textarea name="text" rows="1" class="textarea_br" placeholder="メッセージ入力" required></textarea>
                    <div class="chat_frame"></div>
                    <div class="comment_input_chat">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="bi bi-caret-right-fill" style="font-size: 1.2em;" title="送信"></i>
                        </button>
                    </div>
                    {% else %}
                    <textarea name="text" rows="1" class="textarea_br" placeholder="チャットするにはログインが必要です！" disabled="disabled"></textarea>
                    <div class="chat_frame"></div>
                    <div class="comment_input_chat">
                        <button type="submit" class="btn btn-secondary btn-sm" disabled>
                            <i class="bi bi-caret-right-fill" style="font-size: 1.2em;" title="送信"></i>
                        </button>
                    </div>
                    {% endif %}
                </form>
            </footer>
        </div>    
    {% else %}
    <h2 class="unpublished">非公開に設定されてます！</h2>
    {% endif %}
    </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax_chat.js' %}"></script>
{% endblock extrajs %}