{% extends 'base2.html' %}
{% block title %}<title>MyUs退会処理</title>{% endblock title %}

{% block content %}
<main class="main">
  <h1>退会処理</h1>
  <article class="article_pass">
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'myus:withdrawal' %}" class="form_signup">
      {% csrf_token %}
      <p style="color: red;">本当に退会しますか？</p>
      <br>

      <input type="password" name="password2" placeholder="パスワード" minlength="8" maxlength="16" class="input input_margin" required>

      <button class="button red xl button_margin">退会する</button>

      <button href="{% url 'myus:withdrawal' %}" class="button blue xl button_margin pjax_button">戻る</button>
    </form>
    {% include 'parts/footer-myus.html' %}
    {% else %}
    <h2 class="login_required">ログインしてください</h2>
    {% endif %}
  </article>
</main>
{% endblock content %}
