<article class="article_pass">
  <h1>MyUs退会</h1>
  {% if user.is_authenticated %}
  <form method="POST" action="{% url 'myus:withdrawal' %}" class="form_signup">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages_password_change">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <p>{{ expired_seconds }}秒有効なURLを生成します</p>
    <br>

    <input type="password" name="password" placeholder="パスワード" minlength="8" maxlength="16" class="input input_margin" required>

    <button class="button green xl button_margin">退会URL生成</button>

    <p class="withdrawal">
    {% if token_signed %}
      <button onclick="location.href='{% url 'myus:withdrawal' token_signed %}'" class="button red xl button_margin">退会する</button>
    {% endif %}
    {% if message %}
      <button class="button red xl button_margin">{{ message }}</button>
    {% endif %}
    </p>

    <button href="{% url 'myus:index' %}" class="button blue xl button_margin pjax_button">ホーム</button>
  </form>
  {% include 'parts/footer-myus.html' %}
  {% else %}
  <h2 class="login_required">ログインしてください</h2>
  {% endif %}
</article>
