{% extends 'base2.html' %}
{% block title %}<title>MyUsToDo</title>{% endblock title %}

{% block content %}
<main class="main">
  <h1>ToDo編集</h1>
  {% if user.is_authenticated %}
  <form method="POST" action="">
    {% csrf_token %}
    <p class="vertical_16">タイトル</p>
    <input name="title" value="{{ todo.title }}" class="input" required>

    <p class="vertical_16">内容</p>
    <textarea name="content" rows="1" class="textarea" required>{{ todo.content }}</textarea>

    <p class="vertical_16">優先度</p>
    <label class="select">
      <select name="priority" required>
        <option value="danger" {% if object.priority == 'danger' %}selected{% endif %}>高</option>
        <option value="success" {% if object.priority == 'success' %}selected{% endif %}>普通</option>
        <option value="info" {% if object.priority == 'info' %}selected{% endif %}>低</option>
      </select>
    </label>

    <p class="vertical_16">進捗度</p>
    <label class="select">
      <select name="progress" required>
        <option value="0" {% if object.progress == '0' %}selected{% endif %}>未着手</option>
        <option value="1" {% if object.progress == '1' %}selected{% endif %}>進行中</option>
        <option value="2" {% if object.progress == '2' %}selected{% endif %}>完了</option>
      </select>
    </label>

    <p class="vertical_16">期日</p>
    <input name="duedate" value="{{ todo.duedate|date:'Y-m-j' }}" placeholder="{% now 'Y' %}-12-31" class="input" required>

    <button type="submit" class="button green top_32">完了する</button>
  </form>
  {% else %}
  <h2 class="login_required">ログインしてください</h2>
  {% endif %}
</main>
{% endblock content %}
