{% load static %}

<h1>ToDo作成</h1>
{% if user.is_authenticated %}
<form method="POST" action="">
  {% csrf_token %}
  <p class="margin">タイトル</p>
  <input name="title" class="input" required>

  <p class="margin">内容</p>
  <textarea name="content" rows="1" class="textarea" required></textarea>

  <p class="margin">優先度</p>
  <label class="select">
    <select name="priority" id="id_priority" required>
      <option value="danger">高</option>
      <option value="success" selected>普通</option>
      <option value="info">低</option>
    </select>
  </label>

  <p class="margin">進捗度</p>
  <label class="select">
    <select name="progress" id="id_progress" required>
      <option value="0">未着手</option>
      <option value="1">進行中</option>
      <option value="2">完了</option>
    </select>
  </label>

  <p class="margin">期日</p>
  <input name="duedate" placeholder="{% now 'Y' %}-12-31" id="id_duedate" class="input" required>

  <button type="submit" class="button green button_margin">作成する</button>
</form>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %} {% block extrajs %}
<script src="{% static 'js/textarea.js' %}"></script>
{% endblock extrajs %}
