{% load static %}

<div class="main_header">
  <h1>ToDo作成</h1>
  {% if user.is_authenticated %}
  <div className="main_button_area">
    <button type="submit" class="button green s">作成する</button>
  </div>
  {% endif %}
</div>

{% if user.is_authenticated %}
<article class="main_article">
  <form method="POST" action="" class="create_grid">
    {% csrf_token %}
    <div>
      <p class="mb_4">タイトル</p>
      <input name="title" class="input" required>
    </div>

    <div>
      <p>内容</p>
      <textarea name="content" rows="1" class="textarea" required></textarea>
    </div>

    <div>
      <p class="mb_4">優先度</p>
      <label class="select">
        <select name="priority" id="id_priority" required>
          <option value="danger">高</option>
          <option value="success">普通</option>
          <option value="info">低</option>
        </select>
      </label>
    </div>

    <div>
      <p class="mb_4">進捗度</p>
      <label class="select">
        <select name="progress" id="id_progress" required>
          <option value="0">未着手</option>
          <option value="1">進行中</option>
          <option value="2">完了</option>
        </select>
      </label>
    </div>

    <div>
      <p class="mb_4">期日</p>
      <input name="duedate" placeholder="{% now 'Y' %}-12-31" id="id_duedate" class="input" required>
    </div>
  </form>
</article>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="{% static 'js/textarea.js' %}"></script>
{% endblock extrajs %}
