.card_list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 312px));
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-top: 16px;
}

/* 668pxまでの幅の場合に適応される  */
@media screen and (max-width: 668px) {
  .card_list {
    place-content: center;
  }
}
