{% load static %}

<h1>Picture</h1>
{% if user.is_authenticated %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <p class="margin">タイトル</p>
  <input type="text" name="title" id="title" class="input" required>

  <p class="margin">内容</p>
  <textarea name="content" id="content" class="textarea" required></textarea>

  <p class="margin">画像</p>
  <input type="file" name="image" accept="image/*" id="custom_file_1" class="input" style="display:none" required>
  <input type="text" id="file_1" class="input" placeholder="ファイル選択..." onclick="$('input[id=custom_file_1]').click();">

  <button type="submit" class="button green button_margin">作成する</button>
</form>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="{% static 'js/textarea.js' %}"></script>
<script src="{% static 'js/attachment_name.js' %}"></script>
{% endblock extrajs %}
