{% extends 'base2.html' %}
{% block title %}<title>MyUsナレッジ</title>{% endblock title %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main_contents">
    <article class="main_profile">
        <h1>Knowledge Base</h1>
        
        <table border="1" bordercolor="green">
            <thead>
                <tr><th class="td-color">ナレッジリスト</th><th></th></tr>
            </thead>
            <tbody>
                <tr><td class="td-color">デザイン</td><td></td></tr>
                <tr><td class="td-color">△</td><td>タグデザイン</td></tr>
                <tr><td class="td-color"></td><td>videojsのクオリティ機能</td></tr>
                <tr><td class="td-color"></td><td>広告</td></tr>
                <tr><td class="td-color">機能追加</td><td></td></tr>
                <tr><td class="td-color"></td><td>電話番号の正規表現</td></tr>
                <tr><td class="td-color"></td><td></td></tr>
                <tr><td class="td-color"></td><td></td></tr>
            </tbody>
            <tfoot>
                <tr><td class="td-color"></td><td></td></tr>
            </tfoot>
        </table>
        
        {% include "parts/footer-myus.html" %}
    </article>
</main>
{% endblock content %}