{% extends 'base2.html' %}
{% block title %}<title>MyUs通知</title>{% endblock title %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main_contents">
    <article class="main_profile">
        <h1>通知設定</h1>
        {% include "parts/notify_setting_list.html" %}
        {% include "parts/footer-myus.html" %}
    </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/notify_setting.js' %}"></script>
{% endblock extrajs %}
