/* ヘッダー */
.header {
  position: fixed;
  grid-column: 1/-1;
  grid-row: 1/2;
  top: 0;
  width: 100%;
  height: 56px;
  color: rgb(255, 255, 255);
  background: linear-gradient(60deg, rgb(0, 0, 50) 0%, rgb(10, 115, 120) 60%, rgb(255, 0, 130) 100%);
  z-index: 70; /* side_menuよりは小さく */
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: rgb(0, 60, 255);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.header.loading::after {
  animation: loading 5s forwards;
}

.header_nav {
  display: grid;
  grid-template-columns: 4.5em 7.5em minmax(9.5em, 1fr) 3em 3em 3em 3em;
  grid-template-rows: 2.5em;
  align-items: center;
  text-align: center;
  padding: 8px 0;
}

.header_nav_1 {
  position: relative;
  grid-column: 1/2;
}

.header_nav_2 {
  position: relative;
  grid-column: 2/3;
  justify-self: flex-start;
}

.header_nav_2 h1 {
  font-family: 'Libre Caslon Display', serif;
  font-size: 1.8em;
  font-weight: 100;
  margin: auto;
}

.header_nav_3 {
  grid-column: 3/4;
}

.header_nav_4 {
  position: relative;
  grid-column: 4/5;
}

.header_nav_5 {
  position: relative;
  grid-column: 5/6;
}

.header_nav_6 {
  position: relative;
  grid-column: 6/7;
}

.header_nav_7 {
  position: relative;
  grid-column: 7/8;
  justify-self: center;
}

.icon_link {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

/* サイドメニュー */
.side_menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgb(50, 50, 50);
  background: rgb(255, 255, 255);
  overflow-y: auto;
  transition: all 0.2s;
  z-index: 100; /* 最前面 */
}

.side_menu.active {
  left: 0;
  box-shadow: 6px 0 25px rgba(0, 100, 255, 0.2);
}

.side_menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.side_menu .bi {
  float: left;
  margin: 0 16px;
}

.side_menu .bi-arrow-left {
  margin: 3px 16px 0 16px;
}

.side_menu_close {
  display: block;
  height: 3.5em;
  margin: 16px 0 0 0;
  cursor: pointer;
  text-align: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.myus_img {
  margin: 0 16px;
}

.side_menu_footer {
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

button.header_color {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

.header_color:hover,
.header_color.active {
  color: rgb(255, 220, 0);
  cursor: pointer;
}

.header_color_MyUs:hover {
  color: rgb(0, 239, 239);
}

/* 閉じる用のカバー */
.side_nemu_cover {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  z-index: 90;
}

.side_nemu_cover.active {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.side_menu_item {
  position: relative;
  text-align: start;
  cursor: pointer;
}

.side_menu_footer_item {
  position: relative;
  display: flex;
  text-align: start;
  font-size: 0.9rem;
  cursor: pointer;
}

.side_menu_color {
  padding: 12px 0;
  margin: 0;
}

.side_menu_color:hover {
  color: rgb(0, 100, 255);
  background: rgb(200, 230, 255);
}

.side_menu_color_bi {
  color: rgb(0, 70, 175);
}

/* ドロップダウンメニュー */
.drop_open {
  display: block;
  margin: 0;
  cursor: pointer;
  transition: all 0.01s;
}

.drop_menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.drop_menu .bi {
  float: left;
  margin: 0 16px;
}

.drop_menu_cloud,
.drop_menu_notice,
.drop_menu_profile {
  position: fixed;
  top: 3.5em;
  right: -250px;
  width: 250px;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(255, 230, 200);
  border-right: none;
  color: rgb(50, 50, 50);
  background: rgb(255, 250, 245);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.2s;
  z-index: 80; /* サイドメニューよりかは小さい */
}

.drop_menu_cloud.active,
.drop_menu_notice.active,
.drop_menu_profile.active {
  right: 0;
}

.drop_menu_notice {
  height: 337px;
}

/* 閉じる用のカバー */
.drop_back_cover {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  z-index: 80;
}

.drop_back_cover.active {
  display: block;
}

/* ドロップダウンメニュー Profile */
.account {
  border-radius: 50%;

  &.active {
    box-shadow: 0 0 0 1.5px rgba(255, 221, 0, 0.9);
  }
}

.drop_menu_list {
  position: relative;
  padding: 12px 0;
  margin: 0;
  text-align: start;
}

.drop_menu_list:hover {
  color: rgb(250, 130, 0);
  background: rgb(255, 230, 200);
}

.color_drop_menu_bi {
  color: rgb(240, 130, 0);
}

/* ドロップダウンメニュー 通知 */
.bi-bell-fill.active {
  position: relative;
  margin: -27px 0 0 0;
}

.bi-exclamation-lg {
  display: none;
}

.bi-exclamation-lg.active {
  display: block;
  margin: -43px 0 0 25px;
  color: rgb(255, 220, 0);
}

.notification_aria_list {
  position: relative;
  display: grid;
  grid-template-columns: 36px 9px auto 22.5px;
  grid-template-rows: 48px;
  grid-gap: 0 2px;
  padding: 0 0 0 11px;
}

.notification_aria_list:hover {
  color: rgb(250, 130, 0);
  background: rgb(255, 230, 200);
}

.notification_aria_list a {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

.notification_aria_list .profile_image {
  position: absolute;
  grid-column: 1/2;
  grid-row: 1/2;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.notification_aria_list .svg-circle {
  width: 60%;
  padding: 6px 0 0 0;
  fill: rgb(255, 100, 100);
}

.notification_aria_anker {
  width: 189px;
  padding: 6px 0;
}

.notification_aria_list:hover .notification_aria_anker {
  width: 156px;
}

.notification_aria_list_1 {
  display: -webkit-box;
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 1px 0;
  font-size: 12px;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.notification_aria_list_2 {
  display: none;
}

.notification_aria_list:hover .notification_aria_list_1 {
  grid-column: 3/4;
  width: auto;
}

.notification_aria_list:hover .notification_aria_list_2 {
  display: block;
  grid-column: 4/5;
  grid-row: 1/3;
  justify-self: flex-end;
  width: 23px;
  padding: 7px 0;
  margin: 0;
  color: rgb(120, 120, 120);
}

.notification_aria_list:hover .notification_aria_list_2:hover {
  cursor: pointer;
  color: rgb(0, 100, 255);
}

/* サーチバー */
.search_container {
  display: flex;
  justify-content: center;
}

.search_message {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 0 0 8px;
  font-size: 14px;
  color: rgb(33, 37, 41);
}
