/* z-indexは10~100の10段階とします。 */

/* スクロールバー */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track,
.content_detail_aria::-webkit-scrollbar-track,
.comment_aria::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.drop_menu_notice::-webkit-scrollbar-track,
.drop_menu_notice::-webkit-scrollbar-thumb {
  background: rgb(255, 250, 245);
}

.content_detail_aria::-webkit-scrollbar-thumb,
.comment_aria::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-track:hover {
  background: rgb(225, 225, 225);
}

.drop_menu_notice::-webkit-scrollbar-track:hover,
.content_detail_aria::-webkit-scrollbar-track:hover,
.comment_aria::-webkit-scrollbar-track:hover {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb,
.drop_menu_notice:hover::-webkit-scrollbar-thumb,
.content_detail_aria:hover::-webkit-scrollbar-thumb,
.comment_aria:hover::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
.drop_menu_notice::-webkit-scrollbar-thumb:hover,
.content_detail_aria::-webkit-scrollbar-thumb:hover,
.comment_aria::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

::-webkit-scrollbar-thumb:active,
.drop_menu_notice::-webkit-scrollbar-thumb:active,
.content_detail_aria::-webkit-scrollbar-thumb:active,
.comment_aria::-webkit-scrollbar-thumb:active {
  background: rgb(120, 120, 120);
}

/* スクロールバー firefox */
* {
  scrollbar-width: thin; /* 細さ */
  scrollbar-color: rgb(255, 255, 255) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
}

*.drop_menu_notice {
  scrollbar-color: rgb(255, 250, 245) rgba(255, 250, 245, 0); /* つまみの色 軌道の色 */
}

*:hover {
  scrollbar-color: rgb(180, 180, 180) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
}

*:active {
  scrollbar-color: rgb(120, 120, 120) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
}

* {
  box-sizing: border-box;
}

/* 全体のデザイン */
body {
  font-family: 'Noto Sans JP', Roboto, -apple-system, sans-serif;
}

pre, code, kbd, samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}

svg {
  vertical-align: middle;
}

/* latin */
@font-face {
  font-family: 'Libre Caslon Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librecaslondisplay/v14/TuGOUUFxWphYQ6YI6q9Xp61FQzxDRKmzr1lWfxlPCz4c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.layout {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* ログイン必須 */
.login_required {
  font-size: 16px;
  color: rgb(255, 0, 0);
}
