/* サーチタグバー */
.searchtag {
  position: fixed;
  z-index: 50;
  top: 3.5em;
  width: 100%;
  height: 26px;
  background: rgb(240, 240, 240);
}

.searchtag_grid {
  display: grid;
  grid-template-columns: 4.5em 3em 12.125em 3em auto;
  grid-template-rows: auto;
}

.searchtag_menu {
  display: none; /* チェックボックスは非表示に */
}

.searchtag_1 {
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1em;
  height: 26px;
  min-width: 3em;
  margin: 0;
  text-align: center;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(0, 170, 130);
}

.searchtag_1:hover {
  cursor: pointer;
  background: rgb(0, 190, 150);
}

.searchtag_1:active {
  background: rgb(0, 215, 170);
}

.searchtag_menu:checked ~ .searchtag_1 {
  display: none;
}

.searchtag_2 {
  display: none;
}

.searchtag_menu:checked ~ .searchtag_2 {
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1em;
  height: 26px;
  width: 3em;
  text-align: center;
  outline: none;
  border-style: none;
  color: rgb(255, 255, 255);
  background: rgb(200, 0, 140);
}

.searchtag_menu:checked ~ .searchtag_2:hover {
  cursor: pointer;
  background: rgb(240, 0, 150);
}

.searchtag_menu:checked ~ .searchtag_2:active {
  background: rgb(255, 100, 200);
}

.searchtag_3 {
  display: none;
}

.searchtag_menu:checked ~ .searchtag_3 {
  display: block;
  grid-column: 3/4;
  grid-row: 1/2;
  height: 24px;
  width: 12em;
  margin: 1px 0 1px 1px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgb(206, 212, 218);
}

.searchtag_menu:checked ~ .searchtag_3::placeholder {
  font-size: 14px;
  color: rgb(150, 150, 150);
}

.searchtag_menu:checked ~ .searchtag_3:focus {
  border-radius: 4px;
  border: 1px solid rgb(80, 170, 255);
  box-shadow: 0 0 0 2px rgba(80, 170, 255, 0.5);
}

.searchtag_4 {
  display: none;
}

.searchtag_menu:checked ~ .searchtag_4 {
  display: block;
  grid-column: 4/5;
  grid-row: 1/2;
  font-size: 1em;
  height: 26px;
  width: 3em;
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(0, 140, 175);
}

.searchtag_menu:checked ~ .searchtag_4:hover {
  cursor: pointer;
  background: rgb(0, 160, 190);
}

.searchtag_menu:checked ~ .searchtag_4:active {
  background: rgb(0, 180, 220);
}

.searchtag_center {
  display: inline-block;
  margin: 1px 0 0 0;
}

.searchtag_n {
  grid-column: 3/4;
  grid-row: 1/2;
  width: calc(100vw - 166px);
  overflow-x: auto;
  white-space: nowrap;
}

.searchtag_n::-webkit-scrollbar {
  height: 0;
}

.searchtag_menu:checked ~ .searchtag_n {
  grid-column: 5/6;
  width: calc(100vw - 408px);
}

.searchtag_n_list {
  display: inline;
  margin: 0 0 0 4.3px;
}

.searchtag_n_list a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.searchtag_left {
  position: fixed;
  right: 18px;
  padding: 0 0 2px 0;
  cursor: pointer;
  color: rgb(120, 120, 120);
  background: rgb(240, 240, 240);
}

.searchtag_right {
  position: fixed;
  right: 0;
  padding: 0 0 2px 0;
  cursor: pointer;
  color: rgb(120, 120, 120);
  background: rgb(240, 240, 240);
}

.searchtag_left:hover,
.searchtag_right:hover {
  color: rgb(35, 150, 255);
  background: rgb(210, 210, 210);
}

.searchtag_left:active,
.searchtag_right:active {
  color: rgb(0, 130, 255);
  background: rgb(200, 200, 200);
}

.tag_n_add {
  margin: 0 4.3px 0 0;
}

.hashtag_list {
  display: inline;
  margin: 0 2px 0 0;
}

.hashtag_list a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(100, 100, 100);
}

.searchtag_n_list a:hover,
.hashtag_list a:hover {
  color: rgb(0, 130, 255);
}
