.searchtag {
  position: fixed;
  top: 56px;
  left: 72px;
  width: calc(100% - 72px);
  height: 26px;
  background: rgb(240, 240, 240);
  z-index: 50;

  .button_1 {
    width: 48px;
  }

  .button_2 {
    display: none;

    &.active {
      display: block;
      width: 48px;
    }
  }

  .input {
    display: none;

    &.active {
      display: block;
    }

    input {
      width: 194px;
      height: 24px;
      padding: 4px 8px;
    }
  }

  .tags {
    width: calc(100vw - 166px);
    line-height: 1.8;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; /* Firefoxでスクロールバーを非表示 */

    &.active {
      width: calc(100vw - 408px);
    }

    a {
      font-size: 14px;
      color: rgb(100, 100, 100);
      text-decoration: none;
    }

    a:hover {
      color: rgb(0, 130, 255);
    }
  }

  .arrow {
    height: 26px;
    line-height: 1.4;
    color: rgb(120, 120, 120);
    cursor: pointer;

    &:hover {
      color: rgb(35, 150, 255);
      background: rgb(220, 220, 220);
    }

    &:active {
      color: rgb(0, 130, 255);
      background: rgb(210, 210, 210);
    }
  }
}
