.sidebar {
  position: fixed;
  top: 56px;
  width: 72px;
  height: calc(100% - 56px);
  background: rgb(0, 0, 80);
  z-index: 60; /* headerよりは小さく */

  .sidebar_nav {
    height: 100%;
  }

  .sidebar_color {
    div:hover,
    &.active div {
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: flex;
      text-align: center;
      justify-content: center;

      div {
        display: block;
        width: 4.5em;
        height: 52px;
        margin: 18px 0;
        font-size: 0.9em;
        text-decoration: none;
        color: rgb(125, 125, 125);
      }
    }
  }
}
