/* サイドバー */
.sidebar {
  position: fixed;
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 4.5em;
  height: 100%;
  overflow-y: auto;
  background: rgb(0, 0, 80);
  z-index: 60; /* headerよりは小さく */
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar_nav {
  display: grid;
  grid-template-rows: 3.5em repeat(7, 1fr);
}

.sidebar_nav_1 {
  position: relative;
  grid-row: 1/2;
}

.sidebar_nav_2 {
  position: relative;
  grid-row: 2/3;
}

.sidebar_nav_3 {
  position: relative;
  grid-row: 3/4;
}

.sidebar_nav_4 {
  position: relative;
  grid-row: 4/5;
}

.sidebar_nav_5 {
  position: relative;
  grid-row: 5/6;
}

.sidebar_nav_6 {
  position: relative;
  grid-row: 6/7;
}

.sidebar_nav_7 {
  position: relative;
  grid-row: 7/8;
}

.sidebar_text {
  margin: 0;
  font-size: 0.9em;
}

.sidebar_color {
  color: gray;
  align-items: center;
  text-align: center;
  height: 3.5em;
  padding: 4px 0;
  margin: 16px 0;
}

.sidebar_color:hover,
.sidebar_color.active {
  color: rgb(255, 255, 255);
}
