/* Button */
.button {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(50, 50, 50);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.button:hover {
  background: rgb(245, 245, 245);
}

.button:active {
  background: rgb(235, 235, 235);
}

.button:disabled {
  border: 1px solid rgb(240, 240, 240);
  background: rgb(240, 240, 240);
  color: rgb(140, 145, 150);
  cursor: initial;
}

.button.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.blue {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(20, 120, 250);
  background: rgb(20, 120, 250);
}

.button.blue:hover {
  background: rgb(20, 110, 230);
}

.button.blue:active {
  background: rgb(20, 90, 210);
}

.button.blue:disabled {
  border: 1px solid rgb(150, 200, 255);
  background: rgb(150, 200, 255);
  cursor: initial;
}

.button.blue.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.blue.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.purple {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(145, 30, 255);
  background: rgb(145, 30, 255);
}

.button.purple:hover {
  background: rgb(135, 30, 235);
}

.button.purple:active {
  background: rgb(115, 30, 215);
}

.button.purple:disabled {
  border: 1px solid rgb(200, 150, 255);
  background: rgb(200, 150, 255);
  cursor: initial;
}

.button.purple.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.purple.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.red {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(230, 55, 70);
  background: rgb(230, 55, 70);
}

.button.red:hover {
  background: rgb(210, 55, 60);
}

.button.red:active {
  background: rgb(190, 55, 40);
}

.button.red:disabled {
  border: 1px solid rgb(255, 170, 180);
  background: rgb(255, 170, 180);
  cursor: initial;
}

.button.red.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.red.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.green {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(40, 160, 100);
  background: rgb(40, 160, 100);
}

.button.green:hover {
  background: rgb(40, 140, 90);
}

.button.green:active {
  background: rgb(40, 120, 80);
}

.button.green:disabled {
  border: 1px solid rgb(150, 220, 210);
  background: rgb(150, 220, 210);
  cursor: initial;
}

.button.green.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.green.xl {
  padding: 8px 16px;
  font-size: 18px;
}

/* Button Square  */
.button_square {
  height: 26px;
  padding: 0 0 1px 0;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border: 0px solid rgb(200, 200, 200);
  background: rgb(200, 200, 200);
  cursor: pointer;
}

.button_square:hover {
  background: rgb(190, 190, 190);
}

.button_square:active {
  background: rgb(160, 160, 160);
}

.button_square.emerald {
  background: rgb(0, 175, 170);
}

.button_square.emerald:hover {
  background: rgb(0, 165, 160);
}

.button_square.emerald:active {
  background: rgb(0, 145, 140);
}

.button_square.sakura {
  background: rgb(230, 0, 140);
}

.button_square.sakura:hover {
  background: rgb(220, 0, 130);
}

.button_square.sakura:active {
  background: rgb(190, 0, 110);
}

/* Input */
.input {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.input:focus-visible {
  outline: 1px auto rgb(40, 130, 250);
}

.input.disabled {
  background: rgb(240, 240, 240);
}

.textarea {
  width: 100%;
  min-height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  resize: none;
  overflow-y: hidden;
}

.textarea:focus-visible {
  outline: 1px auto rgb(40, 130, 250);
}

.textarea.disabled {
  background: rgb(240, 240, 240);
}

.select {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 36px;
  align-items: center;
}

.select::after {
  position: absolute;
  right: 11px;
  width: 14px;
  height: 12px;
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="rgb(80, 80, 80)" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
}

.select select {
  appearance: none;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.select select:focus-visible {
  outline: 1px auto rgb(40, 130, 250);
}

/* Checkbox */
.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-image: var(--bs-form-check-bg-image);
  cursor: pointer;
}

.check_group {
  display: block;
  min-height: 1.5rem;
}

.check_group .checkbox {
  float: left;
}

.check_group label {
  margin: 0 0 0 5px;
  cursor: pointer;
}

.checkbox:checked {
  border: 1px solid rgb(40, 130, 250);
  background-color: rgb(40, 130, 250);
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.checkbox:checked[type='radio'] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
