/* button */
.button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  background: rgb(200, 200, 200);
}

.button:hover {
  background: rgb(180, 180, 180);
}

.button:active {
  background: rgb(150, 150, 150);
}

.button.blue {
  border: 1px solid #3d7af2;
  background: #3d7af2;
}

.button.blue:hover {
  background: #3870de;
}

.button.blue:active {
  background: #3365ca;
}

.button.blue.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.blue.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.purple {
  border: 1px solid #9020ff;
  background: #9020ff;
}

.button.purple:hover {
  background: #851eeb;
}

.button.purple:active {
  background: #751ad0;
}

.button.purple.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.purple.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.red {
  border: 1px solid #dc3545;
  background: #dc3545;
}

.button.red:hover {
  background: #cd3141;
}

.button.red:active {
  background: #bc2d3b;
}

.button.red.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.red.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.green {
  border: 1px solid #00936e;
  background: #00936e;
}

.button.green:hover {
  background: #008967;
}

.button.green:active {
  background: #00795b;
}

.button.green.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.green.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.light {
  color: rgb(30, 30, 30);
  background: #ffffff;
}

.button.light:hover {
  background: #f7f7f7;
}

.button.light:active {
  background: #eeeeee;
}

.button.light.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.light.xl {
  padding: 8px 16px;
  font-size: 18px;
}

/* Input */
.input {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.input:focus-visible {
  outline: 1px auto rgb(40, 130, 250);
}

.input.disabled {
  background: rgb(240, 240, 240);
}

/* checkbox */
.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-image: var(--bs-form-check-bg-image);
  cursor: pointer;
}

.check_group {
  display: block;
  min-height: 1.5rem;
}

.check_group .checkbox {
  float: left;
}

.check_group label {
  margin: 0 0 0 5px;
  cursor: pointer;
}

.checkbox:checked {
  border: 1px solid rgb(40, 130, 250);
  background-color: rgb(40, 130, 250);
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.checkbox:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
