/* ヘッダー */
.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  position: fixed;
  z-index: 70; /* side-menuよりは小さく */
  top: 0;
  width: 100%;
  background: linear-gradient(60deg, rgb(0, 0, 50) 0%, rgb(10, 115, 120) 60%, rgb(255, 0, 130) 100%);
  color: rgb(255, 255, 255);
}

.header_nav {
  display: grid;
  grid-template-columns: 4.5em 7.5em minmax(9.5em, 1fr) 3em 3em 3em 3em;
  grid-template-rows: 2.5em;
  align-items: center;
  text-align: center;
  padding: 8px 0;
}

.header_nav_1 {
  grid-column: 1/2;
  position: relative;
}

.header_nav_2 {
  grid-column: 2/3;
  position: relative;
  justify-self: start;
}

.header_nav_2 h1 {
  font-family: "Libre Caslon Display", serif;
  font-size: 1.8em;
  font-weight: 100;
  margin: auto;
}

.header_nav_3 {
  grid-column: 3/4;
}

.header_nav_4 {
  grid-column: 4/5;
  position: relative;
}

.header_nav_5 {
  grid-column: 5/6;
  position: relative;
}

.header_nav_6 {
  grid-column: 6/7;
  position: relative;
}

.header_nav_7 {
  grid-column: 7/8;
  position: relative;
  justify-self: center;
}

.icon_link {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

/* サイドメニュー */
.side_menu {
  position: fixed;
  z-index: 100; /* 最前面 */
  overflow-y: auto;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  transition: all 0.2s;
}

.side_menu_open {
  display: block;
  margin: 0;
  cursor: pointer;
  transition: all 0.01s;
}

.side_menu_close {
  display: block;
  height: 3.5em;
  margin: 16px 0 0 0;
  cursor: pointer;
  text-align: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.myus_img {
  margin: 0 16px;
}

.side_menu .bi {
  float: left;
  margin: 0 16px;
}

.side_menu .bi-arrow-left {
  margin: 3px 16px 0 16px;
}

.side_menu_footer {
  height: 300px;
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.side_menu_open:hover,
.header_color:hover {
  color: rgb(255, 220, 0);
}

.header_color_MyUs:hover {
  color: rgb(0, 239, 239);
}

/* 閉じる用のカバー */
.side_nemu_back {
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

/* チェックボックスは非表示に */
.header_nav1 [type="checkbox"] {
  display: none;
}

/* チェックが入ったら表示 */
#burger_menu:checked ~ .side_menu {
  left: 0;
  box-shadow: 6px 0 25px rgba(0, 100, 255, 0.2);
}

#burger_menu:checked ~ .side_nemu_back {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.side_menu_color {
  margin: 0;
  padding: 12px 0;
}

.side_menu_color:hover {
  color: rgb(0, 100, 255);
  background: rgb(200, 230, 255);
}

.side_menu_color_bi {
  color: rgb(0, 70, 175);
}

.side_menu_item {
  position: relative;
  text-align: start;
}

.side_menu_footer_item {
  display: flex;
  position: relative;
  text-align: start;
  font-size: 0.9rem;
}

/* ドロップダウンメニュー */
.drop_open_cloud,
.drop_open_notice,
.drop_open_profile {
  display: block;
  margin: 0;
  cursor: pointer;
  transition: all 0.01s;
}

.drop_menu_cloud,
.drop_menu_notice,
.drop_menu_profile {
  position: fixed;
  z-index: 80; /* サイドメニューよりかは小さい */
  top: 3.5em;
  right: -250px;
  width: 250px;
  padding: 0;
  margin: 0;
  background: rgb(255, 250, 245);
  color: rgb(50, 50, 50);
  transition: all 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.drop_menu_cloud {
  height: 289px;
}

.drop_menu_notice,
.drop_menu_profile {
  height: 337px;
}

/* 閉じる用のカバー */
.drop_back_cloud,
.drop_back_notice,
.drop_back_profile {
  display: none;
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

/* チェックが入ったら表示 */
#drop_menu_cloud:checked ~ .drop_menu_cloud,
#drop_menu_notice:checked ~ .drop_menu_notice,
#drop_menu_profile:checked ~ .drop_menu_profile {
  right: 0;
  border: 1px solid rgb(255, 230, 200);
  border-style: hidden hidden solid solid;
}

#drop_menu_cloud:checked ~ .drop_back_cloud,
#drop_menu_notice:checked ~ .drop_back_notice,
#drop_menu_profile:checked ~ .drop_back_profile {
  display: block;
}

.drop_menu_cloud .bi,
.drop_menu_notice .bi,
.drop_menu_profile .bi {
  float: left;
  margin: 0 16px;
}

/* ドロップダウンメニュー Profile */
.drop_open_profile img {
  border-radius: 50%;
}

#drop_menu_profile:checked ~ .drop_open_profile img {
  box-shadow: 0 0 0 1.5px rgba(255, 221, 0, 0.9);
}

.drop_menu_item {
  position: relative;
  text-align: start;
}

.color_drop_menu {
  margin: 0;
  padding: 12px 0;
}

.color_drop_menu:hover {
  color: rgb(250, 130, 0);
  background: rgb(255, 230, 200);
}

.color_drop_menu_bi {
  color: rgb(240, 130, 0);
}

/* ドロップダウンメニュー 通知 */
.drop_open_notice .bi-bell-fill.active {
  position: relative;
  margin: -25px 0 0 0;
}

.bi-exclamation-lg {
  display: none;
}

.bi-exclamation-lg.active {
  display: block;
  margin: -43px 0 0 25px;
  color: rgb(255, 220, 0);
}

.notification_aria_list {
  display: grid;
  grid-template-columns: 36px 9px auto 22.5px;
  grid-template-rows: 48px;
  grid-gap: 0 2px;
  position: relative;
  padding: 0 0 0 11px;
}

.notification_aria_list:hover {
  color: rgb(250, 130, 0);
  background: rgb(255, 230, 200);
}

.notification_aria_list a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

.notification_aria_list .profile_image {
  grid-column: 1/2;
  grid-row: 1/2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.notification_aria_list .svg-circle {
  width: 60%;
  padding: 6px 0 0 0;
  fill: rgb(255, 100, 100);
}

.notification_aria_anker {
  width: 189px;
  padding: 6px 0;
}

.notification_aria_list:hover .notification_aria_anker {
  width: 156px;
}

.notification_aria_list_1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  grid-column: 3/5;
  grid-row: 1/2;
  font-size: 12px;
  overflow: hidden;
  word-break: break-all;
  padding: 1px 0;
}

.notification_aria_list_2 {
  display: none;
}

.notification_aria_list:hover .notification_aria_list_1 {
  grid-column: 3/4;
  width: auto;
}

.notification_aria_list:hover .notification_aria_list_2 {
  display: block;
  grid-column: 4/5;
  grid-row: 1/3;
  justify-self: end;
  width: 23px;
  margin: 0;
  padding: 7px 0;
  color: rgb(120, 120, 120);
}

.notification_aria_list:hover .notification_aria_list_2:hover {
  cursor: pointer;
  color: rgb(0, 100, 255);
}

/* サーチバー */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 32px;
  background: rgb(255, 255, 255);
  border-radius: 32px;
  font-size: 16px;
}

.search_input {
  color: rgb(3, 3, 3);
  border: 0;
  outline: 0;
  background: none;
  width: 700px;
  padding: 0;
  text-indent: 10px;
  line-height: 32px;
  transition: width 0.1s linear;
}

input::placeholder {
  color: rgb(100, 100, 100);
}

.search_icon {
  width: 32px;
  height: 32px;
  margin: 0 -2px 0 0;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(30, 75, 165);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.search_icon:focus {
  outline: none;
}

.search_container {
  padding: 0;
}

.search_message {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0 0 0 8px;
  font-size: 14px;
  color: rgb(33, 37, 41);
}

/* Reset input[type="search"] */
input[type="search"]:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  margin-bottom: auto;
  margin-top: auto;
  height: 32px;
  border-radius: 32px;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]:focus {
  margin-bottom: auto;
  margin-top: auto;
  height: 32px;
  border-radius: 32px;
  font-size: 16px;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::-moz-focus-inner {
  border: 0px;
}
