/* サーチタグバー */
.searchtag {
  position: fixed;
  top: 56px;
  left: 72px;
  width: 100%;
  height: 26px;
  background: rgb(240, 240, 240);
  z-index: 50;
}

.searchtag_grid {
  display: grid;
  grid-template-columns: 48px 194px 48px auto;
  grid-template-rows: 26px;
}

.searchtag_1 {
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
}

.searchtag_1.active {
  display: none;
}

.searchtag_2 {
  display: none;
}

.searchtag_2.active {
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
}

.searchtag_3 {
  display: none;
}

.searchtag_3.active {
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 1px;
}

.searchtag_3.active input {
  width: 100%;
  height: 24px;
  padding: 4px 8px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.searchtag_3.active input::placeholder {
  font-size: 14px;
  color: rgb(130, 130, 130);
}

.searchtag_3.active:focus {
  outline: 1px auto rgb(40, 130, 250);
}

.searchtag_4 {
  display: none;
}

.searchtag_4.active {
  display: block;
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
}

.searchtag_n {
  grid-column: 2/3;
  grid-row: 1/2;
  width: calc(100vw - 166px);
  overflow-x: auto;
  white-space: nowrap;
}

.searchtag_n::-webkit-scrollbar {
  height: 0;
}

.searchtag_n.active {
  grid-column: 4/5;
  width: calc(100vw - 408px);
}

.searchtag_n_list {
  display: inline;
  margin: 0 0 0 4px;
}

.searchtag_n_list a {
  font-size: 14px;
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.searchtag_left {
  position: fixed;
  right: 18px;
  padding: 0 0 2px 0;
  cursor: pointer;
  color: rgb(120, 120, 120);
  background: rgb(240, 240, 240);

  &:hover {
    color: rgb(35, 150, 255);
    background: rgb(210, 210, 210);
  }

  &:active {
    color: rgb(0, 130, 255);
    background: rgb(200, 200, 200);
  }
}

.searchtag_right {
  position: fixed;
  right: 0;
  padding: 0 0 2px 0;
  cursor: pointer;
  color: rgb(120, 120, 120);
  background: rgb(240, 240, 240);

  &:hover {
    color: rgb(35, 150, 255);
    background: rgb(210, 210, 210);
  }

  &:active {
    color: rgb(0, 130, 255);
    background: rgb(200, 200, 200);
  }
}

.tag_n_add {
  margin: 0 4.3px 0 0;
}

.hashtag_list {
  display: inline;
  margin: 0 2px 0 0;
}

.hashtag_list a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(100, 100, 100);
}

.searchtag_n_list a:hover,
.hashtag_list a:hover {
  color: rgb(0, 130, 255);
}
