<h1>Follow</h1>
{% if query %}
<section class="main_search_message">「{{ query }}」の検索結果「{{ count }}」件</section>
{% endif %}

{% if user.is_authenticated %}
<div class="follow_button">
  <button type="button" href="{% url 'app:follower_list' %}" class="button blue s pjax_button">フォロワー</button>
  <span>フォロー数：{{ user.mypage.following_count }}</span>
</div>

<article class="article_list">
  {% include 'menu/follow/follow_article.html' %}
</article>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}
