.button {
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      word-break: keep-all;
    }
  }

  &.s {
    padding: 4px 8px;
    font-size: 12px;
  }

  &.m {
    padding: 7px 14px;
    font-size: 14px;
  }

  &.l {
    padding: 9px 20px;
    font-size: 16px;
  }

  &.white {
    color: rgb(50, 50, 50);
    border: 1px solid rgb(200, 200, 200);
    background: rgb(255, 255, 255);

    &:hover {
      background: rgb(245, 245, 245);
    }

    &:active {
      background: rgb(240, 240, 240);
    }

    &:disabled {
      background: rgb(240, 240, 240);
      color: rgb(140, 145, 150);
      cursor: initial;
    }
  }

  &.black {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);

    &:hover {
      background: rgb(60, 60, 60);
    }

    &:active {
      background: rgb(80, 80, 80);
    }

    &:disabled {
      border: 1px solid rgb(130, 130, 130);
      background: rgb(130, 130, 130);
      cursor: initial;
    }
  }

  &.blue {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(20, 120, 250);
    background: rgb(20, 120, 250);

    &:hover {
      background: rgb(20, 110, 230);
    }

    &:active {
      background: rgb(20, 90, 210);
    }

    &:disabled {
      border: 1px solid rgb(150, 200, 255);
      background: rgb(150, 200, 255);
      cursor: initial;
    }
  }

  &.purple {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(145, 30, 255);
    background: rgb(145, 30, 255);

    &:hover {
      background: rgb(135, 30, 235);
    }

    &:active {
      background: rgb(115, 30, 215);
    }

    &:disabled {
      border: 1px solid rgb(200, 150, 255);
      background: rgb(200, 150, 255);
      cursor: initial;
    }
  }

  &.red {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 55, 70);
    background: rgb(230, 55, 70);

    &:hover {
      background: rgb(210, 55, 60);
    }

    &:active {
      background: rgb(190, 55, 40);
    }

    &:disabled {
      border: 1px solid rgb(255, 170, 180);
      background: rgb(255, 170, 180);
      cursor: initial;
    }
  }

  &.green {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(40, 160, 100);
    background: rgb(40, 160, 100);

    &:hover {
      background: rgb(40, 140, 90);
    }

    &:active {
      background: rgb(40, 120, 80);
    }

    &:disabled {
      border: 1px solid rgb(150, 220, 210);
      background: rgb(150, 220, 210);
      cursor: initial;
    }
  }

  .spinner {
    position: absolute;
  }

  .invisible {
    color: transparent;
  }
}
