.button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  background: rgb(200, 200, 200);
}

.button:hover {
  background: rgb(190, 190, 190);
}

.button:active {
  background: rgb(160, 160, 160);
}

.button.blue {
  border: 1px solid rgb(60, 120, 240);
  background: rgb(60, 120, 240);
}

.button.blue:hover {
  background: rgb(60, 110, 230);
}

.button.blue:active {
  background: rgb(60, 100, 210);
}

.button.blue.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.blue.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.purple {
  border: 1px solid rgb(145, 30, 255);
  background: rgb(145, 30, 255);
}

.button.purple:hover {
  background: rgb(135, 30, 235);
}

.button.purple:active {
  background: rgb(115, 30, 205);
}

.button.purple.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.purple.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.red {
  border: 1px solid rgb(220, 55, 70);
  background: rgb(220, 55, 70);
}

.button.red:hover {
  background: rgb(210, 55, 60);
}

.button.red:active {
  background: rgb(190, 55, 40);
}

.button.red.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.red.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.green {
  border: 1px solid rgb(0, 150, 120);
  background: rgb(0, 150, 120);
}

.button.green:hover {
  background: rgb(0, 140, 110);
}

.button.green:active {
  background: rgb(0, 120, 90);
}

.button.green.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.green.xl {
  padding: 8px 16px;
  font-size: 18px;
}

.button.light {
  color: rgb(30, 30, 30);
  background: rgb(255, 255, 255);
}

.button.light:hover {
  background: rgb(245, 245, 245);
}

.button.light:active {
  background: rgb(235, 235, 235);
}

.button.light.xs {
  padding: 4px 8px;
  font-size: 12px;
}

.button.light.xl {
  padding: 8px 16px;
  font-size: 18px;
}
