.button_base {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  background: rgb(200, 200, 200);
}

.button_base:active {
  background: rgb(150, 150, 150);
}

.button_base.blue {
  border: 1px solid #3d7af2;
  background: #3d7af2;
}

.button_base.blue.xs {
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #3d7af2;
  background: #3d7af2;
}

.button_base.blue.xl {
  padding: 8px 16px;
  font-size: 18px;
  border: 1px solid #3d7af2;
  background: #3d7af2;
}

.button_base.blue:active {
  background: #3365ca;
}

.button_base.purple {
  border: 1px solid #9020ff;
  background: #9020ff;
}

.button_base.purple.xs {
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #9020ff;
  background: #9020ff;
}

.button_base.purple.xl {
  padding: 8px 16px;
  font-size: 18px;
  border: 1px solid #9020ff;
  background: #9020ff;
}

.button_base.purple:active {
  background: #781ad5;
}

.button_base.red {
  border: 1px solid #dc3545;
  background: #dc3545;
}

.button_base.red.xs {
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #dc3545;
  background: #dc3545;
}

.button_base.red.xl {
  padding: 8px 16px;
  font-size: 18px;
  border: 1px solid #dc3545;
  background: #dc3545;
}

.button_base.red:active {
  background: #bb2d3b;
}

.button_base.green {
  border: 1px solid #008060;
  background: #008060;
}

.button_base.green.xs {
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #008060;
  background: #008060;
}

.button_base.green.xl {
  padding: 8px 16px;
  font-size: 18px;
  border: 1px solid #008060;
  background: #008060;
}

.button_base.green:active {
  background: #006e52;
}

.button_base.light {
  color: rgb(30, 30, 30);
  background: #ffffff;
}

.button_base.light.xs {
  padding: 4px 8px;
  font-size: 12px;
  color: rgb(30, 30, 30);
  background: #ffffff;
}

.button_base.light.xl {
  padding: 8px 16px;
  font-size: 18px;
  color: rgb(30, 30, 30);
  background: #ffffff;
}

.button_base.light:active {
  background: #e5e5e5;
}
