{% extends 'base2.html' %}
{% block title %}<title>MyUs 404</title>{% endblock title %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main_contents">
    <article class="main_pass">
        <h1>MyUs404</h1>

        <h2 class="login_required">ページが見つかりませんでした。</h2>

        {% include 'parts/footer-myus.html' %}
    </article>
</main>
{% endblock content %}
