{% load static %}
{% load humanize %}

{% for comment in comment_list reversed %}
<div id="comment_aria_list_{{ comment.id }}" class="comment_aria_list">
  <a href="{% url 'app:userpage' comment.author.nickname %}" data="{{ comment.author.nickname }}" class="pjax_button_userpage">
    <img src="{{ comment.author.image }}" title="{{ comment.author.nickname }}" class="profile_image_comment">
  </a>

  <div class="comment_aria_list_1">
    <p>{{ comment.author.nickname }}</p>
    <time>{{ comment.created|date:'Y/m/d H:i' }}</time>
  </div>

  <div id="comment_aria_list_2_{{ comment.id }}" class="comment_aria_list_2">{{ comment.text|linebreaksbr|urlize }}</div>

  <div comment-id="{{ comment.id }}" class="comment_aria_list_3">
    {% if user.is_authenticated %}
    <form method="POST" action="" comment-id="{{ comment.id }}" csrf="{{ csrf_token }}" class="like_form_aria">
      {% if comment.is_comment_like %}
      <button type="submit" name="like" class="like_form_comment like_fill">
        <i title="いいね" class="bi bi-hand-thumbs-up-fill icon_font like_color_{{ comment.id }}"></i>
      </button>
      {% else %}
      <button type="submit" name="like" class="like_form_comment like_no">
        <i title="いいね" class="bi bi-hand-thumbs-up icon_font like_color_{{ comment.id }}"></i>
      </button>
      {% endif %}
    </form>
    {% else %}
    <i title="いいね" class="bi bi-hand-thumbs-up icon_font rgb100"></i>
    {% endif %}
    <span id="like_count_{{ comment.id }}" class="like_count rgb100">{{ comment.total_like|intcomma }}</span>

    <label id="reply_button_open_{{ comment.id }}" class="reply_button_open">▼ 返信</label>
    <label id="reply_button_close_{{ comment.id }}" class="reply_button_close vanish">▲ 返信</label>

    <label id="reply_list_button_open_{{ comment.id }}" class="reply_list_button_open">
      <span id="reply_count_open_{{ comment.id }}" class="reply_count">▼ スレッド {{ comment.reply_count|intcomma }} 件</span>
      <span>表示</span>
    </label>
    <label id="reply_list_button_close_{{ comment.id }}" class="reply_list_button_close vanish">
      <span id="reply_count_close_{{ comment.id }}" class="reply_count">▲ スレッド {{ comment.reply_count|intcomma }} 件</span>
      <span>非表示</span>
    </label>

    {% include 'parts/common/reply/reply_create.html' %}

    <div class="comment_aria_list_space"></div>

    <div id="reply_aria_list_{{ comment.id }}" class="comment_aria_list_5">
      {% include 'parts/common/reply/reply.html' %}
    </div>
  </div>
  {% include 'parts/common/comment/modal_content_comment.html' %}
</div>
<div id="edit_update_main_{{ comment.id }}" class="edit_update_main">
{% include 'parts/common/comment/comment_update.html' %}
</div>
{% endfor %}
