.button {
  height: 26px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border: 0px;
  line-height: 1.2;
  cursor: pointer;

  &.emerald {
    background: rgb(0, 175, 170);

    &:hover {
      background: rgb(0, 165, 160);
    }

    &:active {
      background: rgb(0, 145, 140);
    }
  }

  &.sakura {
    background: rgb(230, 0, 140);

    &:hover {
      background: rgb(220, 0, 130);
    }

    &:active {
      background: rgb(190, 0, 110);
    }
  }
}
