/* プロフィール */
.article_pass .login_required {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: -1px 0 0 0;
  color: rgb(255, 0, 0);
  font-size: 16px;
}

.messages_profile {
  grid-column: 1/-1;
  grid-row: 2/3;
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  height: 20px;
  padding: 0;
  margin: -20px 0 0 0;
}

/* table */
.account_image {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 15px;
}

.account_image img {
  border: 4px solid rgb(200, 200, 200);
  border-radius: 15%;
}

.account_image img:hover {
  border: 4px solid rgb(100, 220, 150);
}

.account_image_edit {
  width: 56px;
  color: rgb(200, 200, 200);
}

.account_image_edit:hover {
  color: rgb(100, 220, 150);
  cursor: pointer;
}

.account_image_edit input {
  display: none;
}

.mypage_image {
  display: block;
  width: 270px;
  height: 56px;
}

.mypage_image img {
  border: 4px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.mypage_image img:hover {
  border: 4px solid rgb(100, 220, 150);
}

td .textarea_margin {
  margin: 0 0 -5.5px 0;
}

/* パスワード変更 */
.article_pass {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 3px;
  margin-top: 16px;
}

.messages_password_change {
  grid-column: 1/2;
  grid-row: 2/3;
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  height: 0.8em;
  padding: 0 0 50px 0;
}

.password_done {
  padding: 50px 15px;
}

.submit {
  margin: 40px 0 24px 0;
}

.form_account {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
}

.form_account .checkbox {
  font-weight: 400;
}
