/* registration */
.article_registration {
  display: flex;
  justify-content: center;
}

.form_account {
  width: 100%;
  max-width: 380px;
  padding: 15px;
}

.form_account .login_h1 {
  font-family: 'Libre Caslon Display', serif;
  font-size: 28px;
  color: rgb(50, 50, 50);
  margin: 40px 0;
}

.myus_h1 {
  font-family: 'Libre Caslon Display', serif;
  font-size: 26px;
  margin: 0 0 24px 0;
}

.form_account .signup_h1 {
  font-family: 'Libre Caslon Display', serif;
  font-size: 28px;
  color: rgb(50, 50, 50);
  margin-bottom: 20px;
}

.form_account .checkbox {
  font-weight: 400;
}

.password_reset {
  font-size: 14px;
  color: rgb(0, 130, 255);
  cursor: pointer;
}

.email_reset {
  margin: 0px 0 50px 0;
}

.messages_password_form {
  font-size: 14px;
  color: rgb(255, 0, 0);
  margin: -26px 0 5px 0;
}

.messages_password_reset {
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  padding: 0;
  margin: 29px 0 -25px 0;
}

.messages_password_mukou {
  font-size: 14px;
  color: rgb(255, 0, 0);
}

.gender {
  margin: 0 0 40px 0;
}

#login,
#submit {
  margin: 0 0 24px 0;
}

.messages {
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  padding: 0;
}

.messages_login {
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  padding: 0;
  margin: -26px 0 5px 0;
}

.messages_signup {
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  padding: 0;
  margin: -17px 0 -4px 0;
}

.inpput_margin {
  display: block;
  margin: 0 0 16px 0;
}

.article_registration a {
  text-decoration: none;
}

.name_group {
  display: flex;
  gap: 4px;
}
