.video-js .vjs-control {
  width: 3em;
  color: inherit;
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important;
}

.vjs-track-setting > select,
.vjs-text-track-settings fieldset span > select {
  color: rgb(0, 0, 0);
}

.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em;
}

.video-js .vjs-menu-button-inline:before {
  width: 1.5em;
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em;
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button {
  display: block;
}

.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
  display: none !important;
}

.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
  padding: 0 0.4em 0.3em;
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

.video-js *,
.video-js:after,
.video-js:before {
  color: inherit;
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
}

.video-js.vjs-fullscreen,
.video-js.vjs-fullscreen .vjs-tech {
  width: 100% !important;
  height: 100% !important;
}

.video-js {
  font-size: 14px;
  overflow: hidden;
}

.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 8.35em;
}

.video-js
  .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover
  .vjs-menu
  .vjs-menu-content {
  width: 6.35em;
  height: 3em;
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before {
  text-shadow: 0 0 1em #2483d5, 0 0 1em #2483d5, 0 0 1em #2483d5;
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover,
.video-js .vjs-control:focus {
  text-shadow: 0 0 1em rgba(0, 149, 255, 0.8),
    0 0 2em rgba(0, 150, 255, 0.5),
    0 0 3em rgba(0, 150, 255, 0.2);
}

.vjs-subs-caps-button .vjs-menu-button:focus:before,
.vjs-subs-caps-button .vjs-menu-button:hover,
.vjs-subs-caps-button .vjs-menu-button:focus {
  text-shadow: 0 0 1em rgba(0, 149, 255, 0.8),
    0 0 2em rgba(0, 150, 255, 0.5),
    0 0 3em rgba(0, 150, 255, 0.2);
}

.video-js .vjs-spacer,
.video-js .vjs-time-control {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.video-js .vjs-time-control {
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 1; /* auto → 1*/
  padding: 0;
}

.video-js .vjs-time-control.vjs-time-divider {
  width: 14px;
  padding: 0;
}

.video-js .vjs-time-control.vjs-time-divider div {
  width: 100%;
  text-align: center;
}

.video-js .vjs-time-control.vjs-current-time {
  margin-left: 1em;
  padding: 0;
  margin: 0;
}

.video-js .vjs-time-control .vjs-current-time-display,
.video-js .vjs-time-control .vjs-duration-display {
  width: 100%;
}

.video-js .vjs-time-control .vjs-current-time-display {
  text-align: right;
}

.video-js .vjs-time-control .vjs-duration-display {
  text-align: left;
}

.video-js .vjs-play-progress:before,
.video-js .vjs-progress-control .vjs-play-progress:before,
.video-js .vjs-remaining-time,
.video-js .vjs-volume-level:after,
.video-js .vjs-volume-level:before,
.video-js.vjs-live .vjs-time-control.vjs-current-time,
.video-js.vjs-live .vjs-time-control.vjs-duration,
.video-js.vjs-live .vjs-time-control.vjs-time-divider,
.video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
  display: none;
}

.video-js.vjs-no-flex .vjs-time-control {
  display: table-cell;
  width: 4em;
}

.video-js .vjs-progress-control {
  position: absolute;
  top: -0.3em; /* 0.5em → 0.3em */
  left: 0;
  right: 0;
  width: 100%;
  height: 0.3em; /* 0.5em → 0.3em */
}

.video-js .vjs-progress-control .vjs-load-progress,
.video-js .vjs-progress-control .vjs-play-progress,
.video-js .vjs-progress-control .vjs-progress-holder {
  height: 100%;
}

.video-js .vjs-progress-control .vjs-progress-holder {
  margin: 0;
}

.video-js .vjs-progress-control:hover {
  top: -0.5em; /* 1.5em → 0.5em */
  height: 0.5em; /* 1.5em → 0.5em */
}

.video-js .vjs-control-bar {
  -webkit-transition: -webkit-transform 0.1s ease 0s;
  -moz-transition: -moz-transform 0.1s ease 0s;
  -ms-transition: -ms-transform 0.1s ease 0s;
  -o-transition: -o-transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s;
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
  visibility: visible;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(3em);
  -moz-transform: translateY(3em);
  -ms-transform: translateY(3em);
  -o-transform: translateY(3em);
  transform: translateY(3em);
  -webkit-transition: -webkit-transform 1s ease 0s;
  -moz-transition: -moz-transform 1s ease 0s;
  -ms-transition: -ms-transform 1s ease 0s;
  -o-transition: -o-transform 1s ease 0s;
  transition: transform 1s ease 0s;
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
  height: 0.25em;
  top: -0.25em;
  pointer-events: none;
  -webkit-transition: height 1s, top 1s;
  -moz-transition: height 1s, top 1s;
  -ms-transition: height 1s, top 1s;
  -o-transition: height 1s, top 1s;
  transition: height 1s, top 1s;
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
  opacity: 0;
  -webkit-transition: opacity 1s ease 1s;
  -moz-transition: opacity 1s ease 1s;
  -ms-transition: opacity 1s ease 1s;
  -o-transition: opacity 1s ease 1s;
  transition: opacity 1s ease 1s;
}

.video-js.vjs-live .vjs-live-control {
  margin-left: 1em;
}

.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: 0.06666em solid rgb(255, 255, 255);
  font-size: 2.5em;
  background: rgba(0, 105, 255, 0.2);
  color: rgb(255, 255, 255);
  -webkit-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -moz-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -ms-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  -o-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
}

.video-js .vjs-menu-button-popup .vjs-menu {
  left: -3em;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background: transparent;
  width: 10em;
  left: -3.5em;
  max-height: auto;
  padding-bottom: 0.5em;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
  margin: 0.3em 0;
  border-radius: 0.3em;
  background: #151b17;
}

.vjs-menu li.vjs-menu-title {
  text-transform: none;
  font-weight: lighter;
  line-height: 1.5em;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
  background: #2483d5;
}

.video-js .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.1); /* (0, 0, 0, 0.5) → (0, 0, 0, 0.1) */
  font-size: 2.5em;
  border-radius: 0.3em; /* 20% → 0.3em */
  height: 1.4em !important;
  line-height: 1.3em !important;
  margin-top: -0.7em !important;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active {
  background: rgba(0, 105, 255, 0.6);
}

.video-js .vjs-loading-spinner {
  border-color: rgb(50, 150, 255);
}

.video-js .vjs-control-bar2 {
  background: #000000;
}

.video-js .vjs-control-bar {
  color: #ffffff;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.3) !important;
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
  background: rgb(50, 150, 255);
}

.video-js .vjs-load-progress {
  background: rgba(255, 255, 255, 0.3);
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content {
  font-size: 15px;
}

.vjs-playback-rate .vjs-playback-rate-value {
  line-height: 2.5;
  font-size: 1.3em;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item {
  padding: 0.1em;
  font-size: 1em;
}

.video-js.vjs-hls-quality-selector {
  display: block;
}

.vjs-menu-title {
  display: none;
}

.video-js .vjs-picture-in-picture-control {
  display: none;
}

.skip {
  display: none;
  position: absolute;
  z-index: 100;
  bottom: 40px;
  right: 10px;
  width: 150px;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 139);
  background: rgb(0, 0, 205);
  cursor: pointer;
}

/* リストホバー自動再生 */
.video .video-js .vjs-big-play-button {
  display: none;
  border: 0 solid rgb(255, 255, 255);
  opacity: 0;
  color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0);
}

.video .video-js {
  background: rgb(0, 0, 0) !important;
}

.video .vjs-control-bar {
  display: none !important;
}

// ボリュームバーを常に表示
.video-js {
  .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:not(.vjs-slider-active),
  .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:hover,
  .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:active,
  .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
    width: auto !important;
  }

  .vjs-volume-panel .vjs-volume-control.vjs-control.vjs-volume-horizontal {
    display: flex !important;
    width: 5em !important;
    height: 3em !important;
    margin-right: 1em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  .vjs-volume-panel:hover .vjs-volume-control.vjs-control.vjs-volume-horizontal,
  .vjs-volume-panel.vjs-hover .vjs-volume-control.vjs-control.vjs-volume-horizontal,
  .vjs-volume-panel.vjs-slider-active .vjs-volume-control.vjs-control.vjs-volume-horizontal,
  .vjs-volume-panel .vjs-volume-control.vjs-control.vjs-volume-horizontal {
    display: flex !important;
    width: 5em !important;
    height: 3em !important;
    margin-right: 1em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

// カスタム設定ボタン
.vjs-settings-button {
  cursor: pointer;
}

// カスタム設定メニュー
.vjs-settings-menu {
  position: absolute;
  bottom: 40px;
  right: 0;
  min-width: 200px;
  padding: 0;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;

  &.vjs-hidden {
    display: none;
  }
}

.vjs-speed-submenu,
.vjs-quality-submenu {
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 0;
  min-width: 200px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;

  &.vjs-hidden {
    display: none;
  }
}

.vjs-settings-menu-content {
  margin: 8px 0;
}

.vjs-settings-menu-item {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.vjs-back-button {
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .vjs-menu-label {
    color: rgba(255, 255, 255, 1);
  }

  .vjs-menu-value {
    color: rgba(255, 255, 255, 0.7);
  }

  .vjs-menu-checkmark {
    margin-left: 16px;
  }

  .vjs-back-arrow {
    margin-right: 8px;
  }
}
