{% extends 'base2.html' %}
{% block title %}<title>MyUフォロワー</title>{% endblock title %}

{% load humanize %}

{% block content %}
<main class="main_contents">
    <h1>フォロワー
        {% if query %}
        <section class="messages_search">「{{ query }}」の検索結果「{{ count }}」件</section>
        {% endif %}
    </h1>

    {% if user.is_authenticated %}

    <div class="follow_button">
        <a href="{% url 'myus:follow_list' %}" class="btn btn-primary btn-sm" role="button">フォロー</a>
        <span>フォロワー数：{{ user.follower_count }}</span>
    </div>

    <article class="main_article">
        {% include 'parts/article_follower.html' %}
    </article>

    {% else %}
    <h2 class="login_required">ログインしてください</h2>
    {% endif %}
</main>
{% endblock content %}