{% load humanize %}

{% for message in message_list %}
  <div id="message_aria_list_{{ message.id }}" class="message_aria_list">
    <a href="{% url 'myus:userpage' message.author.nickname %}" data="{{ message.author.nickname }}" class="pjax_button_userpage">
      <img src="{{ message.author.image }}" title="{{ message.author.nickname }}" class="profile_image_message">
    </a>
    <div class="message_aria_list_1">
      <p>{{ message.author.nickname }}</p>
      <time>{{ message.created|date:'Y/m/d H:i' }}</time>
    </div>
    <div id="message_aria_list_2_{{ message.id }}" class="message_aria_list_2">{{ message.text|safe }}</div>
    <a href="{% url 'myus:chat_thread' obj_id message.id %}" thread="{% url 'myus:chat_thread_button' %}" message-id="{{ message.id }}" class="message_aria_thread">
      スレッド表示
      <span id="reply_num_{{ message.id }}">返信 {{ message.reply_num|intcomma }} 件</span>
    </a>
    {% include 'medias/chat/chat_message/crud/modal_content_chat_message.html' %}
  </div>
  {% if message.author_id == user_id %}
  <div id="edit_update_main_{{ message.id }}" class="edit_update_main_chat">
    {% include 'medias/chat/chat_message/crud/chat_message_update.html' %}
  </div>
  {% endif %}
{% endfor %}
