{% load static %}

<div class="main_header">
  <h1>Blog</h1>
  {% if user.is_authenticated %}
  <div className="main_button_area">
    <button type="submit" class="button green s">作成する</button>
  </div>
  {% endif %}
</div>

{% if user.is_authenticated %}
<article class="mv_24">
  <form method="POST" action="" enctype="multipart/form-data" class="create_grid">
    {% csrf_token %}
    <div>
      <p class="mb_4">タイトル</p>
      <input name="title" class="input" required>
    </div>

    <div>
      <p class="mb_4">内容</p>
      <textarea name="content" rows="1" class="textarea" required></textarea>
    </div>

    <div>
      <p class="mb_4">サムネイル</p>
      <input type="file" name="image" accept="image/*" class="input file_1" hidden required>
      <input placeholder="ファイル選択..." id="file_1" class="input" onclick="$('input.file_1').click()">
    </div>

    <div>
      <p class="mb_4">本文</p>
      <div id="quill_blog"></div>
      <textarea id="delta" name="delta" hidden></textarea>
      <textarea id="richtext" name="richtext" hidden></textarea>
    </div>
  </form>
</article>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/textarea.js' %}"></script>
<script src="{% static 'js/filename.js' %}"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{% static 'js/quill_blog.js' %}"></script>
{% endblock extrajs %}
