.chat_section {
  overflow-y: hidden;
  height: calc(100vh - 82px);
  margin: -16px;
}

.body_row {
  display: flex;
  height: 100%;
}

.main_column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  height: 100%;
  overflow: hidden;
}

.main_body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

/* 非公開表示 */
.unpublished {
  font-size: 18px;
  color: rgb(255, 0, 0);
}
