.main {
  position: relative;
  top: 82px;
  left: 72px;
  width: calc(100% - 72px);
  height: calc(100% - 82px);
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    display: inline-block;
    height: 30px;
    font-size: 24px;
    color: rgb(50, 70, 140);
    user-select: none;

    span {
      font-size: 18px;
      margin: 6px 0 0 10px;
    }
  }

  .search_message {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 8px;
    font-size: 14px;
    color: rgb(33, 37, 41);
  }

  .button {
    margin-left: 8px;
  }

  .article {
    margin: 24px 0;
  }

  p textarea {
    height: 38px;
  }
}
