<h1>フォロー
  {% if query %}
  <section class="search_message">「{{ query }}」の検索結果「{{ count }}」件</section>
  {% endif %}
</h1>

{% if user.is_authenticated %}
<div class="follow_button">
  <button type="button" onclick="location.href='{% url 'myus:follower_list' %}'" class="button blue xs">フォロワー</button>
  <span>フォロー数：{{ user.mypage.following_num }}</span>
</div>

<article class="article_list">
  {% include 'follow/follow_article.html' %}
</article>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}
