/* スクロールバー */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track,
.content_detail_aria::-webkit-scrollbar-track,
.comment_aria::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.dropdown_menu_notice::-webkit-scrollbar-track,
.dropdown_menu_notice::-webkit-scrollbar-thumb {
  background: rgb(255, 250, 245);
}

.content_detail_aria::-webkit-scrollbar-thumb,
.comment_aria::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-track:hover {
  background: rgb(225, 225, 225);
}

.dropdown_menu_notice::-webkit-scrollbar-track:hover,
.content_detail_aria::-webkit-scrollbar-track:hover,
.comment_aria::-webkit-scrollbar-track:hover {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb,
.dropdown_menu_notice:hover::-webkit-scrollbar-thumb,
.content_detail_aria:hover::-webkit-scrollbar-thumb,
.comment_aria:hover::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
.dropdown_menu_notice::-webkit-scrollbar-thumb:hover,
.content_detail_aria::-webkit-scrollbar-thumb:hover,
.comment_aria::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

::-webkit-scrollbar-thumb:active,
.dropdown_menu_notice::-webkit-scrollbar-thumb:active,
.content_detail_aria::-webkit-scrollbar-thumb:active,
.comment_aria::-webkit-scrollbar-thumb:active {
  background: rgb(120, 120, 120);
}

/* スクロールバー firefox */
* {
  scrollbar-width: thin; /* 細さ */
  scrollbar-color: rgb(255, 255, 255) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
}

*.dropdown_menu_notice {
  scrollbar-color: rgb(255, 250, 245) rgba(255, 250, 245, 0); /* つまみの色 軌道の色 */
}

*:hover {
  scrollbar-color: rgb(180, 180, 180) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
}

*:active {
  scrollbar-color: rgb(120, 120, 120) rgba(255, 255, 255, 0); /* つまみの色 軌道の色 */
}

* {
  box-sizing: border-box;
}

/* color */
.rgb100 {
  color: rgb(100, 100, 100);
}
