{% load static %}

<h1>Blog</h1>
{% if user.is_authenticated %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <p class="mv_16">タイトル</p>
  <input name="title" class="input" required>

  <p class="mv_16">内容</p>
  <textarea name="content" rows="1" class="textarea" required></textarea>

  <p class="mv_16">サムネイル</p>
  <input type="file" name="image" accept="image/*" class="input file_1" hidden required>
  <input placeholder="ファイル選択..." id="file_1" class="input" onclick="$('input.file_1').click()">

  <p class="mv_16">本文</p>
  <div id="quill_blog"></div>
  <textarea id="delta" name="delta" hidden></textarea>
  <textarea id="richtext" name="richtext" hidden></textarea>

  <button type="submit" class="button green mt_32">作成する</button>
</form>
{% else %}
<h2 class="login_required">ログインしてください</h2>
{% endif %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/textarea.js' %}"></script>
<script src="{% static 'js/filename.js' %}"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{% static 'js/quill_blog.js' %}"></script>
{% endblock extrajs %}
