@use 'styles/global/mixin/scrollbar';

.content {
  display: none;

  &.active {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    background: rgb(255, 255, 255);
    overflow-y: auto;
    z-index: 60;
    @include scrollbar.scrollbar;
  }

  .subscribe {
    display: flex;
    align-self: flex-start;

    button {
      width: 122px;
    }
  }

  .content_detail {
    font-size: 14px;
    margin: 10px 0 0 56px;
    white-space: pre-wrap;

    .content_body {
      height: 104px;
      overflow-y: scroll;
      @include scrollbar.scrollbar;

      &.active {
        min-height: 104px;
        height: fit-content;
      }
    }
  }
}
