{% extends 'base.html' %}
{% block title %}<title>MyUsログイン</title>{% endblock title %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main">
  <form method="POST" action="" class="form_signup">
    {% csrf_token %}
    <h1 class="myus_h1">MyUsへようこそ</h1>

    {% if messages %}
    <ul class="messages_login">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <input type="username" name="username" class="input margin" placeholder="ユーザー名 or メールアドレス" required autofocus>
    <input type="password" name="password" class="input margin" placeholder="パスワード" minlength="8" maxlength="16" required>

    <div class="password_reset">
      <a href="{% url 'password_reset' %}">パスワードをリセット</a>
    </div>

    <button type="submit" class="button blue xl margin">ログイン</button>
    <button type="button" onclick="location.href='{% url 'myus:signup' %}'" class="button green xl margin">アカウント登録</button>
  </form>
</main>
{% endblock content %}
