{% extends 'base2.html' %}
{% block title %}<title>MyUsマイページ設定</title>{% endblock title %}

{% block content %}
<main class="main">
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <article class="article_account">
      <h1>Myページ設定</h1>
      {% if messages %}
      <ul class="messages_profile">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li><br>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="btn-column">
        <div class="btn-column1">
          <button type="submit" class="button green xs">登録</button>
        </div>
        <div class="btn-column2">
          <button href="{% url 'myus:mypage' %}" class="button blue xs pjax_button">戻る</button>
        </div>
      </div>

      <table class="table">
        <tbody>
          <tr class="table_header"><td class="td_color td-header">バナー画像</td>
            <td valign="baseline">
              <label for="account_image_input" class="update_account_image">
                <svg xmlns="http://www.w3.org/2000/svg" width="3.5em" height="3.5em" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                  <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                  <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                </svg>
                <input type="file" name="banner" accept="image/*" id="account_image_input" class="custom-file-input">
              </label>
            </td>
          </tr>
          <tr><td class="td_color">投稿者名</td><td class="td_indent">{{ user.nickname }}</td></tr>
          <tr><td class="td_color">メールアドレス</td><td><input type="text" name="email" value="{{ user.mypage.email }}" placeholder="公開用メールアドレス" maxlength="120" class="input"></td></tr>
          <tr><td class="td_color">フォロー数</td><td class="td_indent">{{ user.mypage.following_num }}</td></tr>
          <tr><td class="td_color">フォロワー数</td><td class="td_indent">{{ user.mypage.follower_num }}</td></tr>
          <tr><td class="td_color">料金プラン</td><td class="td_indent">{{ user.mypage.get_plan_display }}</td></tr>
          <tr><td class="td_color">全体広告</td><td class="td_indent">
            <form method="POST" action="{% url 'myus:mypage_toggle' %}" advertise="{{ user.mypage.is_advertise }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-toggle-disable" viewBox="0 0 16 16">
                {% if user.mypage.is_advertise %}
                <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                {% else %}
                <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                {% endif %}
              </svg>
            </form>
          </td></tr>
          <tr>
            <td class="td_color">概要</td>
            <td><textarea name="content" rows="1" placeholder="ユーザページ概要" class="textarea margin">{{ user.mypage.content }}</textarea></td>
          </tr>
        </tbody>
      </table>

      {% include 'parts/footer-myus.html' %}
    </article>
  </form>
</main>
{% endblock content %}
