{% extends 'base.html' %}
{% block title %}<title>MyUsパスワードリセット</title>{% endblock title %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main">
  <form method="POST" action="" class="form_account">
    {% csrf_token %}
    <h1 class="myus_h1">パスワードをリセット</h1>
    <p class="fs_14">パスワードのリセットメールを送信しました!</p>
    <button type="button" onclick="location.href='{% url 'myus:login' %}'" class="button blue xl full_w mv_24">戻る</button>
  </form>
</main>
{% endblock content %}
