{% extends 'base2.html' %}
{% block title %}<title>MyUsアカウント</title>{% endblock title %}

{% block content %}
<main class="main">
  <article class="article_pass">
    <h1>パスワード変更</h1>
    <form method="POST" action="" class="form_signup password_done">
      {% csrf_token %}
      <p class="messages_password_done">パスワードの変更が完了しました!</p>
      <button type="button" href="{% url 'myus:profile' %}" class="button blue xl button_margin pjax_button">戻る</button>
    </form>
    {% include 'parts/footer-myus.html' %}
  </article>
</main>
{% endblock content %}
