{% extends 'base.html' %}
{% block title %}<title>MyUsパスワードリセット</title>{% endblock title %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main">
  <form method="POST" action="" class="form_signup">
    {% csrf_token %}
    <h1 id="myus_h1" class="h4 mb-3 font-weight-normal">パスワードをリセット</h1>
    {% if errors %}
    <p class="messages_password_form">{{ form.email.errors }}</p>
    {% endif %}

    <p><input type="email" name="email" placeholder="メールアドレス" class="form-control email_reset" autocomplete="email" required autofocus></p>

    <p><input type="submit" value="送信" id="submit" class="btn btn-lg btn-success btn-block"></p>

    <p><a href="{% url 'myus:login' %}" class="btn btn-lg btn-primary btn-block" role="button">戻る</a></p>
  </form>
</main>
{% endblock content %}
