{% extends 'base2.html' %}
{% block title %}<title>MyUsアカウント</title>{% endblock title %}

{% block content %}
<main class="main">
  <article class="article_pass">
    <h1>パスワード変更</h1>
    <form method="POST" action="" class="form_signup">
      {% csrf_token %}
      <ul class="messages_password_change">
        <li>{{ form.old_password.errors }}</li>
        <li>{{ form.new_password2.errors }}</li>
      </ul>

      <input type="password" name="old_password" class="input input_margin" minlength="8" maxlength="16" placeholder="現在パスワード" required autofocus>

      <input type="password" name="new_password1" class="input input_margin" minlength="8" maxlength="16" placeholder="新規パスワード(英数字8~16文字)" required>

      <input type="password" name="new_password2" class="input input_margin" minlength="8" maxlength="16" placeholder="新規パスワード(確認用)" required>

      <button type="submit" class="button green xl button_margin">変更する</button>

      <button type="button" href="{% url 'myus:profile' %}" class="button blue xl button_margin pjax_button">戻る</button>
    </form>
    {% include 'parts/footer-myus.html' %}
  </article>
</main>
{% endblock content %}
