{% extends 'base.html' %}
{% block title %}<title>MyUsパスワード再設定</title>{% endblock title %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main">
  <form method="POST" action="" class="form_account">
    {% csrf_token %}
    <h1 class="myus_h1">パスワード再設定</h1>
    {% if form.errors %}
    <p class="messages_password_reset">{{ form.new_password2.errors }}</p>
    {% endif %}

    {% if validlink %}
    <input type="password" name="new_password1" minlength="8" maxlength="16" placeholder="新規パスワード(英数字8~16文字)" class="input mb_16" required autofocus>

    <input type="password" name="new_password2" minlength="8" maxlength="16" placeholder="新規パスワード(確認用)" class="input mb_16" required>

    <button type="submit" class="button green xl full_w mv_24">変更する</button>

    {% else %}
    <p class="messages_password_mukou">無効なリンクです!</p>
    {% endif %}
  </form>
</main>
{% endblock content %}
