{% extends 'base.html' %}
{% block title %}<title>MyUsパスワード再設定</title>{% endblock title %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main">
  <form method="POST" action="" class="form_signup">
    {% csrf_token %}
    <h1 id="myus_h1" class="h4 mb-3 font-weight-normal">パスワード再設定</h1>
    {% if form.errors %}
    <p class="messages_password_reset">{{ form.new_password2.errors }}</p>
    {% endif %}

    {% if validlink %}
    <p><input type="password" name="new_password1" class="form-control pass_confirm1" minlength="8" maxlength="16" placeholder="新規パスワード(英数字8~16文字)" required autofocus></p>

    <p><input type="password" name="new_password2" class="form-control pass_confirm2" minlength="8" maxlength="16" placeholder="新規パスワード(確認用)" required></p>

    <p><input type="submit" value="変更する" id="submit" class="btn btn-lg btn-success btn-block submit"></p>

    {% else %}
    <p class="messages_password_mukou">無効なリンクです!</p>
    {% endif %}
  </form>
</main>
{% endblock content %}
