{% extends 'base.html' %}
{% block title %}<title>MyUsパスワードリセット</title>{% endblock title %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock customcss %}

{% block content %}
<main class="main">
  <form method="POST" action="" class="form_signup">
    {% csrf_token %}
    <h1 class="h4 mb-3 font-weight-normal">パスワードをリセット</h1>
    <p class="messages_password_done">パスワードのリセットメールを送信しました!</p>
    <p><a href="{% url 'myus:login' %}" class="btn btn-lg btn-primary btn-block">戻る</a></p>
  </form>
</main>
{% endblock content %}
