{% extends 'base.html' %}
{% block title %}<title>MyUsアカウント登録</title>{% endblock title %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock customcss %}

{% block content %}
<main>
  <form method="POST" action="" class="form_account">
    {% csrf_token %}
    <h1 class="signup_h1">アカウント登録</h1>

    {% if messages %}
    <ul class="messages_signup">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <p class="margin">名前</p>
    <div class="name_group mb_16">
      <input type="text" name="last_name" placeholder="姓" maxlength="30" class="input name">
      <input type="text" name="first_name" placeholder="名" maxlength="30" class="input name">
    </div>

    <input type="text" name="username" placeholder="ユーザー名(英数字)" maxlength="20" class="input mb_16" required>

    <input type="text" name="nickname" placeholder="投稿者名" maxlength="80" class="input mb_16" required>

    <input type="email" name="email" placeholder="メールアドレス" maxlength="255" class="input mb_16" required>

    <input type="password" name="password1" placeholder="パスワード(英数字8~16文字)" minlength="8" maxlength="16" class="input mb_16" required>

    <input type="password" name="password2" placeholder="パスワード(確認用)" minlength="8" maxlength="16" class="input mb_16" required>

    <p class="margin">生年月日</p>
    <div class="birthday_group">
      <label class="select birthday">
        <select name="year" id="year"><option>年</option></select>
      </label>
      <label class="select birthday">
        <select name="month" id="month"><option>月</option></select>
      </label>
      <label class="select birthday">
        <select name="day" id="day"><option>日</option></select>
      </label>
    </div>

    <p class="margin">性別</p>
    <div class="mb_24">
      <input type="radio" name="gender" value="0" id="male">
      <label for="male">男性</label>

      <input type="radio" name="gender" value="1" id="female">
      <label for="female">女性</label>

      <input type="radio" name="gender" value="2" id="secret" checked>
      <label for="secret">秘密</label>
    </div>

    <button type="submit" class="button green xl full mv_24">アカウント登録</button>
    <button type="button" onclick="location.href='{% url 'myus:login' %}'" class="button blue xl full mb_24">戻る</button>
  </form>
</main>
{% endblock content %}

{% block customjs %}
<script type="text/javascript" src="{% static 'js/date.js' %}"></script>
{% endblock customjs %}
