{% extends 'base2.html' %}
{% block title %}<title>MyUsToDo</title>{% endblock title %}
{% load static %}
{% load humanize %}

{% block content %}
<main class="main">
  <article class="media_detail">
    <div class="media_detail_aria">
      <div class="media_detail_aria_2">
        <object class="todo_link_detail">
          <button onclick="location.href='{% url 'app:todo_update' object.pk object.title %}'" class="button green s">編集</button>
          <button onclick="location.href='{% url 'app:todo_delete' object.pk object.title %}'" class="button red s">削除</button>
        </object>
      </div>
      <div class="media_detail_aria_todo">
        <span>優先度：{{ object.get_priority_display }}<span>
        <span>進捗度：{{ object.get_progress_display }}<span>
        <span>期日：{{ object.duedate }}<span>
      </div>
    </div>

    <div class="media_detail_grid">
      <div class="media_detail_grid_1">
        {% include 'parts/common/common.html' %}
      </div>
      <div class="media_detail_grid_2">
        {% include 'media/todo/todo_article.html' %}
      </div>
    </div>
  </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax_comment.js' %}"></script>
{% endblock extrajs %}
