{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="https://vjs.zencdn.net/7.19.2/video-js.css">
<link rel="stylesheet" href="https://unpkg.com/videojs-record/dist/css/videojs.record.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
<link rel="stylesheet" href="{% static 'css/layout/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/header.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/searchtag.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/main.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/mediaquery.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/userpolicy.css' %}">
<link rel="stylesheet" href="{% static 'css/quill.css' %}">
<link rel="stylesheet" href="{% static 'css/audio.css' %}">
<link rel="stylesheet" href="{% static 'css/videojs-myus.css' %}">
{% endblock customcss %}

{% block header %}
<header class="header">
  <nav class="header_nav">
    <div class="header_nav_1">
      <input type="checkbox" id="burger_menu" class="side_menu">
      <label for="burger_menu" class="side_nemu_cover"></label>
      <label for="burger_menu" class="header_color">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="1.7em" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </label>

      <aside class="side_menu">
        <label for="burger_menu" class="side_menu_close side_menu_color">
          {% include 'icon/side_menu/left.html' %}
          <img src="{% static 'img/MyUs.png' %}" width="30em" height="30em">
        </label>

        <nav>
          <ul>
            <li class="side_menu_item side_menu_color">
              <a href="{% url 'myus:index' %}" class="icon_link pjax_button"></a>
              {% include 'icon/side_menu/house.html' %}
              <span>ホーム</span>
            </li>

            <li class="side_menu_item side_menu_color">
              <a href="{% url 'myus:recommend' %}" class="icon_link pjax_button"></a>
              {% include 'icon/side_menu/lightning.html' %}
              <span>急上昇</span>
            </li>

            <li class="side_menu_item side_menu_color">
              <a href="{% url 'myus:follow_list' %}" class="icon_link pjax_button"></a>
              {% include 'icon/side_menu/follow.html' %}
              <span>フォロー</span>
            </li>
          </ul>
        </nav>

        <nav class="side_menu_footer">
          <ul>
            <li class="side_menu_item side_menu_color">
              <a href="{% url 'myus:userpolicy' %}" class="icon_link pjax_button"></a>
              {% include 'icon/side_menu/userpolicy.html' %}
              <span>利用規約</span>
            </li>

            <li class="side_menu_item side_menu_color">
              <a href="{% url 'myus:knowledge' %}" class="icon_link pjax_button"></a>
              {% include 'icon/side_menu/globe.html' %}
              <span>Knowledge Base</span>
            </li>

            <li class="side_menu_footer_item side_menu_color">
              <a href="{% url 'myus:index' %}" class="icon_link pjax_button"></a>
              <img src="{% static 'img/MyUs.png' %}" width="24px" height="24px" class="myus_img">
              <div class="side_menu_footer_item">&copy; {% now 'Y' %} MyUs Co.,Ltd</div>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

    <div class="header_nav_2 header_color_MyUs">
      <a href="{% url 'myus:index' %}" class="icon_link pjax_button"></a>
      <h1>MyUs</h1>
    </div>

    <div class="header_nav_3 search_box">
      <div class="searchbar">
        <form method="GET" action="">
          <input type="search" name="search" value="{{ request.GET.search }}" placeholder="検索..." class="search_input">
          <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>

    <div class="header_nav_4 header_color">
      <a href="{% url 'myus:recommend' %}" class="icon_link pjax_button"></a>
      {% include 'icon/header/lightning.html' %}
    </div>

    <div class="header_nav_5 header_color">
      <input type="checkbox" id="drop_menu_cloud" class="drop_menu_cloud">
      <label for="drop_menu_cloud" class="drop_back_cover"></label>
      <label for="drop_menu_cloud" class="drop_open">
        {% include 'icon/header/cloud.html' %}
      </label>

      <nav class="drop_menu drop_menu_cloud">
        <ul>
          <li class="drop_menu_list">
            <a href="{% url 'myus:video_create' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/media/video.html' %}
            <span>Videoアップロード</span>
          </li>

          <li class="drop_menu_list">
            <a href="{% url 'myus:music_create' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/media/music.html' %}
            <span>Musicアップロード</span>
          </li>

          <li class="drop_menu_list">
            <a href="{% url 'myus:comic_create' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/media/comic.html' %}
            <span>Comicアップロード</span>
          </li>

          <li class="drop_menu_list">
            <a href="{% url 'myus:picture_create' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/media/picture.html' %}
            <span>Pictureアップロード</span>
          </li>

          <li class="drop_menu_list">
            <a href="{% url 'myus:blog_create' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/media/blog.html' %}
            <span>Blogアップロード</span>
          </li>

          <li class="drop_menu_list">
            <a href="{% url 'myus:chat_create' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/media/chat.html' %}
            <span>Chatアップロード</span>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header_nav_6 header_color">
      <input type="checkbox" id="drop_menu_notice" class="drop_menu_notice">
      <label for="drop_menu_notice" class="drop_back_cover"></label>
      <label for="drop_menu_notice" class="drop_open">
        {% if notification_count %}
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-bell-fill active" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-exclamation-lg active" viewBox="0 0 16 16">
          <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
          <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
        </svg>
        {% endif %}
      </label>

      <nav class="drop_menu drop_menu_notice">
        <ul>
          <li class="drop_menu_list">
            <a href="{% url 'myus:notification' %}" class="icon_link pjax_button"></a>
            {% include 'icon/header/bell.html' %}
            <span>通知設定</span>
          </li>
          {% include 'parts/notification_list.html' %}
        </ul>
      </nav>
    </div>

    <div class="header_nav_7">
      <input type="checkbox" id="drop_menu_profile" class="drop_menu_profile">
      <label for="drop_menu_profile" class="drop_back_cover"></label>
      <label for="drop_menu_profile" class="drop_open profile">
        {% if user.is_authenticated %}
        <img src="{{ user.image }}" title="{{ user.nickname }}" width="32px" height="32xp">
        {% else %}
        <img src="{% static 'img/user_icon.png' %}" title="Anonymous" width="32px" height="32xp">
        {% endif %}
      </label>

      <nav class="drop_menu drop_menu_profile">
        <ul>
          <li class="drop_menu_list">
            <a href="{% url 'myus:profile' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/account/profile.html' %}
            <span>アカウント</span>
          </li>

          <li class="drop_menu_list">
            <a href="{% url 'myus:mypage' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/account/mypage.html' %}
            <span>マイページ</span>
          </li>

          <li class="drop_menu_list">
            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" class="icon_link"></a>
            {% elif user.is_active %}
            <a href="{% url 'mymanage:index' %}" class="icon_link"></a>
            {% else %}
            <a href="{% url 'myus:login' %}" class="icon_link"></a>
            {% endif %}
            {% include 'icon/drop_menu/account/admin.html' %}
            <span>投稿管理</span>
          </li>

          <li class="drop_menu_list">
            <a href="{% url 'myus:todo_list' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/account/todo.html' %}
            <span>ToDo</span>
          </li>

          <li class="drop_menu_list">
            <a href="{% url 'myus:payment' %}" class="icon_link pjax_button"></a>
            {% include 'icon/drop_menu/account/payment.html' %}
            <span>料金プラン</span>
          </li>

          <li class="drop_menu_list">
            {% if user.is_staff %}
            <a class="icon_link"></a>
            {% else %}
            <a href="{% url 'myus:withdrawal' %}" class="icon_link pjax_button"></a>
            {% endif %}
            {% include 'icon/drop_menu/account/withdrawal.html' %}
            <span>退会処理</span>
          </li>

          <li class="drop_menu_list">
            {% if user.is_authenticated %}
            <a href="{% url 'myus:logout' %}" class="icon_link"></a>
            {% else %}
            <a href="{% url 'myus:login' %}" class="icon_link"></a>
            {% endif %}
            {% include 'icon/drop_menu/account/logout.html' %}
            <span>ログアウト</span>
          </li>
        <ul>
      </nav>
    </div>
  </nav>
</header>
{% endblock header %}

{% block nav %}
<aside class="sidebar">
  <nav class="sidebar_nav">
    <ul>
      <li class="sidebar_color {% if request.path == '/video' %}active{% endif %}">
        <a href="{% url 'myus:video_list' %}" class="pjax_button">
          {% include 'icon/sidebar/video.html' %}
          <p class="sidebar_text">Video</p>
        </a>
      </li>

      <li class="sidebar_color {% if request.path == '/music' %}active{% endif %}">
        <a href="{% url 'myus:music_list' %}" class="pjax_button">
          {% include 'icon/sidebar/music.html' %}
          <p class="sidebar_text">Music</p>
        </a>
      </li>

      <li class="sidebar_color {% if request.path == '/comic' %}active{% endif %}">
        <a href="{% url 'myus:comic_list' %}" class="pjax_button">
          {% include 'icon/sidebar/comic.html' %}
          <p class="sidebar_text">Comic</p>
        </a>
      </li>

      <li class="sidebar_color {% if request.path == '/picture' %}active{% endif %}">
        <a href="{% url 'myus:picture_list' %}" class="pjax_button">
          {% include 'icon/sidebar/picture.html' %}
          <p class="sidebar_text">Picture</p>
        </a>
      </li>

      <li class="sidebar_color {% if request.path == '/blog' %}active{% endif %}">
        <a href="{% url 'myus:blog_list' %}" class="pjax_button">
          {% include 'icon/sidebar/blog.html' %}
          <p class="sidebar_text">Blog</p>
        </a>
      </li>

      <li class="sidebar_color {% if request.path == '/chat' %}active{% endif %}">
        <a href="{% url 'myus:chat_list' %}" class="pjax_button">
          {% include 'icon/sidebar/chat.html' %}
          <p class="sidebar_text">Chat</p>
        </a>
      </li>
    </ul>
  </nav>
</aside>
{% endblock nav %}

{% block tagnav %}
<nav class="searchtag">
  <form method="POST" action="" id="tag_form" class="searchtag_grid" csrf="{{ csrf_token }}">
    <button type="button" class="searchtag_1 button_square emerald" onclick="handleSearchtag()">タグ</button>
    <button type="submit" class="searchtag_2 button_square sakura">追加</button>
    <div class="searchtag_3">
      <input name="searchtag" maxlength="30" placeholder="タグ名" required {% if user.is_authenticated is false %}disabled{% endif %}>
    </div>
    <div class="searchtag_n">
      <div class="searchtag_n_list">
      {% for searchtag in searchtag_list %}
        <a href="?search={{ searchtag.name }}" search={{ searchtag.name }} class="pjax_search">{{ searchtag.name }}</a>
      {% endfor %}
      </div>
    </div>
    <button type="button" class="searchtag_4 button_square emerald" onclick="handleSearchtag()">完了</button>

    <botton class="searchtag_left" onclick="handleLeft()">
      {% include 'icon/tagnav/left.html' %}
    </botton>
    <botton class="searchtag_right" onclick="handleRight()">
      {% include 'icon/tagnav/right.html' %}
    </botton>
  </form>
</nav>
{% endblock tagnav %}

{% block content %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block customjs %}
<!-- audio-js -->
<script src="{% static 'js/audioplayer.js' %}"></script>
<script>$(function() { $('audio').audioPlayer() })</script>

<!-- video-js -->
<script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
<script src="//unpkg.com/videojs-record/dist/videojs.record.min.js"></script>
<script src="{% static 'js/videojs-contrib-quality-levels.min.js' %}"></script>
<script src="{% static 'js/videojs-hls-quality-selector.min.js' %}"></script>
<script>let player = videojs('video'); player.hlsQualitySelector()</script>
<script src="{% static 'js/video_volume.js' %}"></script>
<script src="{% static 'js/video_auto.js' %}"></script>

<!-- その他-js -->
<script src="{% static 'js/pjax.js' %}"></script>
<script src="{% static 'js/ajax_common.js' %}"></script>
<script src="{% static 'js/filename.js' %}"></script>
<script src="{% static 'js/shortcut.js' %}"></script>
<script src="{% static 'js/shortcut_myus.js' %}"></script>
<script src="{% static 'js/searchtag.js' %}"></script>
<script src="{% static 'js/textarea.js' %}"></script>
<script src="{% static 'js/textarea-auto-height.js' %}"></script>
{% endblock customjs %}
