{% load static %}

<h1>{% if Recommend %}{{ Recommend }}{% else %}Home{% endif %}
  {% if query %}
  <section class="search_message">「{{ query }}」の検索結果「{{ count }}」件</section>
  {% endif %}
</h1>
<hr>

<article class="article_index">
  <h2>Video</h2>
  {% if query %}
    {% include 'search/search_video.html' %}
  {% else %}
    {% for item in video_list %}
      {% include 'video/video_article.html' %}
    {% endfor %}
  {% endif %}
</article>
<hr>

<article class="article_index">
  <h2>Live</h2>
  {% if query %}
    {% include 'search/search_live.html' %}
  {% else %}
    {% for item in live_list %}
      {% include 'live/live_article.html' %}
    {% endfor %}
  {% endif %}
</article>
<hr>

<article class="article_index">
  <h2>Music</h2>
  {% if query %}
    {% include 'search/search_music.html' %}
  {% else %}
    {% for item in music_list %}
      {% include 'music/music_article.html' %}
    {% endfor %}
  {% endif %}
</article>
<hr>

<article class="article_index">
  <h2>Picture</h2>
  {% if query %}
    {% include 'search/search_picture.html' %}
  {% else %}
    {% for item in picture_list %}
      {% include 'picture/picture_article.html' %}
    {% endfor %}
  {% endif %}
</article>
<hr>

<article class="article_index">
  <h2>Blog</h2>
  {% if query %}
    {% include 'search/search_blog.html' %}
  {% else %}
    {% for item in blog_list %}
      {% include 'blog/blog_article.html' %}
    {% endfor %}
  {% endif %}
</article>
<hr>

<article class="article_index">
  <h2>Chat</h2>
  {% if query %}
    {% include 'search/search_chat.html' %}
  {% else %}
    {% for item in chat_list %}
      {% include 'chat/chat_article.html' %}
    {% endfor %}
  {% endif %}
</article>

{% block extrajs %}
<script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
<script src="{% static 'js/video_auto.js' %}"></script>
<script>$(function() { $('audio').audioPlayer(); });</script>
{% endblock extrajs %}
