.light_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;

  .image_box {
    display: flex;
    height: 100%;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-in-out;

    img {
      max-height: 85vh;
      border: 5px solid rgb(50, 50, 50);
      border-radius: 10px;
      transition: all 0.5s ease-in-out;
      object-fit: contain;
      cursor: auto;
    }

    .cross {
      display: flex;
      margin-top: 4px;
      justify-content: flex-end;
      color: rgb(200, 200, 200);

      &:hover {
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
