/* スクロールバー */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-track:hover {
  background: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(120, 120, 120);
}

.content {
  background: rgb(230, 230, 230);
}

#header {
  background: linear-gradient(60deg, rgb(0, 0, 50) 0%, rgb(10, 115, 120) 60%, rgb(255, 0, 130) 100%);
  color: rgb(255, 255, 255);
}

#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: rgb(255, 255, 255);
}

.module h2,
.module caption,
.inline-group .h2 {
  background: rgb(0, 185, 200);
  color: rgb(255, 255, 255);
  font-size: 14px;
}

#content-related .module h2 {
  background: none;
  padding: 6px 16px !important;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px !important;
  background: rgb(0, 185, 200);
  color: rgb(255, 255, 255);
}

#content-related h3 {
  padding: 0 16px;
  margin: 0 0 16px 0;
  font-size: 13px;
  color: rgb(100, 100, 100);
}

div .breadcrumbs {
  padding: 10px 40px;
  text-align: left;
  font-size: 14px;
  background: rgb(0, 185, 200);
  color: rgb(210, 240, 250);
}

#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

select:focus,
#nav-filter:focus,
#searchbar:focus,
.vTextField:focus,
.vLargeTextField:focus,
.vIntegerField:focus,
.vURLField:focus,
.vDateField:focus {
  outline: auto rgb(0, 185, 200);
}

h1, h2, .required {
  font-weight: normal;
  color: rgb(50, 50, 50);
}

a:active,
a:focus {
  text-decoration: none;
}

.field-text textarea {
  width: 90%;
  min-width: 200px;
  height: 20px;
  min-height: 20px;
  max-height: 100px;
  resize: vertical;
  overflow-y: hidden;
}

.hljs-attribute {
  color: #404040;
}

/* Quill全体  */
.ql-toolbar {
  border-radius: 5px 5px 0 0;
}

.ql-container {
  border-radius: 0 0 5px 5px;
}

.ql-formats {
  margin-right: 10px;
}

.ql-editor .ql-clipboard {
  border-radius: 5px !important;
}

.ql-editor {
  min-height: 300px;
  padding: 10px 12px 10px 12px;
  font-size: 14px;
}

.ql-tooltip.ql-editing {
  transform: translate(140px, 10px) !important;
}

/*  リンクデザイン */
.ql-snow .ql-editor a,
.article_detail_blog a {
  text-decoration: none !important;
}

/* ヘッダーデザイン */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  color: rgb(33, 37, 41);
  font-weight: 400;
}

.module .ql-editor h2 {
  background: #ffffff;
}

/*  クォートデザイン */
.ql-snow .ql-editor pre.ql-syntax {
  padding: 4px 8px;
  margin: 2px 0;
  font-size: 12px;
  color: #404040 !important;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  background: rgb(235, 235, 235) !important;
}

/*  コードブロックデザイン */
.ql-snow .ql-editor blockquote {
  padding-left: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #404040 !important;
  border-left: 4px solid #ccc;
}

/*  画像デザイン */
.ql-snow .ql-editor img {
  max-width: 480px !important;
}
