/* スクロールバー */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-track:hover {
  background: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(120, 120, 120);
}

.content {
  background: rgb(230, 230, 230);
}

#header {
  background: linear-gradient(
    60deg,
    rgb(0, 0, 50) 0%,
    rgb(10, 115, 120) 60%,
    rgb(255, 0, 130) 100%
  );
  color: rgb(255, 255, 255);
}

#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: rgb(255, 255, 255);
}

.module h2,
.module caption,
.inline-group .h2 {
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: rgb(0, 185, 200);
}

#content-related .module h2 {
  padding: 6px 16px !important;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px !important;
  color: rgb(255, 255, 255);
  background: rgb(0, 185, 200);
}

#content-related h3 {
  padding: 0 16px;
  margin: 0 0 16px 0;
  font-size: 13px;
  color: rgb(100, 100, 100);
}

div .breadcrumbs {
  padding: 10px 40px;
  text-align: left;
  font-size: 14px;
  color: rgb(210, 240, 250);
  background: rgb(0, 185, 200);
}

#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

select:focus,
#nav-filter:focus,
#searchbar:focus,
.vTextField:focus,
.vLargeTextField:focus,
.vIntegerField:focus,
.vURLField:focus,
.vDateField:focus {
  outline: auto rgb(0, 185, 200);
}

h1,
h2,
.required {
  font-weight: normal;
  color: rgb(50, 50, 50);
}

a:active,
a:focus {
  text-decoration: none;
}

.field-text textarea {
  width: 90%;
  min-width: 200px;
  height: 20px;
  min-height: 20px;
  max-height: 100px;
  resize: vertical;
  overflow-y: hidden;
}

.hljs-attribute {
  color: #404040;
}

.colM .aligned .vLargeTextField {
  width: 840px !important;
}

.colM .aligned .vLargeTextField.django-quill-widget-container {
  width: 855px !important;
}

.vCheckboxLabel {
  padding: 2px 0 0 6px !important;
}

.aligned p.file-upload {
  margin: 0 !important;
}

/* Quill全体  */
.ql-toolbar {
  border-radius: 5px 5px 0 0;
}

.ql-container.ql-snow {
  height: calc(100% - 45px);
}

.ql-container {
  border-radius: 0 0 5px 5px;
}

.ql-formats {
  margin-right: 10px;
}

.ql-editor .ql-clipboard {
  border-radius: 5px !important;
}

.ql-editor {
  min-height: 300px;
  padding: 10px 12px 10px 12px;
  font-size: 14px;
}

.ql-tooltip.ql-editing {
  transform: translate(140px, 10px) !important;
}

/*  リンクデザイン */
.ql-snow .ql-editor a,
.article_detail_blog a {
  text-decoration: none !important;
}

/* ヘッダーデザイン */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  color: rgb(33, 37, 41);
  font-weight: 400;
}

.module .ql-editor h2 {
  background: #ffffff;
}

/* コードブロックデザイン */
.ql-snow .ql-editor pre.ql-syntax,
.quill_content pre.ql-syntax {
  padding: 4px 8px;
  margin: 2px 0;
  font-size: 12px;
  color: rgb(65, 65, 65) !important;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  background: rgb(250, 250, 250) !important;
}

/*  クォートデザイン */
.ql-snow .ql-editor blockquote,
.quill_content blockquote {
  position: relative;
  padding: 2px 0 2px 16px;
  margin: 0 !important;
  font-size: 14px;
  border-left: none !important;
}

.ql-snow .ql-editor blockquote::before,
.quill_content blockquote::before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background: rgb(200, 200, 200);
  content: "";
}

.ql-snow .ql-editor blockquote:first-of-type::before,
.quill_content blockquote:first-of-type::before {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ql-snow .ql-editor blockquote:last-of-type::before,
.quill_content blockquote:last-of-type::before {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*  画像デザイン */
.ql-snow .ql-editor img {
  max-width: 480px !important;
}
