.full {
  width: 100%;
}

.vertical_16 {
  margin: 16px 0;
}

.vertical_24 {
  margin: 24px 0;
}

.top_16 {
  margin-top: 16px;
}

.top_24 {
  margin-top: 24px;
}

.top_32 {
  margin-top: 32px;
}

.bottom_16 {
  margin-bottom: 16px;
}

.bottom_24 {
  margin-bottom: 24px;
}

/* color */
.rgb100 {
  color: rgb(100, 100, 100);
}

.red {
  color: red;
}

hr {
  margin: 16px 0;
  border: 0.5px solid rgb(200, 200, 200);
}
