.w_full {
  width: 100%;
}

.mv_16 {
  margin: 16px 0;
}

.mv_24 {
  margin: 24px 0;
}

.mh_8 {
  margin: 0 8px;
}

.mt_16 {
  margin-top: 16px;
}

.mt_24 {
  margin-top: 24px;
}

.mt_32 {
  margin-top: 32px;
}

.mb_4 {
  margin-bottom: 4px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mb_24 {
  margin-bottom: 24px;
}

.fs_14 {
  font-size: 14px;
}

.radius_8 {
  border-radius: 8px;
}

hr {
  margin: 16px 0;
  border: 0.5px solid rgb(200, 200, 200);
}

/* color */
.rgb100 {
  color: rgb(100, 100, 100);
}

.white {
  color: rgb(255, 255, 255);
}

.red {
  color: rgb(230, 55, 70);
}

.blue {
  color: rgb(20, 120, 250);
}

.green {
  color: rgb(40, 160, 100);
}

.purple {
  color: rgb(145, 30, 255);
}

.emerald {
  color: rgb(0, 175, 170);
}

.sakura {
  color: rgb(230, 0, 140);
}

.d_none {
  display: none;
}

.d_block {
  display: block;
}

.d_inline {
  display: inline;
}

.d_flex {
  display: flex;
}

.us_none {
  user-select: none;
}

.create_grid {
  display: grid;
  row-gap: 16px;
}
