/* プロフィール */
.main_profile {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 42px auto;
  margin: 14px 0 22px 0;
}

.article_knowledge {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px auto;
  margin: 14px 0 22px 0;
}

.main_profile h1,
.article_knowledge h1 {
  display: flex;
  font-size: 24px;
  max-height: 2em;
  margin: -4px 0 0 0;
}

.main_profile .login_required,
.main_pass .login_required {
  grid-column: 1/-1;
  grid-row: 2/3;
  font-size: 16px;
  color: rgb(255, 0, 0);
  margin: -9px 0 0 0;
}

.messages_profile {
  grid-column: 1/-1;
  grid-row: 2/3;
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  height: 0.8em;
  padding: 0;
  margin: -20px 0 0 0;
}

.btn-column {
  grid-column: 2/3;
  justify-self: end;
  margin: -4px 0 0 0;
}

.btn-column1,
.btn-column2 {
  display: inline;
}

/* table */
table {
  display: block;
  grid-column: 1/-1;
  grid-row: 3/4;
  overflow-y: auto;
}

table td {
  height: 2.5em;
  width: 100%;
  min-width: 125px;
  font-weight: normal;
  border: 1px solid rgb(0, 125, 0);
}

td.td-color {
  width: 125px;
  padding: 0 8px 0 4px;
  background: rgb(190, 250, 210);
  border-right: 1px solid rgb(0, 125, 0);
}

.td-indent {
  padding: 0 0 0 8px;
  white-space: nowrap;
}

.account_image {
  width: 56px;
  margin: 0;
  background: rgb(230, 230, 230);
  border-radius: 15px;
}

.account_image img {
  border: 4px solid rgb(200, 200, 200);
  border-radius: 15%;
}

.account_image img:hover {
  border: 4px solid rgb(100, 220, 150);
}

.update_account_image {
  width: 56px;
  margin: 0;
  color: rgb(200, 200, 200);
}

.update_account_image:hover {
  color: rgb(100, 220, 150);
  cursor: pointer;
}

.update_account_image input {
  display: none;
}

.mypage_image img {
  border: 4px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.mypage_image img:hover {
  border: 4px solid rgb(100, 220, 150);
}

.td-name {
  display: grid;
  grid-template-columns: minmax(3em, 1fr) minmax(3em, 1fr);
  height: 38px;
  padding: 3px 2px 0 0;
}

#last_name {
  grid-column: 1/2;
  margin: -3px 0 1px 0;
}

#first_name {
  grid-column: 2/3;
  margin: -3px 0 1px 2px;
}

.td-birthday {
  display: grid;
  grid-template-columns: minmax(74px, 1fr) minmax(74px, 1fr) minmax(74px, 1fr);
  height: 38px;
  padding: 3px 4px 0 0;
}

#year {
  grid-column: 1/2;
  margin: -3px 0 1px 0;
}

#month {
  grid-column: 2/3;
  margin: -3px 0 1px 2px;
}

#day {
  grid-column: 3/4;
  margin: -3px 0 1px 4px;
}

.td-gender {
  padding: 0 0 0 8px;
}

.td-location {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-rows: 38px 38px;
  height: 81px;
  padding: 3px 4px 0 0;
  border: none;
  border-right: 1px solid green
}

.location1 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: -2px 0 3px 1px;
}

.location2 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: -2px 3px 3px 3px;
}

.location3 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: -2px 0 -1px 1px;
}

.location4 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: -2px 3px -1px 3px;
}

.footer-myus {
  position: fixed;
  bottom: 0;
  width: calc(100% - 102px);
  height: 26px;
  margin: 12px 0 0 0;
  text-align: center;
  background: linear-gradient(60deg, rgb(0, 0, 50) 0%, rgb(10, 115, 120) 60%, rgb(255, 0, 130) 100%);
  color: rgb(255, 255, 255);
}

/* パスワード変更 */
.main_pass {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: 42px auto auto 1fr;
  margin: 14px 0 0 0;
}

.main_pass h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 24px;
  margin: -4px 0 0 0;
}

form ul {
  grid-column: 1/2;
  grid-row: 2/3;
  list-style: none;
  font-size: 14px;
  color: rgb(255, 0, 0);
  height: 0.8em;
  padding: 0;
  margin: 0 0 40px 0;
}

.messages_password_done {
  font-size: 14px;
  color: rgb(255, 0, 0);
  margin: 0 0 10px 0;
}

.form-signup {
  grid-row: 3/4;
  width: 100%;
  max-width: 380px;
  padding: 0 15px;
  margin: auto;
}

.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 6px;
  font-size: 16px;
}

.password_done {
  padding: 50px 15px;
}

.btn-block {
  width: 100%;
}

.submit {
  margin: 40px 0 24px 0;
}

.withdrawal {
  margin: 0 0 24px 0;
}
