/* Quill全体  */
.ql-toolbar {
  border-radius: 5px 5px 0 0;
}

.ql-formats {
  margin-right: 10px;
}

.ql-editor .ql-clipboard {
  border-radius: 5px !important;
}

.ql-tooltip.ql-editing {
  transform: translate(140px, 10px) !important;
}

/* ヘッダーデザイン */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6,
.quill_content h1,
.quill_content h2,
.quill_content h3,
.quill_content h4,
.quill_content h5,
.quill_content h6 {
  color: rgb(33, 37, 41);
  font-weight: 400;
}

/*  リンクデザイン */
.ql-snow .ql-editor a,
.quill_content a {
  text-decoration: none;
}

/*  クォートデザイン */
.ql-snow .ql-editor pre.ql-syntax,
.quill_content pre.ql-syntax {
  padding: 4px 8px;
  margin: 2px 0;
  font-size: 12px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  background: rgb(235, 235, 235);
}

/*  コードブロックデザイン */
.ql-snow .ql-editor blockquote,
.quill_content blockquote {
  padding-left: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  border-left: 4px solid #ccc;
}

/*  画像デザイン */
.ql-snow .ql-editor img,
.quill_content img {
  max-width: 480px;
}

/* Blog */
#quill_blog .ql-editor {
  min-height: 300px;
  padding: 10px 12px 10px 12px;
  font-size: 14px;
}

#quill_blog.ql-container {
  border-radius: 0 0 5px 5px;
}
