{% load humanize %}

<div class="chat_section_header">
  <div class="chat_section_content">
    <input type="checkbox" id="chat_content_check_id" class="chat_content_check">
    <label for="chat_content_check_id" title="内容" class="chat_content_label">
      <span title="内容">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi-file-text" fill="currentColor" viewBox="0 0 16 16">
          <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
        </svg>
      </span>
      <h1 title="{{ object.title }}">{{ object.title }}</h1>
    </label>

    <div class="chat_section_content_area">
      <div class="chat_content_area">
        <a href="{% url 'app:userpage' object.author.nickname %}" data="{{ object.author.nickname }}" class="pjax_button_userpage">
          <img src="{{ object.author.image }}" title="{{ object.author.nickname }}" class="profile_image_message">
        </a>
        <div class="chat_content_area_1">
          <p>{{ object.author.nickname }}</p>
          <time>{{ object.created|date:'Y/m/d H:i' }}</time>
        </div>
        <div class="chat_content_area_2">登録者数
          <span class="follower_count">{{ object.author.mypage.follower_count }}</span>
        </div>
        <div class="chat_content_area_3">
          {% if user.nickname == object.author.nickname %}
          <button class="button green" disabled>フォローする</button>
          {% elif user.is_authenticated %}
          <form method="POST" action="" value="{{ object.author.nickname }}" csrf="{{ csrf_token }}" class="follow_form">
            {% if is_follow %}
            <button type="submit" name="following_id" class="button red follow_change">解除する</button>
            {% else %}
            <button type="submit" name="following_id" class="button green follow_change">フォローする</button>
            {% endif %}
          </form>
          {% else %}
          <button class="button green" disabled>フォローする</button>
          {% endif %}
        </div>
      </div>

      <input type="checkbox" id="chat_content_area_4_check_id" class="chat_content_area_4_check">
      <label for="chat_content_area_4_check_id" class="chat_content_area_4_check_label1">拡大表示</label>
      <label for="chat_content_area_4_check_id" class="chat_content_area_4_check_label2">縮小表示</label>
      <div class="chat_content_area_4">{{ object.content|linebreaksbr }}</div>

      <div class="advertise_aria">
        <h2>個別広告</h2>
        <article class="article_list">
          {% include 'parts/advertise_article.html' %}
        </article>
      </div>
    </div>
  </div>

  <div class="article_detail_aria_2">
    <div class="view_good_inline">
      <i title="閲覧数" class="bi bi-caret-right-square"></i>
      <span>{{ object.read|intcomma }}</span>
    </div>

    <div class="view_good_inline">
      <i title="参加数" class="bi bi-person"></i>
      <span id="joined">{{ object.joined_count|intcomma }}</span>
    </div>

    <div class="view_good_inline">
      <i title="スレッド数" class="bi bi-chat-dots"></i>
      <span id="thread">{{ object.thread_count|intcomma }}</span>
    </div>

    {% if user.is_authenticated %}
    <form method="POST" action="" obj-id="{{ object.id }}" path="{{ request.path }}" csrf="{{ csrf_token }}" class="view_good_inline">
      {% if is_like %}
      <button type="submit" name="like" class="like_form like_fill">
        <i title="いいね" class="bi bi-hand-thumbs-up-fill like_color"></i>
      </button>
      {% else %}
      <button type="submit" name="like" class="like_form like_no">
        <i title="いいね" class="bi bi-hand-thumbs-up like_color"></i>
      </button>
      {% endif %}
      <span id="like_count_object_{{ object.id }}" class="like_count">{{ object.total_like|intcomma }}</span>
    </form>
    {% else %}
    <div class="view_good_inline">
      <i title="いいね" class="bi bi-hand-thumbs-up"></i>
      <span>{{ object.total_like|intcomma }}</span>
    </div>
    {% endif %}

    <time>期間 {{ object.period|date:'Y/m/d' }}</time>
  </div>

  {% include 'parts/common/hashtag.html' %}
</div>

<input type="checkbox" id="chat_section_nav_check_id" class="chat_section_nav_check">

<div class="chat_section_nav">
  <label for="chat_section_nav_check_id" class="chat_section_nav_label">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-arrow-left-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
    </svg>
  </label>
  <div  class="chat_section_nav_area">
    {% for item in chat_list %}
    <div class="chat_section_nav_list">
      <a href="{% url 'app:userpage' item.author.nickname %}" data="{{ item.author.nickname }}" class="pjax_button_userpage">
        <img src="{{ item.author.image }}" title="{{ item.author.nickname }}" class="profile_image_message">
      </a>
      <a  href="{% url 'app:chat_detail' item.pk %}">
        <h3 title="{{ item.title }}">{{ item.title }}</h3>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
