<div class="chat_section_header_cross">
  <h2>スレッド</h2>
  <span title="閉じる" href="{% url 'app:chat_detail' obj_id %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" class="bi-x" fill="currentColor" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </span>
</div>

<div class="chat_section_thread">
  <div class="chat_section_thread_area">
    {% include 'media/chat/chat_reply/chat_section_thread_area.html' %}
  </div>
  <footer class="chat_footer_thread">
    {% include 'media/chat/chat_reply/crud/chat_reply_create.html' %}
  </footer>
</div>
