{% extends 'base2.html' %}
{% block title %}<title>MyUsコミック</title>{% endblock title %}
{% load static %}
{% load humanize %}

{% include 'parts/google_tag_user.html' %}

{% block content %}
<main class="main">
  <article class="article_detail">
    {% if object.publish %}
    <div class="article_detail_comic">
      <div class="right" id="prevButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
      </div>
      {% for comic_page in object.comic.all %}
        <img src="{{ comic_page.image.url }}" class="comic_page">
      {% endfor %}
      <div class="left" id="nextButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>
    </div>

    <div class="article_detail_section">
      <div class="article_detail_section_1">
        {% include 'parts/common/common.html' %}
      </div>
      <div class="article_detail_section_2">
        {% include 'media/comic/comic_article_detail.html' %}
      </div>
    </div>
    {% else %}
    <h2 class="unpublished">非公開に設定されてます!</h2>
    {% endif %}
  </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax_comment.js' %}"></script>
<script src="{% static 'js/image_paging.js' %}"></script>
{% endblock extrajs %}
