.label {
  display: block;
  font-size: 14px;
  color: rgb(50, 50, 50);
}

.editor {
  :global(.ql-container) {
    font-size: 14px;
  }
}

.error_text {
  padding-top: 2px;
  text-indent: 4px;
  font-size: 12px;
  color: rgb(255, 0, 0);
}

.error {
  :global(.ql-container),
  :global(.ql-editor) {
    color: rgb(0, 0, 0);
    background: rgb(255, 240, 240);
  }
}
