{% load static %}

{% for item in live_list %}
<section class="main_content_detail">
    <div class="main_decolation">
        <div class="video video_auto content_side">
            <a href="{% url 'myus:video_detail' item.pk item.title %}">
                <video class="video-js" muted width="192" height="108" poster="{{ item.images.url }}" data-setup="">
                    <source src="{{ item.lives.url }}#t=,16" type="video/mp4" label="360p" res="360">
                    <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
                    <track kind="captions" src="{% static 'vtt/captions.ja.vtt' %}" srclang="en" label="English">
                    <track kind="subtitles" src="{% static 'vtt/captions.ja.vtt' %}" srclang="en" label="English">
                </video>
            </a>
            <a href="{% url 'myus:live_detail' item.pk item.title %}" class="author_space_side">
                {% include 'parts/content_title.html' %}
            </a>
        </div>
    </div>
</section>
{% endfor %}
