{% load static %}

{% for item in music_list %}
<section class="main_content_music">
    <div class="main_decolation">
        <audio controls preload controlslist="nodownload">
            <source src="{{ item.musics.url }}">
            <p>audioに対応していない場合のメッセージ</p>
        </audio>
        <a href="{% url 'myus:music_detail' item.pk item.title %}" class="author_title_space">
            {% include 'parts/author_space.html' %}
            {% include 'parts/content_title.html' %}
        </a>
    </div>
</section>
{% endfor %}
