{% load static %}

{% for item in follow_list %}
<section class="main_content_follow">
  <div class="main_decolation">
    <a href="{% url 'myus:userpage' item.following.nickname %}" path="{% url 'myus:pjax' %}" data="{{ item.following.nickname }}" class="author_follows pjax_button_userpage">
      <object class="author_space">
        <a href="{% url 'myus:userpage' item.following.nickname %}" path="{% url 'myus:pjax' %}" data="{{ item.following.nickname }}" class="pjax_button_userpage">
          <img src="{{ item.following.user_image.url }}" title="{{ item.following.nickname }}" class="follow_image">
        </a>
      </object>
      <span title="{{ item.following.nickname }}" class="follow_content_1">{{ item.following.nickname }}</span>
      <span class="follow_content_2">フォロワー数：{{ item.following.follower_count }}</span>
      <span class="follow_content_3">フォロー数　：{{ item.following.following_count }}</span>
      <object title="{{ item.following.introduction }}" class="follow_content_4">
        {{ item.following.introduction|linebreaksbr|urlize }}
      </object>
    </a>
  </div>
</section>
{% endfor %}
