{% load static %}

{% for item in follower_list %}
<section class="main_content">
    <div class="main_decolation">
        <a href="{% url 'myus:userpage' item.follower.nickname %}" class="author_follows">
            <object class="author_space">
                <a href="{% url 'myus:userpage' item.follower.nickname %}">
                    <img src="{{ item.follower.user_image.url }}" title="{{ item.follower.nickname }}" class="follow_image">
                </a>
            </object>
            <span title="{{ item.follower.nickname }}" class="follow_content_1">{{ item.follower.nickname }}</span>
            <span class="follow_content_2">フォロワー数：{{ item.follower.follower_count }}</span>
            <span class="follow_content_3">フォロー数　：{{ item.follower.following_count }}</span>
            <object title="{{ item.follower.introduction }}" class="follow_content_4">
                {{ item.follower.introduction|linebreaksbr|urlize }}
            </object>
        </a>
    </div>
</section>
{% endfor %}
