{% load static %}
{% load humanize %}

{% for item in advertise_list %}
<section class="main_content">
    <div class="main_decolation">
        <video class="video-js vjs-big-play-centered vjs-16-9" controls autoplay width="272" height="153" poster="{{ item.images.url }}" data-setup='{"controlBar": {"pictureInPictureToggle": false}}'>
            <source src="{{ item.videos.url }}" type="video/mp4" label="2160p" res="2160">
            <source src="{{ item.videos.url }}" type="video/mp4" label="1080p" res="1080">
            <source src="{{ item.videos.url }}" type="video/mp4" label="720p" res="720">
            <source src="{{ item.videos.url }}" type="video/mp4" label="480p" res="480">
            <source src="{{ item.videos.url }}" type="video/mp4" label="240p" res="240">
            <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
            <track kind="captions" src="{% static 'vtt/captions.ja.vtt' %}" srclang="en" label="English">
            <track kind="subtitles" src="{% static 'vtt/captions.ja.vtt' %}" srclang="en" label="English">
            <p class="vjs-no-js">この動画を見るには、JavaScriptを有効にしてください!
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <a href="{{ item.url }}" class="author_title_space">
            {% include 'parts/author_space.html' %}
            <div class="content_title" title="{{ item.title }}">{{ item.title }}</div>
            <span class="view_good">
                <div class="view_good_font content_nickname">
                    {{ item.author.nickname }}
                </div>

                <div class="view_good_font view_good_inline">
                    <i class="bi bi-caret-right-square view_good_space" title="閲覧数"></i>
                    {{ item.read|intcomma }}
                </div>
            </span>
        </a>
    </div>
</section>
{% endfor %}
