<div class="chat_section_header_cross">
    <h2>スレッド</h2>
    <a href="{% url 'myus:chat_detail' object.pk %}">
        <i class="bi bi-x" style="font-size: 1.7em;" title="閉じる"></i>
    </a>
</div>

<div class="chat_section_thread">
    {% for comment in comment_list %}
        {% if comment.id == comment_id %}
        <div class="comment_aria_list">
            <a href="{% url 'myus:userpage' comment.author.nickname %}">
                <img src="{{ comment.author.user_image.url }}" title="{{ comment.author.nickname }}" class="profile_image_comment">
            </a>
            <div class="comment_aria_list_1">
                <p>{{ comment.author.nickname }}</p>
                <time>{{ comment.created|date:'Y/m/d H:i' }}</time>
            </div>
            <div class="comment_aria_list_2">{{ comment.text|linebreaksbr|urlize }}</div>
        </div>
        {% endif %}
    {% endfor %}

    {% for reply in reply_list %}
        {% if reply.parent.id == comment_id %}
        <div id="comment_aria_list_{{ reply.id }}" class="comment_aria_list">
            <a href="{% url 'myus:userpage' reply.author.nickname %}">
                <img src="{{ reply.author.user_image.url }}" title="{{ reply.author.nickname }}" class="profile_image_comment">
            </a>
            <div class="comment_aria_list_1">
                <p>{{ reply.author.nickname }}</p>
                <time>{{ reply.created|date:'Y/m/d H:i' }}</time>
            </div>
            <div id="comment_aria_list_2_{{ reply.id }}" class="comment_aria_list_2">{{ reply.text|linebreaksbr|urlize }}</div>
            {% if reply.author.id == user.id %}
                {% include 'parts/modal_content_reply.html' %}
            {% endif %}
        </div>
        <div id="edit_update_main_{{ reply.id }}" class="edit_update_main_chat">
            <a href="{% url 'myus:userpage' reply.author.nickname %}">
                <img src="{{ reply.author.user_image.url }}" title="{{ reply.author.nickname }}" class="profile_image_comment">
            </a>
            <form method="POST" action="{% url 'myus:chat_message_update' reply.id %}" obj-id="{{ reply.id }}" class="comment_form_update">
                {% csrf_token %}
                <textarea name="update_text" rows="1" class="textarea_br" placeholder="メッセージ入力" id="comment_form_update_{{ reply.id }}" required>{{ reply.text }}</textarea>
                <div class="chat_frame"></div>
                <div class="comment_input_chat"></div>
                <div class="edit_update_footer">
                    <input type="button" name="cancel" value="キャンセル" obj-id="{{ reply.id }}" class="btn btn-light btn-xs edit_update_cancel">
                    <input type="submit" name="update" value="更新" class="btn btn-success btn-xs">
                </div>
            </form>
        </div>
        {% endif %}
    {% endfor %}
    <div id="reply_aria_add"></div>

    <footer class="chat_footer_thread">
        <form method="POST" action="{% url 'myus:chat_reply' %}" id="reply_form" obj-id="{{ object.id }}" comment-id="{{ comment_id }}">{% csrf_token %}
            {% if is_period %}
            <textarea name="reply" rows="1" class="textarea_br" placeholder="チャット期間が過ぎています！" disabled="disabled"></textarea>
            <div class="chat_frame chat_frame_color"></div>
            <div class="comment_input_chat">
                <button type="submit" class="btn btn-secondary btn-sm" title="送信" disabled>
                    <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
                </button>
            </div>
            {% elif user.is_authenticated %}
            <textarea name="reply" rows="1" class="textarea_br" placeholder="スレッド返信" required></textarea>
            <div class="chat_frame"></div>
            <div class="comment_input_chat">
                <button type="submit" class="btn btn-primary btn-sm" title="送信">
                    <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
                </button>
            </div>
            {% else %}
            <textarea name="reply" rows="1" class="textarea_br" placeholder="チャットするにはログインが必要です！" disabled="disabled"></textarea>
            <div class="chat_frame chat_frame_color"></div>
            <div class="comment_input_chat">
                <button type="submit" class="btn btn-secondary btn-sm" title="送信" disabled>
                    <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
                </button>
            </div>
            {% endif %}
        </form>
    </footer>
</div>
