{% load humanize %}

<div class="chat_section_main">
    <div class="chat_section_main_area">
        {% for comment in comment_list %}
            <div id="comment_aria_list_{{ comment.id }}" class="comment_aria_list">
                <a href="{% url 'myus:userpage' comment.author.nickname %}">
                    <img src="{{ comment.author.user_image.url }}" title="{{ comment.author.nickname }}" class="profile_image_comment">
                </a>
                <div class="comment_aria_list_1">
                    <p>{{ comment.author.nickname }}</p>
                    <time>{{ comment.created|date:'Y/m/d H:i' }}</time>
                </div>
                <div id="comment_aria_list_2_{{ comment.id }}" class="comment_aria_list_2">{{ comment.text|linebreaksbr|urlize }}</div>
                <a href="{% url 'myus:chat_thread' object.pk object.title comment.id %}" class="comment_aria_thread">
                    スレッド表示
                    <span id="reply_count_{{ comment.id }}">返信 {{ comment.reply_count|intcomma }} 件</span>
                </a>
                {% if comment.author.id == user.id %}
                    {% include 'parts/modal_content_comment.html' %}
                {% endif %}
            </div>
            <div id="edit_update_main_{{ comment.id }}" class="edit_update_main_chat">
                <a href="{% url 'myus:userpage' comment.author.nickname %}">
                    <img src="{{ comment.author.user_image.url }}" title="{{ comment.author.nickname }}" class="profile_image_comment">
                </a>
                <form method="POST" action="{% url 'myus:chat_message_update' comment.id %}" obj-id="{{ comment.id }}" class="comment_form_update">
                    {% csrf_token %}
                    <textarea name="update_text" rows="1" class="textarea_br" placeholder="メッセージ入力" id="comment_form_update_{{ comment.id }}" required>{{ comment.text }}</textarea>
                    <div class="chat_frame"></div>
                    <div class="comment_input_chat"></div>
                    <div class="edit_update_footer">
                        <input type="button" name="cancel" value="キャンセル" obj-id="{{ comment.id }}" class="btn btn-light btn-xs edit_update_cancel">
                        <input type="submit" name="update" value="更新" class="btn btn-success btn-xs">
                    </div>
                </form>
            </div>
        {% endfor %}
        <div id="comment_aria_add"></div>
    </div>

    <footer class="chat_footer_main" id="footer">
        <form method="POST" action="{% url 'myus:chat_message' %}" id="comment_form" obj-id="{{ object.id }}">{% csrf_token %}
            {% if is_period %}
            <textarea name="text" rows="1" class="textarea_br" placeholder="チャット期間が過ぎています！" disabled="disabled"></textarea>
            <div class="chat_frame chat_frame_color"></div>
            <div class="comment_input_chat">
                <button type="submit" class="btn btn-secondary btn-sm" title="送信" disabled>
                    <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
                </button>
            </div>
            {% elif user.is_authenticated %}
            <textarea name="text" rows="1" class="textarea_br" placeholder="メッセージ入力" required></textarea>
            <div class="chat_frame"></div>
            <div class="comment_input_chat">
                <button type="submit" class="btn btn-primary btn-sm" title="送信">
                    <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
                </button>
            </div>
            {% else %}
            <textarea name="text" rows="1" class="textarea_br" placeholder="チャットするにはログインが必要です！" disabled="disabled"></textarea>
            <div class="chat_frame chat_frame_color"></div>
            <div class="comment_input_chat">
                <button type="submit" class="btn btn-secondary btn-sm" title="送信" disabled>
                    <i class="bi bi-caret-right-fill" style="font-size: 1.2em;"></i>
                </button>
            </div>
            {% endif %}
        </form>
    </footer>
</div>
