{% for notify in notify_setting_list %}
<table id="notification_table">
    <thead>
        <tr><th class="td-color td-header">通知設定</th><th class="td-indent td-header">フォローしているユーザの投稿通知などを設定</th></tr>
    </thead>
    <tbody>
        <tr><td class="td-color">Movie通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.video }}" notify-type="video">
                {% if notify.video %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">Live通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.live }}" notify-type="live">
                {% if notify.live %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">Music通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.music }}" notify-type="music">
                {% if notify.music %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">Picture通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.picture }}"  notify-type="picture">
                {% if notify.picture %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">Blog通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.blog }}" notify-type="blog">
                {% if notify.blog %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">Chat通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.chat }}" notify-type="chat">
                {% if notify.chat %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">Collabo通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.collabo }}" notify-type="collabo">
                {% if notify.collabo %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">フォロー通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.follow }}" notify-type="follow">
                {% if notify.follow %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">返信通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.reply }}" notify-type="reply">
                {% if notify.reply %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
        <tr><td class="td-color">いいね通知</td><td class="td-indent">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.like }}" notify-type="like">
                {% if notify.like %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
    </tbody>
    <tfoot>
        <tr><td class="td-color td-footer">閲覧数通知</td><td class="td-indent td-footer">
            <form method="POST" action="{% url 'myus:notification_on_off' %}" notify="{{ notify.views }}" notify-type="views">
                {% if notify.views %}
                <svg class="bi bi-toggle-on toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
                {% else %}
                <svg class="bi bi-toggle-off toggle_button" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                </svg>
                {% endif %}
            </form>
        </td></tr>
    </tfoot>
</table>
{% endfor %}
