.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  padding: 0 8px;
  color: rgb(60, 60, 60);
  background: none;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  cursor: pointer;

  &:hover:not(.disabled) {
    background: rgb(245, 245, 245);
  }

  &.disabled {
    color: rgb(180, 180, 180);
    cursor: default;
  }
}
