.horizontal {
  display: flex;
  flex-direction: row;

  &.full > * {
    width: 100%;
  }

  &.justify_start {
    justify-content: flex-start;
  }

  &.justify_center {
    justify-content: center;
  }

  &.justify_end {
    justify-content: flex-end;
  }

  &.justify_around {
    justify-content: space-around;
  }

  &.justify_between {
    justify-content: space-between;
  }

  &.justify_evenly {
    justify-content: space-evenly;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}
