.horizontal {
  display: flex;
  flex-direction: row;

  &.full > * {
    width: 100%;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.start {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.around {
    justify-content: space-around;
  }

  &.between {
    justify-content: space-between;
  }

  &.evenly {
    justify-content: space-evenly;
  }

  &.align_start {
    align-items: flex-start;
  }

  &.align_center {
    align-items: center;
  }

  &.align_end {
    align-items: flex-end;
  }

  &.align_baseline {
    align-items: baseline;
  }

  &.align_stretch {
    align-items: stretch;
  }
}
