{% extends 'base2.html' %}
{% block title %}<title>MyUsライブ</title>{% endblock title %}
{% load static %}
{% load humanize %}

{% block content %}
<main class="main_contents">
    <article class="article_detail">
    {% if object.publish %}
        <div class="main-image-color">
            <div class="main-image">
                <video-js id="video" class="video-js vjs-fluid vjs-big-play-centered vjs-16-9" controls controlsList="nodownload" poster="{{ object.images.url }}" data-setup='{"playbackRates": [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2]}'>
                    <source src="{{ object.lives.url }}" type="video/mp4" label="2160p" res="2160">
                    <source src="{{ object.lives.url }}" type="video/mp4" label="1080p" res="1080">
                    <source src="{{ object.lives.url }}" type="video/mp4" label="720p" res="720">
                    <source src="{{ object.lives.url }}" type="video/mp4" label="480p" res="480">
                    <source src="{{ object.lives.url }}" type="video/mp4" label="240p" res="240">
                    <track kind="captions" src="{% static 'vtt/captions.ja.vtt' %}" srclang="en" label="English">
                    <track kind="subtitles" src="{% static 'vtt/captions.ja.vtt' %}" srclang="en" label="English">
                    <p class="vjs-no-js">この動画を見るには、JavaScriptを有効にしてください!
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video-js>
            </div>
        </div>

        <div class="article_detail_section_side">
            <div class="article_detail_section_1">
                {% include 'parts/common/common.html' %}
            </div>
            <div class="article_detail_section_2">
                {% include 'parts/article_live_detail.html' %}
            </div>
        </div>
        {% else %}
        <h2 class="unpublished">非公開に設定されてます!</h2>
    {% endif %}
    </article>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/ajax.js' %}"></script>
{% comment %} <script src="{% static 'js/videojs-http-streaming.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="//cdn.jsdelivr.net/hls.js/latest/hls.min.js"></script> {% endcomment %}
{% comment %} <script>var player = videojs('video'); player.play();</script> {% endcomment %}
{% endblock extrajs %}
